@media (max-width: 1199px) {
    .KE1821S-counter {
        font-size: 85px;
    }

    .KE1821S-description {
        font-size: 26px;
    }

    /* section intro */
    .KE1821S-intro {
        height: 570px;

        .KE1821S-counter {
            top: 50px;
        }

        .KE1821S-title {
            top: 275px;
            font-size: 46px;
        }

        .KE1821S-description {
            top: 405px;
        }

        .KE1821S-media-figure {
            top: 145px;
            width: 400px;
            height: 324px;

            &::after {
                width: 480px;
                height: 54px;
            }
        }
    }
    /* section intro end */

    /* section filter */
    .KE1821S-filter {
        height: 530px;

        .KE1821S-counter {
            top: 35px;
        }

        .KE1821S-title {
            top: 265px;
            font-size: 46px;
        }

        .KE1821S-description {
            top: 390px;
        }

        .KE1821S-media-figure {
            width: 575px;
            height: 642px;

            &::after {
                right: 25%;
                width: 158px;
                height: 6px;
            }
        }
    }
    /* section filter end */

    /* section ergonomics */
    .KE1821S-ergonomics {
        height: 780px;

        .KE1821S-counter {
            top: 75px;
        }

        .KE1821S-title {
            top: 305px;
            font-size: 46px;
        }

        .KE1821S-media-figure {
            top: 60px;
            width: 425px;
            height: 453px;

            &::after {
                top: 18%;
                left: -15%;
                width: 290px;
                height: 140px;
            }
        }
    }
    /* section ergonomics end */

    /* section size */
    .KE1821S-size {
        height: 640px;
        margin-top: -240px;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 335px;
            font-size: 94px;
        }

        .KE1821S-media-figure {
            top: 285px;
            left: 30px;
            right: 30px;
            width: 230px;
            height: 210px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1821S-stand {
        height: 660px;
        margin-top: -110px;

        .KE1821S-counter {
            top: 205px;
        }

        .KE1821S-title {
            top: 410px;
            font-size: 46px;
        }

        .KE1821S-media-figure {
            top: 200px;
            width: 474px;
            height: 402px;

            &::after {
                width: 380px;
                height: 45px;
            }
        }
    }
    /* section stand end */

    /* section design */
    .KE1821S-design {
        height: 590px;

        .KE1821S-counter {
            top: 70px;
        }

        .KE1821S-title {
            top: 295px;
            font-size: 46px;
        }

        .KE1821S-description {
            top: 420px;
        }

        .KE1821S-media-figure {
            top: 115px;
            width: 395px;
            height: 376px;

            &::after {
                left: -35%;
                width: 280px;
                height: 8px;
            }
        }
    }
    /* section design end */
}

@media (max-width: 991px) {
    .KE1821S-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .KE1821S-counter {
        font-size: 72px;
    }

    .KE1821S-description {
        font-size: 22px;
    }

    /* section intro */
    .KE1821S-intro {
        height: 485px;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 230px;
            font-size: 40px;
        }

        .KE1821S-description {
            top: 345px;
        }

        .KE1821S-media-figure {
            top: 125px;
            width: 340px;
            height: 275px;

            &::after {
                left: -30%;
                width: 340px;
                height: 38px;
            }
        }
    }
    /* section intro end */

    /* section filter */
    .KE1821S-filter {
        height: 450px;

        .KE1821S-counter {
            top: 30px;
        }

        .KE1821S-title {
            top: 225px;
            font-size: 40px;
        }

        .KE1821S-description {
            top: 330px;
        }

        .KE1821S-media-figure {
            left: -20%;
            right: -20%;
            width: 480px;
            height: 535px;

            &::after {
                right: 25%;
                width: 134px;
                height: 5px;
            }
        }
    }
    /* section filter end */

    /* section ergonomics */
    .KE1821S-ergonomics {
        height: 660px;

        .KE1821S-counter {
            top: 60px;
        }

        .KE1821S-title {
            top: 260px;
            font-size: 40px;
        }

        .KE1821S-media-figure {
            top: 50px;
            width: 360px;
            height: 384px;

            &::after {
                top: 18%;
                left: -15%;
                width: 245px;
                height: 118px;
            }
        }
    }
    /* section ergonomics end */

    /* section size */
    .KE1821S-size {
        height: 545px;
        margin-top: -205px;

        .KE1821S-counter {
            top: 35px;
        }

        .KE1821S-title {
            top: 285px;
            font-size: 78px;
        }

        .KE1821S-media-figure {
            top: 240px;
            left: 0;
            right: 0;
            width: 195px;
            height: 178px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1821S-stand {
        height: 560px;
        margin-top: -90px;

        .KE1821S-counter {
            top: 175px;
        }

        .KE1821S-title {
            top: 350px;
            font-size: 40px;
        }

        .KE1821S-media-figure {
            top: 170px;
            width: 400px;
            height: 340px;

            &::after {
                width: 320px;
                height: 38px;
            }
        }
    }
    /* section stand end */

    /* section design */
    .KE1821S-design {
        height: 500px;

        .KE1821S-counter {
            top: 60px;
        }

        .KE1821S-title {
            top: 250px;
            font-size: 40px;
        }

        .KE1821S-description {
            top: 355px;
        }

        .KE1821S-media-figure {
            top: 100px;
            width: 335px;
            height: 319px;

            &::after {
                left: -20%;
                width: 200px;
                height: 8px;
            }
        }
    }
    /* section design end */

    /* section  features */
    .KE1821S-features-grid {
        .KE1821S-feature-item {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    /* section  features end */
}

@media (max-width: 767px) {
    .KE1821S-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .KE1821S-counter {
        font-size: 28px;
    }

    .KE1821S-title,
    .KE1821S-subtitle,
    .KE1821S-description {
        max-width: 300px;
    }

    .KE1821S-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .KE1821S-subtitle {
        font-size: 24px !important;
    }

    .KE1821S-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .KE1821S-title[data-aos],
    .KE1821S-subtitle[data-aos],
    .KE1821S-description[data-aos],
    .KE1821S-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .KE1821S-title[data-aos].aos-animate,
    .KE1821S-subtitle[data-aos].aos-animate,
    .KE1821S-description[data-aos].aos-animate,
    .KE1821S-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .KE1821S-intro {
        height: 580px;

        .KE1821S-title {
            top: 115px;
        }

        .KE1821S-description {
            top: 195px;
        }

        .KE1821S-media-figure {
            top: 295px;
            left: 0;
            right: 0;
            width: 340px;
            height: 275px;

            &::after {
                display: none;
            }
        }
    }
    /* section intro end */

    /* section filter */
    .KE1821S-filter {
        height: 720px;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 115px;
        }

        .KE1821S-description {
            top: 195px;
        }

        .KE1821S-media-figure {
            top: 290px;
            width: 480px;
            height: 535px;

            &::after {
                display: none;
            }
        }
    }
    /* section filter end */

    /* section ergonomics */
    .KE1821S-ergonomics {
        height: 555px;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 115px;
        }

        .KE1821S-media-figure {
            top: 200px;
            width: 310px;
            height: 330px;

            &::after {
                display: none;
            }
        }
    }
    /* section ergonomics end */

    /* section size */
    .KE1821S-size {
        height: 400px;
        margin-top: 0;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 175px;
            font-size: 40px !important;
        }

        .KE1821S-media-figure {
            top: 150px;
            left: 0;
            right: 0;
            width: 98px;
            height: 90px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1821S-stand {
        height: 560px;
        margin-top: 0;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 115px;
        }

        .KE1821S-media-figure {
            top: 250px;
            width: 340px;
            height: 290px;

            &::after {
                width: 272px;
                height: 32px;
                transform: translateX(-46.5%);
            }
        }
    }
    /* section stand end */

    /* section design */
    .KE1821S-design {
        height: 615px;

        .KE1821S-counter {
            top: 40px;
        }

        .KE1821S-title {
            top: 115px;
        }

        .KE1821S-description {
            top: 195px;
        }

        .KE1821S-media-figure {
            top: 310px;
            width: 284px;
            height: 270px;

            &::after {
                display: none;
            }
        }
    }
    /* section design end */
    
    /* section features */
    .KE1821S-features-grid {
        .KE1821S-feature-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /* section features end */
}

@media (max-width: 375px) {
    /* section  features */
    .KE1821S-features-grid {
        .KE1821S-feature-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* section  features end */
}
