:root {
    --c-default: #313131;
    --case-figure-height: 1219px;
}

.KE2021S-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 2160px;
        padding-left: 7.4%;
        padding-right: 7.4%;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .KE2021S-title,
    .section-dark .KE2021S-subtitle,
    .section-dark .KE2021S-description {
        color: #fff;
    }
}

.KE2021S-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.KE2021S-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.KE2021S-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .KE2021S-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.KE2021S-intro {
    height: 1395px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    .container {
        padding-left: 4.85%;
        padding-right: 4.85%;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 2160px auto;
    }

    &-logo,
    &-model,
    &-title,
    &-description {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-logo {
        top: 145px;
        width: 72px;
        height: 424px;
    }

    &-model {
        top: 415px;
        left: 130px;
        color: #58d2f8;
        font-size: 154px;
        font-weight: 500;
        line-height: 1;
    }

    &-title {
        top: 130px;
        left: 130px;
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;
    }

    &-description {
        top: 620px;
        font-size: 106px;
        font-weight: 400;
        line-height: 1.28;
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        width: 1138px;
        height: 1102px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section intro end */

/* section capacity */
.KE2021S-capacity {
    height: 1305px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: #535766;
    text-align: right;

    &-title,
    &-description,
    &-value {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 50px;
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;
    }

    &-description {
        top: 480px;
        font-size: 90px;
        font-weight: 400;
        line-height: normal;
    }

    &-value {
        top: 170px;
        color: #1775b0;
        font-size: 146px;
        font-weight: 500;
        line-height: 1;

        .text-lead {
            display: inline-block;
            font-size: 132%;
        }

        &.aos-animate {
            .text-lead {
                animation: 1200ms zoom-in 400ms forwards;
            }
        }
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        top: -340px;
        left: auto;
        right: 8%;
        width: 1460px;
        height: 1546px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    @keyframes zoom-in {

        0%,
        100% {
            transform: scale(1);
        }

        45%,
        55% {
            transform: scale(1.1);
        }
    }
}

/* section capacity end */

/* section presentation */
.KE2021S-presentation {
    // height: 5400px;
    padding-top: 0;
    padding-bottom: 0;

    &-scene {
        height: 1350px;
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        top: 95px;
        left: 15px;
        right: 15px;
        width: 1032px;
        height: 1000px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section presentation end */

/* section power */
.KE2021S-power {
    &-block {
        position: absolute;
        top: 1120px;
        left: 15px;
        right: 15px;
        text-align: center;
    }

    &-title {
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;

        .text-lead {
            font-size: 125.45%;
        }
    }
}

/* section power end */

/* section indicator */
.KE2021S-indicator {
    &-block {
        position: absolute;
        top: 1120px;
        left: 15px;
        right: 15px;
        text-align: center;
    }

    &-title {
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;
    }
}

/* section indicator end */

/* section poweroff */
.KE2021S-poweroff {
    &-block {
        position: absolute;
        top: 1120px;
        left: 15px;
        right: 15px;
        text-align: center;
    }

    &-title {
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;
    }
}

/* section poweroff end */

/* section heating element */
.KE2021S-heating-element {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(45deg, #bfe8f7, #fff);
    color: #3d404b;
    text-align: right;

    &-title,
    &-description {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 290px;
        color: #1775b0;
        font-size: 110px;
        line-height: 1.24;
    }

    &-description {
        top: 760px;
        font-size: 80px;
        font-weight: 400;
        line-height: normal;
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        width: 1084px;
        height: 1695px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-heat {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 18%;
        left: 46.5%;
        width: 41%;
        height: 21.75%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;

        .aos-animate & {
            animation: 1600ms fade-in-and-out 600ms forwards;
        }
    }

    @keyframes fade-in-and-out {

        0%,
        100% {
            opacity: 0;
        }

        40%,
        60% {
            opacity: 1;
        }
    }
}

/* section heating element end */

/* section material */
.KE2021S-material {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    &-title,
    &-subtitle {
        position: absolute;
        left: 7.5%;
        right: 15px;
    }

    &-title {
        top: 660px;
        color: #bfe8f7;
        font-size: 110px;
        font-weight: 500;
        line-height: 1.24;
    }

    &-subtitle {
        top: 960px;
        font-size: 90px;
        line-height: normal;
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 755px;
        height: 1261px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section material end */