@media (max-width: 1980px) {
    /* section intro */
    .KT723P-intro {
        height: 1150px;

        &-logo {
            top: 605px;
            width: 560px;
            height: 95px;
        }

        &-title {
            top: 750px;
            font-size: 140px;
        }

        &-model {
            top: 890px;
            font-size: 142px;
        }

        &-figure {
            top: 140px;
            width: 968px;
            height: 930px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 1150px;

        &-title {
            top: 85px;
            font-size: 110px;
        }

        &-value {
            top: 230px;
            font-size: 160px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: calc(min(100vh, 1150px));

        &-bg {
            background-size: 1980px auto;
        }

        &-block {
            top: calc(min(56.95vh, 655px));
        }

        &-title {
            font-size: 142px;
        }

        &-subtitle {
            font-size: 110px;
        }

        &-figure {
            top: calc(min(7.82vh, 90px));
            width: 750px;
            height: 932px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: calc(min(100vh, 1150px));

        &-block {
            top: calc(min(60vh, 690px));
        }

        &-title {
            font-size: 142px;
        }

        &-subtitle {
            font-size: 110px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 1150px;

        &-title {
            top: 185px;
            font-size: 110px;
        }

        &-figure {
            top: 400px;
            width: 1578px;
            height: 524px;
        }
    }

    /* section pallet end */
}

@media (max-width: 1680px) {
    /* section intro */
    .KT723P-intro {
        height: 980px;

        &-logo {
            top: 515px;
            width: 474px;
            height: 80px;
        }

        &-title {
            top: 640px;
            font-size: 118px;
        }

        &-model {
            top: 755px;
            font-size: 120px;
        }

        &-figure {
            top: 120px;
            width: 820px;
            height: 788px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 980px;

        &-title {
            top: 75px;
            font-size: 94px;
        }

        &-value {
            top: 195px;
            font-size: 134px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: calc(min(100vh, 980px));

        &-bg {
            background-size: 1680px auto;
        }

        &-block {
            top: calc(min(56.63vh, 555px));
        }

        &-title {
            font-size: 120px;
        }

        &-subtitle {
            font-size: 94px;
        }

        &-figure {
            top: calc(min(9.18vh, 90px));
            width: 634px;
            height: 788px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: calc(min(100vh, 980px));

        &-block {
            top: calc(min(59.7vh, 585px));
        }

        &-title {
            font-size: 120px;
        }

        &-subtitle {
            font-size: 94px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 980px;

        &-title {
            top: 155px;
            font-size: 94px;
        }

        &-figure {
            top: 340px;
            width: 1340px;
            height: 445px;
        }
    }

    /* section pallet end */
}

@media (max-width: 1440px) {
    /* section intro */
    .KT723P-intro {
        height: 835px;

        &-logo {
            top: 440px;
            width: 400px;
            height: 68px;
        }

        &-title {
            top: 545px;
            font-size: 100px;
        }

        &-model {
            top: 640px;
            font-size: 100px;
        }

        &-figure {
            top: 100px;
            width: 694px;
            height: 667px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 835px;

        &-title {
            top: 65px;
            font-size: 80px;
        }

        &-value {
            top: 165px;
            font-size: 112px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: calc(min(100vh, 835px));

        &-bg {
            background-size: 1440px auto;
        }

        &-block {
            top: calc(min(56.28vh, 470px));
        }

        &-title {
            font-size: 100px;
        }

        &-subtitle {
            font-size: 80px;
        }

        &-figure {
            top: calc(min(8.98vh, 75px));
            width: 538px;
            height: 668px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: calc(min(100vh, 835px));

        &-block {
            top: calc(min(59.88vh, 500px));
        }

        &-title {
            font-size: 100px;
        }

        &-subtitle {
            top: calc(min(73.05vh, 610px));
            font-size: 80px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 835px;

        &-title {
            top: 130px;
            font-size: 80px;
        }

        &-figure {
            top: 290px;
            width: 1140px;
            height: 378px;
        }
    }

    /* section pallet end */
}
@media (max-width: 1199px) {
    :root {
        --container-padding-x: 50px;
    }

    .KT723P-landing {
        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }
    }

    /* section intro */
    .KT723P-intro {
        height: 710px;

        &-logo {
            top: 375px;
            width: 340px;
            height: 58px;
        }

        &-title {
            top: 465px;
            font-size: 84px;
        }

        &-model {
            top: 545px;
            font-size: 84px;
        }

        &-figure {
            top: 85px;
            left: 15px;
            right: 15px;
            width: 584px;
            height: 562px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 710px;

        &-title {
            top: 55px;
            font-size: 68px;
        }

        &-value {
            top: 140px;
            font-size: 94px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: 710px;

        &-bg {
            background-size: 1200px auto;
        }

        &-block {
            top: 400px;
        }

        &-title {
            font-size: 80px;
        }

        &-subtitle {
            font-size: 68px;
        }

        &-figure {
            top: 75px;
            width: 454px;
            height: 564px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: 710px;

        &-block {
            top: 425px;
        }

        &-title {
            font-size: 80px;
        }

        &-subtitle {
            top: 520px;
            font-size: 68px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 710px;

        &-title {
            top: 110px;
            font-size: 68px;
        }

        &-figure {
            top: 245px;
            width: 970px;
            height: 322px;
        }
    }

    /* section pallet end */
}

@media (max-width: 991px) {
    :root {
        --container-padding-x: 30px;
    }

    /* section intro */
    .KT723P-intro {
        height: 605px;

        &-logo {
            top: 325px;
            width: 238px;
            height: 40px;
        }

        &-title {
            top: 390px;
            font-size: 64px;
        }

        &-model {
            top: 460px;
            font-size: 64px;
        }

        &-figure {
            top: 70px;
            left: 30px;
            right: 30px;
            width: 496px;
            height: 476px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 605px;

        &-title {
            top: 45px;
            font-size: 58px;
        }

        &-value {
            top: 120px;
            font-size: 80px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: 605px;

        &-bg {
            background-size: 991px auto;
        }

        &-block {
            top: 350px;
        }

        &-title {
            font-size: 68px;
        }

        &-subtitle {
            top: 450px;
            font-size: 54px;
        }

        &-figure {
            top: 120px;
            width: 340px;
            height: 422px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: 605px;

        &-block {
            top: 360px;
        }

        &-title {
            font-size: 68px;
        }

        &-subtitle {
            top: 440px;
            font-size: 54px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 605px;

        &-title {
            top: 95px;
            font-size: 54px;
        }

        &-figure {
            top: 210px;
            width: 730px;
            height: 242px;
        }
    }

    /* section pallet end */
}

@media (max-width: 767px) {
    .KT723P-landing {
        .container {
            padding-left: 5px;
            padding-right: 5px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .KT723P-title,
    .KT723P-subtitle,
    .KT723P-description,
    .KT723P-intro-title,
    .KT723P-intro-model,
    .KT723P-power-title,
    .KT723P-power-value,
    .KT723P-levels-title,
    .KT723P-levels-subtitle,
    .KT723P-poweroff-title,
    .KT723P-poweroff-subtitle,
    .KT723P-pallet-title {
        max-width: 300px;
    }

    .KT723P-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .KT723P-subtitle {
        font-size: 24px !important;
    }

    .KT723P-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .KT723P-title[data-aos],
    .KT723P-subtitle[data-aos],
    .KT723P-description[data-aos],
    .KT723P-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .KT723P-title[data-aos].aos-animate,
    .KT723P-subtitle[data-aos].aos-animate,
    .KT723P-description[data-aos].aos-animate,
    .KT723P-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .KT723P-intro {
        height: 540px;

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-logo {
            top: 40px;
            width: 138px;
            height: 24px;
        }

        &-title {
            top: 75px;
            font-size: 38px;
        }

        &-model {
            top: 115px;
            font-size: 38px;
        }

        &-figure {
            top: 190px;
            left: 0;
            right: 0;
            width: 348px;
            height: 335px;
        }
    }

    /* section intro end */

    /* section power */
    .KT723P-power {
        height: 500px;

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-value {
            top: 75px;
            font-size: 38px;
        }
    }

    /* section power end */

    /* section levels */
    .KT723P-levels {
        height: 245px;

        &-bg {
            background-size: 991px auto;
            background-position: center 50%;
        }

        &-block {
            top: 140px;
        }

        &-title {
            font-size: 25px;
        }

        &-subtitle {
            font-size: 18px;
        }

        &-figure {
            top: 10px;
            left: 0;
            right: 0;
            width: 180px;
            height: 224px;
        }
    }

    /* section levels end */

    /* section poweroff */
    .KT723P-poweroff {
        height: 245px;

        &-block {
            top: 155px;
        }

        &-title {
            font-size: 25px;
        }

        &-subtitle {
            font-size: 18px;
        }
    }

    /* section poweroff end */

    /* section pallet */
    .KT723P-pallet {
        height: 220px;

        &-title {
            top: 20px;
            font-size: 22px;
        }

        &-figure {
            top: 70px;
            width: 324px;
            height: 108px;
        }
    }

    /* section pallet end */
}
