.HD2001-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .HD2001-title,
    .section-dark .HD2001-subtitle,
    .section-dark .HD2001-description {
        color: #fff;
    }
}

.HD2001-title {
    margin: 0 0 20px;
    color: #404040;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.HD2001-description {
    margin: 0 0 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.HD2001-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .HD2001-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.HD2001-intro {
    overflow: hidden;
    position: relative;
    height: 765px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fcc800;

    .HD2001-title,
    .HD2001-subtitle,
    .HD2001-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
        text-align: right;
    }

    .HD2001-title {
        top: 395px;
        font-size: 140px;
        font-style: italic;
        font-weight: 900;
        line-height: 0.9;
    }

    .HD2001-logo {
        position: absolute;
        top: 675px;
        left: 15px;
        right: 15px;
        width: 206px;
        height: 36px;
        margin: 0 0 0 auto;
    }

    .HD2001-media-figure {
        position: absolute;
        z-index: 1;
        top: 35px;
        left: 15px;
        right: 15px;
        width: 532px;
        height: 732px;
        margin: auto;

        .HD2001-media {
            width: inherit;
            height: inherit;
        }
    }
}

#HD2001-intro-parallax {
    width: 100%;
    height: 100%;
}
/* section intro end */

/* section power */
.HD2001-power {
    overflow: hidden;
    position: relative;
    height: 765px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fefdf8;
    background-position: left center !important;
    background-size: 135% !important;

    .HD2001-title,
    .HD2001-subtitle,
    .HD2001-description {
        position: absolute;
        z-index: 9;
        left: -35%;
        right: 15px;
        color: #2f3665;
    }

    .HD2001-title {
        top: 335px;
        font-size: 150px;
        font-style: italic;
        font-weight: 900;
        line-height: 0.2;
        &[data-aos='fade-right']:not(.aos-animate) {
            transform: translateX(-30%);
        }

        &.aos-animate {
            &::before {
                opacity: 0;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                width: 90%;
                padding-top: 60%;
                transform: translate(-80%, -50%);
                border-radius: 50%;
                background: rgba($color: #fff, $alpha: 0.75);
                filter: blur(30px);
                animation: fade-in 0.3s 0.3s linear forwards;
                content: '';
            }
        }

        .text-lead {
            font-size: 146%;
            font-weight: inherit;
        }

        @keyframes fade-in {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .HD2001-media-figure {
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 15px;
        right: 15px;
        width: 598px;
        height: 818px;
        margin: auto;

        .HD2001-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section power end */

/* section freeze */
.HD2001-freeze {
    overflow: hidden;
    position: relative;
    height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e2eff8;
    background-size: 115% !important;
    background-position: center top !important;

    .HD2001-title,
    .HD2001-subtitle,
    .HD2001-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: #172a4e;
    }

    .HD2001-title {
        top: 340px;
        font-size: 74px;
        font-style: italic;
        font-weight: 900;
        line-height: 0.85;
    }

    .HD2001-media-figure {
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 15px;
        right: 15px;
        width: 455px;
        height: 815px;
        margin: auto;

        .HD2001-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section freeze end */

/* section mode */
.HD2001-mode {
    overflow: hidden;
    position: relative;
    height: 710px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f2d6c7;
    background-position: calc(0px - 32vw) 95% !important;
    color: #3e3c3c;

    &::after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 58%;
        height: 100%;
        background-color: inherit;
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        content: '';
    }

    .HD2001-title,
    .HD2001-subtitle,
    .HD2001-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .HD2001-title,
    .HD2001-subtitle {
        top: 550px;
    }

    .HD2001-title {
        display: flex;
        gap: 30px;
        font-size: 62px;
        font-style: italic;
        font-weight: 900;
        color: #f1cdbb !important;
        text-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        line-height: 0.9;

        &-counter {
            font-size: 225%;
            line-height: 0.8;
        }
    }

    .HD2001-subtitle {
        overflow: hidden;
        font-size: 60px;
        font-style: italic;
        font-weight: 900;
        line-height: 0.9;
    }

    .HD2001-media-figure {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        height: 710px;
        margin: auto;

        .HD2001-media-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 60px 55%;
            background-size: 100%;
            transition: transform 800ms ease;

            &.layer-1 {
                background-image: url('../images/section-mode/animation/HD2001-mode-media-static-01.png');
            }

            &.layer-2 {
                background-image: url('../images/section-mode/animation/HD2001-mode-media-static-02.png');
            }

            &.layer-3 {
                background-image: url('../images/section-mode/animation/HD2001-mode-media-static-03.png');
            }
        }

        &.aos-animate {
            .HD2001-media-layer {
                &.layer-2 {
                    transform: translate(-25%, 3%);
                }
            }
        }
    }
}
/* section mode end */

/* section features */
.HD2001-features {
    padding-top: 70px;
    padding-bottom: 70px;

    .HD2001-title {
        font-size: 35px;
        text-align: center;
    }
}

.HD2001-feature-card {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #434343;
}

.HD2001-feature-media {
    width: 110px;
    height: 110px;
    margin: 0 auto 15px;
}

.HD2001-feature-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.38;
    color: inherit;
}

.HD2001-features-grid {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px -10px -30px;

    &::before,
    &::after {
        display: none;
    }

    .HD2001-feature-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* section features end */
