@media (max-width: 1199px) {

    /* section screen */
    .P110-screen {
        height: 665px;

        &-title {
            top: 160px;
            font-size: 76px;
        }

        &-figure {
            width: 450px;
            height: 640px;
        }

        &-layer {
            &.layer-1 {
                width: 244px;
                height: 615px;
            }

            &.layer-2 {
                width: 244px;
                height: 614px;
            }
        }
    }

    /* section screen end */

    /* section speaker */
    .P110-speaker {
        height: 650px;

        &-title {
            top: 380px;
            font-size: 76px;
        }

        &-figure {
            top: 50px;
            left: 50px;
            right: 50px;
            width: 425px;
            height: 1354px;
        }
    }

    /* section speaker end */

    /* section battery */
    .P110-battery {
        height: 655px;

        &-title {
            font-size: 100px;
        }

        &-icon {
            top: 445px;
            width: 305px;
            height: 140px;
        }

        &-figure {
            top: 150px;
            width: 274px;
            height: 444px;
        }
    }

    /* section battery end */

    /* section powerbank */
    .P110-powerbank {
        height: 610px;

        &-title {
            top: 365px;
            font-size: 124px;
        }

        &-figure {
            top: 80px;
            width: 930px;
            height: 336px;

            &::before {
                height: 90px;
            }
        }

        &-indicator {
            border-width: 8px;
        }
    }

    /* section powerbank end */
}

@media (max-width: 991px) {
    .P110-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section screen */
    .P110-screen {
        height: 565px;

        &-title {
            top: 135px;
            font-size: 64px;
        }

        &-figure {
            width: 380px;
            height: 550px;
        }

        &-layer {
            &.layer-1 {
                width: 208px;
                height: 525px;
            }

            &.layer-2 {
                width: 208px;
                height: 525px;
            }
        }
    }

    /* section screen end */

    /* section speaker */
    .P110-speaker {
        height: 550px;

        &-title {
            top: 320px;
            font-size: 64px;
        }

        &-figure {
            top: 40px;
            left: 15px;
            right: 15px;
            width: 340px;
            height: 1084px;
        }
    }

    /* section speaker end */

    /* section battery */
    .P110-battery {
        height: 555px;

        &-title {
            font-size: 70px;
        }

        &-icon {
            top: 370px;
            width: 260px;
            height: 120px;
        }

        &-figure {
            top: 60px;
        }
    }

    /* section battery end */

    /* section powerbank */
    .P110-powerbank {
        height: 490px;

        &-title {
            top: 290px;
            font-size: 100px;
        }

        &-figure {
            top: 65px;
            width: 744px;
            height: 268px;

            &::before {
                height: 70px;
            }
        }

        &-indicator {
            border-width: 6px;

            span {
                border-radius: 14px;
            }
        }
    }

    /* section powerbank end */
}

@media (max-width: 767px) {
    .P110-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .P110-title,
    .P110-subtitle,
    .P110-description {
        max-width: 280px;
    }

    .P110-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .P110-subtitle {
        font-size: 24px !important;
    }

    .P110-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .P110-title[data-aos],
    .P110-subtitle[data-aos],
    .P110-description[data-aos],
    .P110-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .P110-title[data-aos].aos-animate,
    .P110-subtitle[data-aos].aos-animate,
    .P110-description[data-aos].aos-animate,
    .P110-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section screen */
    .P110-screen {
        height: 635px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-figure {
            top: 145px;
            width: 320px;
            height: 465px;
        }

        &-layer {
            &.layer-1 {
                width: 176px;
                height: 444px;
            }

            &.layer-2 {
                width: 176px;
                height: 444px;
            }
        }
    }

    /* section screen end */

    /* section speaker */
    .P110-speaker {
        height: 580px;

        &-sounds {
            top: 65%;
            left: 30%;
        }

        &-title {
            top: 40px;
            color: #fff;
            font-size: 28px;
            text-align: left;
        }

        &-figure {
            top: 170px;
            left: 15px;
            right: 15px;
            width: 300px;
            height: 956px;
        }
    }

    /* section speaker end */

    /* section battery */
    .P110-battery {
        height: 670px;

        &-title {
            top: 40px;
            font-size: 28px;
            text-align: left;

            .text-small {
                margin-top: 0.5em;
            }
        }

        &-icon {
            top: 115px;
            left: 110px;
            right: 15px;
            width: 50px;
            height: 23px;
        }

        &-figure {
            top: 180px;
        }
    }

    /* section battery end */

    /* section powerbank */
    .P110-powerbank {
        height: 380px;

        &-title {
            top: 40px;
            font-size: 28px;
            text-align: left;
        }

        &-figure {
            top: 130px;
            width: 340px;
            height: 123px;

            &::before {
                height: 40px;
            }
        }

        &-indicator {
            border-width: 4px;
            border-radius: 10px;

            span {
                border-radius: 10px;
            }
        }
    }

    /* section powerbank end */
}