@media (max-width: 1480px) {
    /* section intro */
    .HB621S-intro {
        background-position: right calc(100% + 110px) !important;
    }
    /* section intro end */
}

@media (max-width: 1199px) {
    /* section intro */
    .HB621S-intro {
        height: 620px;
        background-position: right calc(100% + 90px) !important;

        .HB621S-title {
            top: 90px;
            font-size: 105px;
        }

        .HB621S-text-block  {
            top: 390px;
            font-size: 54px;
        }

        .HB621S-logo-block {
            top: 40px;
            width: 134px;
            height: 23px;
        }

        .HB621S-media-figure  {
            height: 620px;

            .HB621S-media-layer,
            .HB621S-media-fruits {
                background-position: 50% 20%;
                background-size: auto 768px;
            }
        }
    }
    /* section intro end */

    /* section mode */
    .HB621S-mode {
        height: 640px;

        .HB621S-title {
            top: 60px;
            font-size: 52px;
        }

        .HB621S-text-block {
            top: 680px;
            left: calc(50% - 180px);
            font-size: 38px;
        }

        .HB621S-media-figure {
            top: 55px;
            height: 805px;

            .HB621S-media-layer {
                background-size: auto 995px;
            }
        }
    }
    /* section mode end */

    /* section nozzle */
    .HB621S-nozzle {
        height: 640px;

        .HB621S-text-block {
            top: 240px;
            font-size: 34px;
        }

        .HB621S-media-figure {
            width: 445px;
            height: 533px;
        }
    }
    /* section nozzle end */

    /* section equipment */
    .HB621S-equipment {
        height: 640px;

        .HB621S-title {
            top: 270px;
            font-size: 38px;
        }

        .HB621S-media-figure {
            top: 125px;
            width: 265px;
            height: 448px;
        }
    }
    /* section equipment end */
}

@media (max-width: 991px) {
    .HB621S-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section intro */
    .HB621S-intro {
        height: 540px;
        background-position: right bottom !important;

        .HB621S-title {
            top: 75px;
            font-size: 84px;
        }

        .HB621S-text-block  {
            top: 370px;
            font-size: 40px;
        }

        .HB621S-logo-block {
            top: 35px;
            width: 114px;
            height: 20px;
        }

        .HB621S-media-figure  {
            height: 540px;

            .HB621S-media-layer,
            .HB621S-media-fruits {
                background-position: 65% 60%;
                background-size: auto 650px;
            }
        }
    }
    /* section intro end */

    /* section mode */
    .HB621S-mode {
        height: 540px;

        .HB621S-title {
            top: 50px;
            gap: 10px;
            font-size: 40px;
        }

        .HB621S-text-block {
            top: 580px;
            left: calc(50% - 145px);
            font-size: 30px;
        }

        .HB621S-media-figure {
            top: 50px;
            height: 690px;

            .HB621S-media-layer {
                background-position: calc(50% + 15px) -5%;
                background-size: auto 825px;
            }
        }
    }
    /* section mode end */

    /* section nozzle */
    .HB621S-nozzle {
        height: 540px;

        .HB621S-text-block {
            top: 200px;
            font-size: 26px;
        }

        .HB621S-media-figure {
            width: 378px;
            height: 453px;
        }
    }
    /* section nozzle end */

    /* section equipment */
    .HB621S-equipment {
        height: 540px;

        .HB621S-title {
            top: 230px;
            font-size: 32px;
        }

        .HB621S-media-figure {
            top: 100px;
            width: 225px;
            height: 380px;

            .HB621S-media-scale {
                background: repeating-linear-gradient(
                transparent,
                transparent 23px, 
                currentColor 23px, 
                currentColor 24px);
            }
        }
    }
    /* section equipment end */

    /* section  features */
    .HB621S-features-grid {
        .HB621S-feature-item {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    /* section  features end */
}

@media (max-width: 767px) {
    .HB621S-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .HB621S-title,
    .HB621S-subtitle,
    .HB621S-description {
        max-width: 280px;
    }

    .HB621S-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .HB621S-subtitle {
        font-size: 24px !important;
    }

    .HB621S-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .HB621S-title[data-aos],
    .HB621S-subtitle[data-aos],
    .HB621S-description[data-aos],
    .HB621S-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .HB621S-title[data-aos].aos-animate,
    .HB621S-subtitle[data-aos].aos-animate,
    .HB621S-description[data-aos].aos-animate,
    .HB621S-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .HB621S-intro {
        height: 480px;
        background-position: right calc(100% + 30px) !important;
        background-size: auto 111% !important;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: blur(2px);
            content: '';
        }

        .HB621S-title {
            top: 75px;
            font-size: 40px !important;
            line-height: 1;
        }

        .HB621S-text-block  {
            top: 180px;
            font-size: 30px;

            .HB621S-text-thumbnail {
                display: none;
            }
        }

        .HB621S-media-figure  {
            height: 480px;

            .HB621S-media-layer,
            .HB621S-media-fruits {
                background-position: calc(100% + 75px) 40%;
                background-size: auto 600px;
            }
        }
    }
    /* section intro end */

    /* section mode */
    .HB621S-mode {
        height: 490px;

        .HB621S-title {
            top: 40px;
            justify-content: start;
            gap: 10px;
            font-size: 30px;
        }

        .HB621S-text-block {
            top: 520px;
            left: calc(50% - 45px);
            font-size: 24px;
        }

        .HB621S-media-figure {
            top: 125px;
            height: 500px;

            .HB621S-media-layer {
                background-position: calc(50% + 115px) 0;
                background-size: auto 620px;
            }
        }
    }
    /* section mode end */

    /* section nozzle */
    .HB621S-nozzle {
        height: 630px;
        background-size: cover !important;

        .HB621S-text-block {
            top: 170px;
            gap: 10px;
            font-size: 20px;
        }

        .HB621S-media-figure {
            top: 220px;
            width: 320px;
            height: 384px;
        }
    }
    /* section nozzle end */

    /* section equipment */
    .HB621S-equipment {
        height: 540px;

        .HB621S-title,
        .HB621S-subtitle,
        .HB621S-description {
            text-align: left;
        }

        .HB621S-title {
            top: 40px;
            font-size: 32px;
        }

        .HB621S-media-figure {
            top: 190px;
            width: 190px;
            height: 322px;

            .HB621S-media-scale {
                background: repeating-linear-gradient(
                transparent,
                transparent 21px, 
                currentColor 21px, 
                currentColor 22px);
            }
        }
    }
    /* section equipment end */

    /* section features */
    .HB621S-features-grid {
        .HB621S-feature-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /* section features end */
}

@media (max-width: 375px) {
    /* section  features */
    .HB621S-features-grid {
        .HB621S-feature-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* section  features end */
}
