.HB621S-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .HB621S-title,
    .section-dark .HB621S-subtitle,
    .section-dark .HB621S-description {
        color: #fff;
    }
}

.HB621S-title {
    margin: 0 0 20px;
    color: #404040;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.HB621S-description {
    margin: 0 0 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.HB621S-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .HB621S-media {
        max-width: 100%;
        max-height: 100%;

        &-active {
            pointer-events: none;
            opacity: 0;
        }
    }
}

/* section intro */
.HB621S-intro {
    position: relative;
    height: 780px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #998674;
    // background-position: right calc(100% + 70px) !important;
    background-position: right 65% !important;

    .HB621S-title,
    .HB621S-subtitle,
    .HB621S-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .HB621S-title {
        top: 105px;
        font-size: 124px;
        font-weight: 700;
        text-shadow: 0 0 50px black;
        line-height: 0.6;

        .text-lead {
            font-size: 112%;
        }
    }

    .HB621S-text-block {
        position: absolute;
        z-index: 1;
        top: 480px;
        left: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 64px;
        font-weight: 900;
        text-shadow: 0 0 50px black;
        line-height: 1.05;
        letter-spacing: 0.05em;

        .text-lead {
            position: relative;
            z-index: -1;
            font-size: 200%;
        }

        .HB621S-text-thumbnail {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.73em;
            height: 2.73em;
        }

        .HB621S-text-media {
            flex-shrink: 0;
            width: 200%;
            max-width: none;
            height: auto;
            object-fit: cover;
            animation: animateRotation 1s 600ms linear forwards;
        }
    }

    .HB621S-logo-block {
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 15px;
        right: 15px;
        width: 158px;
        height: 27px;
        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 90%;
            margin: auto;
            filter: blur(15px);
            background: rgba(0,0,0,.5);
            content: '';
        }

        .HB621S-logo {
            width: inherit;
            height: inherit;
        }
    }

    .HB621S-media-figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 780px;

        .HB621S-media-layer,
        .HB621S-media-fruits {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: calc(50% + 10px) 30%;
            background-size: auto 960px;
        }

        .HB621S-media-layer {
            opacity: 0 !important;
            visibility: visible !important;

            &.active {
                opacity: 1 !important;
                visibility: visible !important;
            }

            &.layer-1 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-01.png');
            }
            &.layer-2 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-02.png');
            }
            &.layer-3 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-03.png');
            }
            &.layer-4 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-04.png');
            }
            &.layer-5 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-05.png');
            }
            &.layer-6 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-06.png');
            }
            &.layer-7 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-07.png');
            }
            &.layer-8 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-08.png');
            }
            &.layer-9 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-09.png');
            }
            &.layer-10 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-10.png');
            }
            &.layer-11 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-11.png');
            }
            &.layer-12 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-12.png');
            }
            &.layer-13 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-13.png');
            }
            &.layer-14 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-14.png');
            }
            &.layer-15 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-15.png');
            }
            &.layer-16 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-16.png');
            }
            &.layer-17 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-17.png');
            }
            &.layer-18 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-18.png');
            }
            &.layer-19 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-19.png');
            }
            &.layer-20 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-20.png');
            }
            &.layer-21 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-21.png');
            }
            &.layer-22 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-22.png');
            }
            &.layer-23 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-23.png');
            }
            &.layer-24 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-24.png');
            }
            &.layer-25 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-25.png');
            }
            &.layer-26 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-26.png');
            }
            &.layer-27 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-27.png');
            }
            &.layer-28 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-28.png');
            }
            &.layer-29 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-29.png');
            }
            &.layer-30 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-30.png');
            }
            &.layer-31 {
                background-image: url('../images/section-intro/animation/HB621S-intro-media-slide-31.png');
            }
        }

        .HB621S-media-fruits {
            background-image: url('../images/section-intro/HB621S-intro-fruits.png');
        }
    }
}
/* section intro end */

/* section mode */
.HB621S-mode {
    position: relative;
    z-index: 1;
    height: 765px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #434348;

    .HB621S-title,
    .HB621S-subtitle,
    .HB621S-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
        text-align: center;
    }

    .HB621S-title {
        top: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        font-size: 68px;
        font-weight: 900;
        line-height: 1.1;
        text-shadow: 0 0 50px black;

        &-thumbnail {
            display: flex;
        }

        &-chevron {
            width: 1.1em;
            height: 1.88em;
            background: url('../images/section-mode/HB621S-mode-chevron.png') no-repeat 0 0;
            background-size: contain;
        }
    }

    .HB621S-text-block {
        position: absolute;
        top: 820px;
        left: 45px;
        right: 45px;
        display: flex;
        gap: 15px;
        font-size: 45px;
        line-height: 0.95;
        color: #000;

        .HB621S-text-thumbnail {
            --size: 3.55em;
            position: relative;
            flex-shrink: 0;
            &::after {
                position: absolute;
                z-index: -1;
                top: calc(var(--size) / 4 * -1);
                left: calc(var(--size) / 1.3 * -1);
                width: var(--size);
                height: var(--size);
                background-color: currentColor;
                clip-path: polygon(
                    0% var(--size),
                    calc(var(--size) / 3) var(--size), 
                    var(--size) calc(var(--size) / 2), 
                    calc(var(--size) - 2px) calc(var(--size) / 2), 
                    calc(var(--size) / 3) calc(var(--size) - 2px), 
                    0% calc(var(--size) - 2px)
                );
                content: '';
            }

            &[data-aos] {
                &::before {
                    width: 0;
                    transition: width 800ms ease;
                }
            }

            &[data-aos].aos-animate {
                &::before {
                    width: var(--size);
                }
            }
        }

        .HB621S-text-media {
            width: 1.86em;
            height: 1.86em;
            border-radius: 50%;
            object-fit: contain;
        }
    }

    .HB621S-media-figure {
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        height: 970px;

        .HB621S-media-layer {
            opacity: 0 !important;
            visibility: visible !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: auto 1200px;

            &.active {
                opacity: 1 !important;
                visibility: visible !important;
            }

            &.layer-1 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-01.png');
            }
            &.layer-2 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-02.png');
            }
            &.layer-3 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-03.png');
            }
            &.layer-4 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-04.png');
            }
            &.layer-5 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-05.png');
            }
            &.layer-6 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-06.png');
            }
            &.layer-7 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-07.png');
            }
            &.layer-8 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-08.png');
            }
            &.layer-9 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-09.png');
            }
            &.layer-10 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-10.png');
            }
            &.layer-11 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-11.png');
            }
            &.layer-12 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-12.png');
            }
            &.layer-13 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-13.png');
            }
            &.layer-14 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-14.png');
            }
            &.layer-15 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-15.png');
            }
            &.layer-16 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-16.png');
            }
            &.layer-17 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-17.png');
            }
            &.layer-18 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-18.png');
            }
            &.layer-19 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-19.png');
            }
            &.layer-20 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-20.png');
            }
            &.layer-21 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-21.png');
            }
            &.layer-22 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-22.png');
            }
            &.layer-23 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-23.png');
            }
            &.layer-24 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-24.png');
            }
            &.layer-25 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-25.png');
            }
            &.layer-26 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-26.png');
            }
            &.layer-27 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-27.png');
            }
            &.layer-28 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-28.png');
            }
            &.layer-29 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-29.png');
            }
            &.layer-30 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-30.png');
            }
            &.layer-31 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-31.png');
            }
            &.layer-32 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-32.png');
            }
            &.layer-33 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-33.png');
            }
            &.layer-34 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-34.png');
            }
            &.layer-35 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-35.png');
            }
            &.layer-36 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-36.png');
            }
            &.layer-37 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-37.png');
            }
            &.layer-38 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-38.png');
            }
            &.layer-39 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-39.png');
            }
            &.layer-40 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-40.png');
            }
            &.layer-41 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-41.png');
            }
            &.layer-42 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-42.png');
            }
            &.layer-43 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-43.png');
            }
            &.layer-44 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-44.png');
            }
            &.layer-45 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-45.png');
            }
            &.layer-46 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-46.png');
            }
            &.layer-47 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-47.png');
            }
            &.layer-48 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-48.png');
            }
            &.layer-49 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-49.png');
            }
            &.layer-50 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-50.png');
            }
            &.layer-51 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-51.png');
            }
            &.layer-52 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-52.png');
            }
            &.layer-53 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-53.png');
            }
            &.layer-54 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-54.png');
            }
            &.layer-55 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-55.png');
            }
            &.layer-56 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-56.png');
            }
            &.layer-57 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-57.png');
            }
            &.layer-58 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-58.png');
            }
            &.layer-59 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-59.png');
            }
            &.layer-60 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-60.png');
            }
            &.layer-61 {
                background-image: url('../images/section-mode/animation/HB621S-mode-media-61.png');
            }
        }
    }
}
/* section mode end */

/* section nozzle */
.HB621S-nozzle {
    position: relative;
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e6e5ea;
    background-position: right top !important;
    background-size: 120% !important;

    .HB621S-title,
    .HB621S-subtitle,
    .HB621S-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .HB621S-text-block {
        position: absolute;
        top: 280px;
        left: 15px;
        right: 15px;
        display: flex;
        gap: 20px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;

        .HB621S-text-counter {
            font-size: 385%;
            line-height: 0.8;
        }

        .HB621S-text-title {
            font-size: 187.5%;
        }

        .HB621S-text-description {
            display: flex;
            gap: 5px
        }
    }

    .HB621S-media-figure {
        position: absolute;
        z-index: 1;
        top: 35px;
        left: 15px;
        right: 15px;
        width: 525px;
        height: 629px;
        margin: auto;

        .HB621S-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section nozzle end */

/* section equipment */
.HB621S-equipment {
    position: relative;
    height: 710px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f4f6;

    .HB621S-title,
    .HB621S-subtitle,
    .HB621S-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
        text-align: right;
    }

    .HB621S-title {
        top: 320px;
        font-size: 46px;
        font-weight: 700;
        line-height: 1.1;

        .text-small {
            font-size: 95%;
            font-weight: inherit;
        }
    }

    .HB621S-media-figure {
        position: absolute;
        z-index: 1;
        top: 150px;
        left: 15px;
        right: 15px;
        width: 313px;
        height: 529px;
        margin: auto;

        .HB621S-media {
            width: inherit;
            height: inherit;
        }

        .HB621S-media-scale {
            position: absolute;
            top: 0;
            right: -30px;
            width: 30px;
            border-right: 4px solid currentColor;
            height: 0;
            background: repeating-linear-gradient(
                transparent,
                transparent 26px, 
                currentColor 26px, 
                currentColor 27px);

            &::before,
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                border-top: 1px solid currentColor;
                transition: width 300ms ease;
                content: '';
            }

            &::after {
                top: auto;
                bottom: 0;
            }

            &.completed {
                &::before,
                &::after {
                    width: 400%;
                }
            }
        }
    }
}
/* section equipment end */

/* section features */
.HB621S-features {
    padding-top: 70px;
    padding-bottom: 70px;

    .HB621S-title {
        font-size: 35px;
        text-align: center;
    }
}

.HB621S-feature-card {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #434343;
}

.HB621S-feature-media {
    width: 110px;
    height: 110px;
    margin: 0 auto 15px;
}

.HB621S-feature-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.38;
    color: inherit;
}

.HB621S-features-grid {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px -10px -30px;

    &::before,
    &::after {
        display: none;
    }

    .HB621S-feature-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* section features end */


@keyframes animateRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}