@media (max-width: 1199px) {
	/* section intro */
	.cb-01-intro {
		height: 640px;
		
		.cb-01-title {
			top: 60px;
		}

		.cb-01-model {
			top: 200px;
			font-size: 76px;
		}

		.cb-01-media-figure {
			top: 380px;
			width: 700px;
			height: 263px;
		}
	}
	/* section intro end */


	/* section keyboard */
	.cb-01-keyboard {
		height: 640px;

		.cb-01-title {
			top: 100px;
		}
		
		.cb-01-media-figure {
			top: 200px;
			width: 875px;
			height: 407px;
		}
	}
	/* section keyboard end */


	/* section presentation */
	.cb-01-presentation {
		height: 2080px;

		.cb-01-sos-title {
			font-size: 50px;
		}

		.cb-01-call-title,
		.cb-01-buttons-title {
			font-size: 48px;
		}

		.cb-01-call-title {
			top: 1320px;
		}

		.cb-01-buttons-title {
			top: 1810px;
		}

		.cb-01-sos-media-figure {
			left: -225px;
			width: 725px;
			height: 834px;
		}

		.cb-01-call-media-figure {
			top: 1150px;
			left: -300px;
			width: 688px;
			height: 930px;

			span {
				top: -20px;	
				right: 130px;
				width: 80px;
				height: 80px;
			}
		}
	}
	/* section presentation end */


	/* section functions */
	.cb-01-functions-grid {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	/* section functions end */
}

@media (max-width: 991px) {
	.cb-01-landing {
		.container {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	/* section intro */
	.cb-01-intro {
		height: 540px;
		
		.cb-01-title {
			font-size: 35px;
		}

		.cb-01-model {
			font-size: 60px;

			img {
				width: 160px;
				height: 27px;
			}
		}

		.cb-01-media-figure {
			top: 332px;
			left: -80px;
			width: 560px;
			height: 210px;
		}
	}
	/* section intro end */

	
	/* section keyboard */
	.cb-01-keyboard {
		.cb-01-title {
			top: 60px;
			font-size: 35px;
		}
		
		.cb-01-media-figure {
			top: 230px;
			width: 787px;
			height: 366px;
		}
	}
	/* section keyboard end */


	/* section presentation */
	.cb-01-presentation {
		height: 1715px;

		.cb-01-sos-title {
			font-size: 40px;
		}

		.cb-01-call-title,
		.cb-01-buttons-title {
			font-size: 35px;
		}

		.cb-01-call-title {
			top: 1105px;
			left: 10px;
		}

		.cb-01-buttons-title {
			top: 1500px;
		}

		.cb-01-sos-media-figure {
			top: 215px;
			left: -185px;
			width: 628px;
			height: 722px;
		}

		.cb-01-call-media-figure {
			top: 970px;
			left: -210px;
			width: 550px;
			height: 744px;

			span {
				top: -20px;	
				right: 110px;
				width: 60px;
				height: 60px;
			}
		}
	}
	/* section presentation end */


	/* section functions */
	.cb-01-functions-grid {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.cb-01-functions-block {
		font-size: 18px;
	}
	/* section functions end */


	/* section  features */
	.cb-01-features-grid {
		.cb-01-feature-item {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}
	}
	/* section  features end */
}

@media (max-width: 767px) {
	.cb-01-landing {
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}

		.content-inner {
			margin-bottom: 40px;
			text-align: center;
		}
	}


	.cb-01-title {
		margin: 0 0 15px;
		font-size: 24px !important;
		line-height: 1.35;
	}

	.cb-01-description {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
	}


	.cb-01-title[data-aos],
	.cb-01-subtitle[data-aos],
	.cb-01-description[data-aos] {
		transform: translate(0, 100px);
	}

	.cb-01-title[data-aos].aos-animate,
	.cb-01-subtitle[data-aos].aos-animate,
	.cb-01-description[data-aos].aos-animate {
		transform: translate(0);
	}



	/* section intro */
	.cb-01-intro {
		height: 440px;

		.cb-01-title {
			top: 40px;
			padding: 0;
			border: none;
			text-align: left;
		}

		.cb-01-model {
			top: 135px;
			font-size: 45px;
			text-align: left;

			img {
				width: 124px;
				height: 21px;
			}
		}

		.cb-01-media-figure {
			top: 294px;
			left: -60px;
			width: 392px;
			height: 147px;
		}
	}
	/* section intro end */


	/* section keyboard */
	.cb-01-keyboard {
		height: 505px;

		.cb-01-title {
			top: 40px;
		}
		
		.cb-01-media-figure {
			top: 230px;
			left: -175px;
			width: 510px;
			height: 238px;
		}
	}
	/* section keyboard end */


	/* section presentation */
	.cb-01-presentation {
		height: 1400px;

		.cb-01-call-title,
		.cb-01-buttons-title {
			left: 15px;
		}

		.cb-01-call-title {
			top: 700px;
		}

		.cb-01-buttons-title {
			top: 1250px;
		}

		.cb-01-sos-media-figure {
			top: 165px;
			left: -105px;
			width: 440px;
			height: 506px;
		}

		.cb-01-call-media-figure {
			top: 800px;
			left: -125px;
			width: 440px;
			height: auto;

			span {
				top: -10px;	
				right: 90px;
				width: 40px;
				height: 40px;
			}
		}
	}
	/* section presentation end */


	/* section functions */
	.cb-01-functions-grid {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.cb-01-functions-column:not(:last-child) {
		margin-bottom: 30px;
	}

	.cb-01-functions-block {
		font-size: 16px;
	}
	/* section functions end */


	/* section features */
	.cb-01-features-grid {
		.cb-01-feature-item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	/* section features end */
}

@media (max-width: 375px) {
	/* section  features */
	.cb-01-features-grid {
		.cb-01-feature-item {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	/* section  features end */
}