@media (max-width: 1199px) {
    .GA01-description {
        font-size: 34px;
    }

    /* section intro */
    .GA01-intro {
        height: 630px;

        .GA01-title {
            top: 155px;
            font-size: 50px;
        }

        .GA01-description {
            top: 270px;
        }

        .GA01-media-figure {
            top: 20px;
            width: 290px;
            height: 592px;
        }
    }
    /* section intro end */

    /* section contacts */
    .GA01-contacts {
        height: 660px;

        .GA01-title {
            top: 225px;
            font-size: 50px;
        }

        .GA01-description {
            top: 350px;
        }

        .GA01-media-figure {
            top: 5px;
            width: 340px;
            height: 663px;
        }
    }
    /* section contacts end */

    /* section screen */
    .GA01-screen {
        height: 665px;

        .GA01-title {
            top: 270px;
            font-size: 54px;
        }

        .GA01-description {
            top: 410px;
        }

        .GA01-media-figure  {
            top: 145px;
            width: 1210px;
            height: 600px;
        }
    }
    /* section screen end */

    /* section keyboard */
    .GA01-keyboard {
        height: 665px;

        .GA01-title {
            top: 215px;
            font-size: 50px;
        }

        .GA01-description {
            top: 410px;
        }

        .GA01-media-figure {
            width: 170px;
            height: 618px;
        }
    }
    /* section keyboard end */
}

@media (max-width: 991px) {
    .GA01-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .GA01-description {
        font-size: 28px;
    }

    /* section intro */
    .GA01-intro {
        height: 535px;

        .GA01-title {
            top: 130px;
            font-size: 42px;
        }

        .GA01-description {
            top: 230px;
        }

        .GA01-media-figure {
            top: 15px;
            width: 245px;
            height: 500px;
        }
    }
    /* section intro end */

    /* section contacts */
    .GA01-contacts {
        height: 560px;

        .GA01-title {
            top: 190px;
            font-size: 42px;
        }

        .GA01-description {
            top: 295px;
        }

        .GA01-media-figure {
            top: 0;
            width: 290px;
            height: 565px;
        }
    }
    /* section contacts end */

    /* section screen */
    .GA01-screen {
        height: 565px;

        .GA01-title {
            top: 230px;
            font-size: 42px;
        }

        .GA01-description {
            top: 350px;
        }

        .GA01-media-figure  {
            top: 120px;
            width: 1030px;
            height: 510px;
        }
    }
    /* section screen end */

    /* section keyboard */
    .GA01-keyboard {
        height: 565px;

        .GA01-title {
            top: 180px;
            font-size: 42px;
        }

        .GA01-description {
            top: 350px;
        }

        .GA01-media-figure {
            width: 145px;
            height: 528px;
        }
    }
    /* section keyboard end */

    /* section  features */
    .GA01-features-grid {
        .GA01-feature-item {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    /* section  features end */
}

@media (max-width: 767px) {
    .GA01-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .GA01-title,
    .GA01-subtitle,
    .GA01-description {
        max-width: 280px;
    }

    .GA01-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .GA01-subtitle {
        font-size: 24px !important;
    }

    .GA01-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .GA01-title[data-aos],
    .GA01-subtitle[data-aos],
    .GA01-description[data-aos],
    .GA01-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .GA01-title[data-aos].aos-animate,
    .GA01-subtitle[data-aos].aos-animate,
    .GA01-description[data-aos].aos-animate,
    .GA01-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .GA01-intro {
        position: relative;
        height: 730px;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            content: '';
        }

        .GA01-title {
            top: 40px;
        }

        .GA01-description {
            top: 115px;
        }

        .GA01-media-figure {
            top: 205px;
            width: 245px;
            height: 500px;
        }
    }
    /* section intro end */

    /* section contacts */
    .GA01-contacts {
        height: 745px;

        .GA01-title {
            top: 40px;
        }

        .GA01-description {
            top: 115px;
        }

        .GA01-media-figure {
            top: 155px;
            width: 290px;
            height: 565px;
        }
    }
    /* section contacts end */

    /* section screen */
    .GA01-screen {
        height: 640px;

        .GA01-title {
            top: 40px;
        }

        .GA01-description {
            top: 115px;
        }

        .GA01-media-figure  {
            top: 175px;
            left: -255px;
            width: 1030px;
            height: 510px;
        }
    }
    /* section screen end */

    /* section keyboard */
    .GA01-keyboard {
        height: 800px;

        .GA01-title {
            top: 40px;
        }

        .GA01-description {
            top: 150px;
        }

        .GA01-media-figure {
            top: 240px;
            width: 145px;
            height: 528px;
        }
    }
    /* section keyboard end */
    
    /* section features */
    .GA01-features-grid {
        .GA01-feature-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /* section features end */
}

@media (max-width: 375px) {
    /* section  features */
    .GA01-features-grid {
        .GA01-feature-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* section  features end */
}
