:root {
    --c-default: #010101;
}

.SM751S-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    [data-aos="fade-in"] {
        opacity: 0;
    }

    [data-aos="fade-in"].aos-animate {
        opacity: 1;
    }

    [data-aos="fade-out"] {
        opacity: 1;
    }

    [data-aos="fade-out"].aos-animate {
        opacity: 0;
    }

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .SM751S-title,
    .section-dark .SM751S-subtitle,
    .section-dark .SM751S-description {
        color: #fff;
    }
}

.SM751S-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.SM751S-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.SM751S-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .SM751S-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section power */
.SM751S-power {
    overflow: hidden;
    height: 750px;
    padding-top: 0;
    padding-bottom: 0;
    background-size: auto 38.5% !important;
    background-repeat: repeat-x !important;
    background-position: center top !important;

    &::before {
        position: absolute;
        top: 38.5%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, #c4c1c1, #fff);
        content: '';
    }


    &-title {
        position: absolute;
        top: 50px;
        left: 15px;
        right: 15px;
        font-size: 96px;
        font-weight: 500;
        line-height: 1.20;

        .text-danger {
            color: #d50505;
        }
    }

    &-figure {
        position: absolute;
        top: 175px;
        left: 15px;
        right: 15px;
        height: 505px;
        margin: auto;

        .layer-sandwich {
            position: absolute;
            right: 50%;
            bottom: 0;
            width: 430px;
            height: 310px;
            background: url('../images/section-power/SM751S-power-sandwich.png') no-repeat center/contain;
            transform: translateX(-24%);
        }
    }

    &-media {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-24%);
        width: 712px;
        height: 448px;
    }
}

/* section power end */

/* section material */
.SM751S-material {
    height: 750px;
    padding-top: 0;
    padding-bottom: 0;
    background-position: center bottom !important;
    text-align: right;

    &-title {
        position: absolute;
        top: 420px;
        left: 15px;
        right: 15px;
        font-size: 78px;
        font-weight: 500;
        line-height: 1.25;
    }

    &-figure {
        pointer-events: none;
        position: absolute !important;
        top: -80px;
        left: 15px;
        right: 15px;
        width: 755px !important;
        height: 705px !important;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section material end */

/* section indicator */
.SM751S-indicator {
    height: 755px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(to bottom, #181717, #010001);
    text-align: right;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
        font-weight: 500;
        line-height: 1.25;
    }

    &-title {
        top: 40px;
        font-size: 78px;

        .text-highlight {
            text-shadow:
                -1px -1px 0.2564em #f91d0c,
                1px -1px 0.2564em #f91d0c,
                -1px 1px 0.2564em #f91d0c,
                1px -1px 0.2564em #f91d0c,
                0 0 0.6410em #f91d0c,
                0 0 0.6410em #f91d0c,
                0 0 0.6410em #f91d0c;
            transition-property: color, text-shadow;
            color: rgba(#fff, .85);

            &[data-aos="change"].aos-animate {
                text-shadow:
                    -1px -1px 0.2564em #04fc67,
                    1px -1px 0.2564em #04fc67,
                    -1px 1px 0.2564em #04fc67,
                    1px -1px 0.2564em #04fc67,
                    0 0 0.6410em #04fc67,
                    0 0 0.6410em #04fc67,
                    0 0 0.6410em #04fc67;
            }
        }
    }

    &-subtitle {
        top: 450px;
        font-size: 54px;
    }

    &-figure {
        position: absolute;
        top: -90px;
        left: auto;
        right: 80px;
        width: 744px;
        height: 748px;
        margin: auto;

        &[data-aos] {
            opacity: 1;
            transform: translate(0);
        }

        &::before {
            opacity: 1;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            height: 25%;
            border-radius: 30%;
            background-color: #fff;
            transform: translate3d(0, 35%, 0);
            filter: blur(130px);
            content: '';
        }

        &[data-aos]::before {
            opacity: 0;
            transition: 800ms opacity 800ms;
        }

        &[data-aos].aos-animate::before {
            opacity: 1;
        }

        .layer-indicator {
            top: 17%;
            left: 50%;
            position: absolute;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 20%;
            height: 5.5%;
            transform: translateX(-50%);
        }

        .led {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: opacity 300ms ease;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 250%;
                padding-top: 250%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: translate(-50%, -50%);
                content: '';
            }

            &--danger {
                background-image: url('../images/section-indicator/SM751S-indicator-red-LED.png');

                &::after {
                    background-image: url('../images/section-indicator/SM751S-indicator-red-LED-ray.png');
                }
            }

            &--success {
                background-image: url('../images/section-indicator/SM751S-indicator-green-LED.png');

                &::after {
                    background-image: url('../images/section-indicator/SM751S-indicator-green-LED-ray.png');
                }
            }
        }
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section indicator end */