@media (max-width: 1199px) {
    /* section design */
    .b32-design {
        height: 640px;

        .b32-title {
            top: 60px;
            font-size: 48px;
        }

        .b32-media-figure {
            width: 555px;
            height: 605px;

            .b32-media {
                &.layer-1 {
                    width: 338px;
                    height: 545px;
                    margin: 0;
                }

                &.layer-2 {
                    width: 340px;
                    height: 602px;
                    margin: 0 0 0 38%;
                }
            }
        }
    }
    /* section design end */

    /* section screen */
    .b32-screen {
        height: 610px;

        .b32-title {
            top: 25px;
            font-size: 48px;
        }

        .b32-media-figure {
            top: 165px;
            width: 864px;
            height: 392px;

            .b32-media-video {
                top: 50px;
                left: 65px;
                width: 512px;
                height: 288px;
            }
        }
    }
    /* section screen end */

    /* section keyboard */
    .b32-keyboard {
        height: 640px;

        .b32-title {
            top: 200px;
            font-size: 48px;
        }

        .b32-media-figure {
            top: -390px;
            width: 612px;
            height: 1011px;
        }
    }
    /* section keyboard end */

    /* section presentation */
    .b32-presentation {
        height: 1280px;
    }
    /* section presentation end */

    /* section speaker */
    .b32-speaker {
        height: 640px;

        .b32-title {
            top: 240px;
            font-size: 48px;
        }

        .b32-media-figure {
            width: 368px;
            height: 1155px;
        }
    }
    /* section speaker end */

    /* section camera */
    .b32-camera {
        height: 640px;

        .b32-title {
            top: 200px;
            font-size: 48px;
        }

        .b32-description {
            top: 335px;
        }
    }
    /* section camera end */

    /* section flashlight */
    .b32-flashlight {
        height: 640px;

        .b32-title {
            top: 60px;
            font-size: 48px;
        }

        .b32-description {
            top: 245px;
        }

        .b32-media-figure {
            top: 280px;
            width: 792px;
            height: 363px;
        }
    }
    /* section flashlight end */

    /* section sos */
    .b32-sos {
        height: 690px;
        &::before,
        &::after,
        .b32-sos-overlay {
            height: calc(100% - 50px);
        }

        .b32-title {
            top: 165px;
            font-size: 48px;
        }

        .b32-description {
            top: 305px;
        }

        .b32-media-figure {
            top: -215px;
            width: 656px;
            height: 898px;
        }
    }
    /* section sos end */
}

@media (max-width: 991px) {
    .b32-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section design */
    .b32-design {
        height: 510px;

        .b32-title {
            top: 60px;
            font-size: 44px;
        }

        .b32-media-figure {
            width: 368px;
            height: 481px;

            .b32-media {
                &.layer-1 {
                    width: 270px;
                    height: 435px;
                    margin: 2.5% 0 0;
                }

                &.layer-2 {
                    width: 272px;
                    height: 481px;
                    margin: 0 0 0 25%;
                }
            }
        }
    }
    /* section design end */

    /* section screen */
    .b32-screen {
        height: 515px;

        .b32-title {
            top: 25px;
            font-size: 44px;
        }

        .b32-media-figure {
            top: 165px;
            width: 690px;
            height: 313px;

            .b32-media-video {
                top: 40px;
                left: 50px;
                width: 408px;
                height: 230px;
            }
        }
    }
    /* section screen end */

    /* section keyboard */
    .b32-keyboard {
        height: 540px;

        .b32-title {
            top: 175px;
            font-size: 44px;
        }

        .b32-media-figure {
            top: -290px;
            width: 490px;
            height: 810px;
        }
    }
    /* section keyboard end */

    /* section presentation */
    .b32-presentation {
        height: 1080px;
    }
    /* section presentation end */

    /* section speaker */
    .b32-speaker {
        height: 540px;

        .b32-title {
            top: 190px;
            font-size: 44px;
        }

        .b32-media-figure {
            width: 276px;
            height: 866px;
        }
    }
    /* section speaker end */

    /* section camera */
    .b32-camera {
        height: 540px;

        .b32-title {
            top: 150px;
            font-size: 44px;
        }

        .b32-description {
            top: 270px;
        }
    }
    /* section camera end */

    /* section flashlight */
    .b32-flashlight {
        height: 540px;

        .b32-title {
            top: 30px;
            font-size: 44px;
        }

        .b32-description {
            top: 255px;
        }

        .b32-media-figure {
            top: 280px;
            width: 634px;
            height: 290px;
        }
    }
    /* section flashlight end */

    /* section sos */
    .b32-sos {
        height: 570px;
        &::before,
        &::after,
        .b32-sos-overlay {
            height: calc(100% - 30px);
        }

        .b32-title {
            top: 155px;
            font-size: 44px;
        }

        .b32-description {
            top: 285px;
        }

        .b32-media-figure {
            top: -155px;
            width: 524px;
            height: 717px;
        }
    }
    /* section sos end */

    /* section  features */
    .b32-features-grid {
        .b32-feature-item {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    /* section  features end */
}

@media (max-width: 767px) {
    .b32-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .b32-title {
        margin: 0 0 15px;
        font-size: 24px !important;
        line-height: 1.35;
    }

    .b32-description {
        margin: 0 0 20px;
        font-size: 18px;
        line-height: 1.3;
    }

    .b32-title[data-aos],
    .b32-subtitle[data-aos],
    .b32-description[data-aos],
    .b32-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .b32-title[data-aos].aos-animate,
    .b32-subtitle[data-aos].aos-animate,
    .b32-description[data-aos].aos-animate,
    .b32-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section design */
    .b32-design {
        height: 645px;

        .b32-title {
            top: 40px;
        }

        .b32-media-figure {
            top: 195px;
            width: 350px;
            height: 407px;

            .b32-media {
                &.layer-1 {
                    width: 230px;
                    height: 371px;
                    margin: 0;
                }

                &.layer-2 {
                    width: 230px;
                    height: 407px;
                    margin: 0 0 0 30%;
                }
            }
        }
    }
    /* section design end */

    /* section screen */
    .b32-screen {
        height: 460px;

        .b32-title {
            top: 40px;
        }

        .b32-media-figure {
            top: 140px;
            width: 586px;
            height: 266px;

            .b32-media-video {
                top: 34px;
                left: 42px;
                width: 346px;
                height: 194px;
            }
        }
    }
    /* section screen end */

    /* section keyboard */
    .b32-keyboard {
        height: 540px;

        .b32-title {
            top: 405px;
        }

        .b32-media-figure {
            top: -270px;
            width: 392px;
            height: 648px;
        }
    }
    /* section keyboard end */

    /* section speaker */
    .b32-speaker {
        overflow: hidden;
        height: 540px;

        .b32-title {
            top: 40px;
        }

        .b32-media-figure {
            top: 140px;
            width: 276px;
            height: 866px;
        }
    }
    /* section speaker end */

    /* section camera */
    .b32-camera {
        position: relative !important;
        height: 540px;

        .b32-title {
            top: 40px;
        }

        .b32-description {
            top: 115px;
        }

        .b32-media-figure {
            display: block;
            position: absolute;
            top: 225px;
            left: 15px;
            right: 15px;
            width: 320px;
            height: 340px;
            margin: auto;

            .b32-media {
                width: inherit;
                height: inherit;
            }
        }
    }
    /* section camera end */

    /* section flashlight */
    .b32-flashlight {
        height: 540px;

        .b32-title {
            top: 40px;
        }

        .b32-description {
            top: 150px;
        }

        .b32-media-figure {
            top: 250px;
            width: 340px;
            height: 173px;
        }
    }
    /* section flashlight end */

    /* section sos */
    .b32-sos {
        height: 540px;
        &::before,
        &::after {
            width: 100%;
            height: inherit;
        }

        .b32-sos-overlay {
            height: inherit;
            background: linear-gradient(
                -57deg,
                transparent,
                #1a1315 40%,
                #0b0203 67%,
                transparent
            );
        }

        .b32-title {
            top: 370px;
        }

        .b32-description {
            top: 450px;
        }

        .b32-media-figure {
            top: -245px;
            width: 420px;
            height: 575px;
        }
    }
    /* section sos end */

    /* section features */
    .b32-features-grid {
        .b32-feature-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /* section features end */
}

@media (max-width: 375px) {
    /* section  features */
    .b32-features-grid {
        .b32-feature-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* section  features end */
}
