.cs-01-landing {
	overflow: hidden;
	max-width: 2160px;
	margin: auto;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #010101;
	line-height: 1.25;

	section {
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}


	img {
		max-width: 100%;
	}


	.container {
		position: relative;
		width: 100%;
		max-width: 1220px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.d-flex {
		-webkit-display: flex;
		-ms-display: flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	.d-flex.row:before,
	.d-flex.row:after {
		display: none;
	}
	
	.flex-nowrap {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.justify-content-center {
		justify-content: center;
	}
	
	.align-items-start {
		align-items: start;
	}
	
	.align-items-center {
		align-items: center;
	}
	
	.align-self-center {
		align-self: center;
	}

	.align-self-end {
		align-self: flex-end;
	}


	.section-dark,
	.section-dark .cs-01-title,
	.section-dark .cs-01-subtitle,
	.section-dark .cs-01-description {
		color: #fff;
	}
}


.cs-01-title {
	margin: 0 0 20px;
	color: #404040;
	font-size: 35px;
	font-weight: 900;
	line-height: normal;

	span {
		font-weight: 300;
	}

	.text-lead {
		font-size: 180%;
		font-weight: 900;
		line-height: normal;
	}
}

.cs-01-description {
	margin: 0 0 45px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;

	p {
		margin: 0;
	}

	p + p {
		margin-top: 20px;
	}


	ul {
		margin: 0 0 0 15px;
		padding: 0;
		list-style: none;
	}
}


.cs-01-media-figure {
	opacity: 1 !important;
	margin: 0;

	.cs-01-media {
		max-width: 100%;
		max-height: 100%;
	}
}

/* section intro */
.cs-01-intro {
	position: relative;
	height: 770px;
	padding-top: 0;
	padding-bottom: 0;

	.cs-01-title,
	.cs-01-subtitle,
	.cs-01-description,
	.cs-01-model {
		position: absolute;
		z-index: 1;
		left: 15px;
		right: 15px;
		color: inherit;
	}

	.cs-01-title {
		top: 110px;
		font-size: 45px;
	}

	.cs-01-model {
		top: 265px;
		font-size: 80px;
		font-weight: 900;
		line-height: 0.9;

		span {
			font-size: 83.75%;
			font-weight: 300;
		}
	}

	.cs-01-media-figure {
		position: absolute;
		top: 40px;
		left: 15px;
		right: 15px;
		width: 466px;
		height: 714px;
		margin: auto;

		.cs-01-media {
			width: inherit;
			height: inherit;
		}
	}
}
/* section intro end */


/* section design */
.cs-01-design {
	overflow: hidden;
	height: 765px;
	padding-top: 0;
	padding-bottom: 0;
	background: rgb(183,183,186);
	background: linear-gradient(270deg, rgba(183,183,186,1) 0%, rgba(255,255,255,1) 100%);

	.cs-01-title,
	.cs-01-subtitle,
	.cs-01-description {
		position: absolute;
		left: 15px;
		right: 15px;
		color: inherit;
	}

	.cs-01-title {
		top: 300px;
		font-size: 45px;
	}

	.cs-01-media-figure {
		position: absolute;
		top: 90px;
		left: 15px;
		right: 15px;
		width: 778px;
		height: 665px;
		margin: 0 0 0 auto;

		.cs-01-media {
			width: inherit;
			height: inherit;
		}
	}
}
/* section design end */


/* section keyboard */
.cs-01-keyboard {
	overflow: hidden;
	height: 770px;
	padding-top: 0;
	padding-bottom: 0;
	background: rgb(39,0,93);
	background: linear-gradient(0deg, rgba(39,0,93,1) 0%, rgba(83,0,253,1) 100%);

	.cs-01-title,
	.cs-01-subtitle,
	.cs-01-description {
		position: absolute;
		left: 15px;
		right: 15px;
		color: inherit;
	}

	.cs-01-title {
		top: 145px;
		font-size: 45px;
	}

	.cs-01-keyboard-grid {
		position: absolute;
		top: 350px;
		left: 15px;
		right: 15px;
	}

	.cs-01-keyboard-block {
		margin-bottom: 40px;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		line-height: normal;
	}

	.cs-01-keyboard-title {
		min-width: 160px;
		margin-bottom: 10px;
		padding: 14px 10px;
		border-radius: 25px;
		border: solid 1px #6300ff;
		background: linear-gradient(to top, #27005b, #5400ff);
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.cs-01-keyboard-description {
		padding: 0 0 0 25px;
	}

	.cs-01-keyboard-hint {
		position: absolute;
		top: 675px;
		left: 15px;
		right: 15px;
		font-size: 10px;
		line-height: normal;
	}

	.cs-01-media-figure {
		position: absolute;
		top: 15px;
		left: 30px;
		right: 30px;
		width: 442px;
		height: 718px;
		margin: auto;

		.cs-01-media {
			width: inherit;
			height: inherit;
		}
	}
}
/* section keyboard end */


/* section gallery */
.cs-01-gallery {
	height: 700px;
	padding-top: 0;
	padding-bottom: 0;
}

.cs-01-gallery-slider {
	height: 700px;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 180px;
	padding-bottom: 180px;

	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-arrow {
		cursor: pointer;
		z-index: 1;
		width: 250px;
		height: 100%;

		&::before {
			content: '';
			opacity: 1;
			display: block;			
			width: 90px;
			height: 90px;
			border: 8px solid #ff6c00;
		}
	}

	.slick-prev {
		left: 0;
		background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			border-top: none;
			border-right: none;
		}
	}

	.slick-next {
		right: 0;
		background: linear-gradient(-90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);

		&::before {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%) rotate(45deg);
			border-left: none;
			border-bottom: none;
		}
	}
}
/* section gallery end */


/* section features */
.cs-01-features {
	padding-top: 70px;
	padding-bottom: 70px;

	.cs-01-title {
		font-size: 35px;
		text-align: center;
	}
}


.cs-01-feature-card {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #434343;
}

.cs-01-feature-media {
	width: 110px;
	height: 110px;
	margin: 0 auto 15px;
}

.cs-01-feature-title {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.38;
	color: inherit;
}


.cs-01-features-grid {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin: 45px -10px -30px;

	&::before,
	&::after {
		display: none;
	}


	.cs-01-feature-item {
		flex: 0 0 20%;
		max-width: 20%;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
/* section features end */


/* scroll to top */
.cs-01-scroll-to-top {
	cursor: pointer;
	display: block;
	width: 72px;
	height: 72px;
	margin: 20px auto 40px;
	padding: 0;
	border: none;
	border-radius: 50%;
	background: none;
}
/* scroll to top end */