:root {
    --w-wrapper: 2160px;
    --w-container: 1220px;
    --c-default: #010101;
    --c-dark: #000;
    --c-light: #fff;
    --c-warning: #ff8c02;
    --c-blue: #43a6eb;
}

.KE1741G-landing {
    overflow: hidden;
    max-width: var(--w-wrapper);
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: var(--w-container);
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .KE1741G-title,
    .section-dark .KE1741G-subtitle,
    .section-dark .KE1741G-description {
        color: #fff;
    }
}

.KE1741G-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 400;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.KE1741G-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.KE1741G-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .KE1741G-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section power */
.KE1741G-power {
    overflow: hidden;
    position: relative;
    height: 690px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #d3d3d3;
    background: linear-gradient(0deg, rgba(208, 208, 208, 1) 0%, rgba(255, 255, 255, 1) 65%);

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 70px;
        background: linear-gradient(0deg, rgba(208, 208, 208, 1) 0%, rgba(255, 255, 255, 1) 100%);
        content: '';
    }

    .KE1741G-title,
    .KE1741G-subtitle,
    .KE1741G-description,
    .KE1741G-model {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: var(--c-blue);
    }

    .KE1741G-title {
        top: 235px;
        font-size: 55px;
        font-weight: 400;
        line-height: 1.1;

        .text-lead {
            font-size: 155%;
            line-height: 0.5;
        }
    }

    .KE1741G-model {
        top: 110px;
        font-size: 86px;
        font-weight: 900;
        color: var(--c-default);
    }

    .KE1741G-media-figure {
        position: absolute;
        z-index: 1;
        top: 145px;
        left: 15px;
        right: 15px;
        width: 920px;
        height: 478px;
        margin: auto;

        .KE1741G-media {
            width: inherit;
            height: inherit;
        }
    }
}

/* section power end */

/* section size */
.KE1741G-size {
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--c-light);

    .KE1741G-title,
    .KE1741G-subtitle,
    .KE1741G-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: var(--c-blue);
        text-align: center;
    }

    .KE1741G-title {
        top: 205px;
        font-size: 46px;
        font-weight: 900;
        line-height: 1.25;

        .text-lead {
            font-size: 580%;
            line-height: 0.85;
            letter-spacing: -0.05em;
            white-space: nowrap;
        }

        .text-point {
            display: inline-block;
            transform: translateX(-100%);
            letter-spacing: -0.2em;
        }
    }

    .KE1741G-media-figure {
        position: absolute;
        top: -105px;
        left: -70px;
        right: 0;
        width: 1037px;
        height: 1560px;
        margin: auto;

        .KE1741G-media {
            width: inherit;
            height: inherit;
        }
    }
}

/* section size end */

/* section led */
.KE1741G-led {
    overflow: hidden;
    height: 825px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--c-dark);

    .KE1741G-title,
    .KE1741G-subtitle,
    .KE1741G-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: var(--c-blue) !important;
    }

    .KE1741G-title {
        top: 300px;
        font-size: 55px;
        font-weight: 900;
        line-height: 1.05;
    }

    .KE1741G-media-figure {
        position: absolute;
        top: -125px;
        left: -250px;
        right: -250px;
        width: 1189px;
        height: 1307px;
        margin: auto;

        .KE1741G-media {
            width: inherit;
            height: inherit;
        }
    }
}

/* section led end */

/* section glass */
.KE1741G-glass {
    overflow: hidden;
    height: 1280px;
    padding-top: 0;
    padding-bottom: 0;
    background-size: auto 70% !important;
    background-position: calc(50% - 47.5vw) 10% !important;

    .KE1741G-title,
    .KE1741G-subtitle,
    .KE1741G-description {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    .KE1741G-title {
        top: 350px;
        background-image: linear-gradient(to top, rgba(255, 138, 0, 0.5) 0%, #ff8a00 66%, #9e0000 91%, #9e0000 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 55px;
        font-weight: 900;
        line-height: 1;

        .text-lead {
            font-size: 118%;
            line-height: 1.1;
        }
    }

    .KE1741G-media-figure {
        position: absolute;
        top: 10px;
        left: 50px;
        right: 50px;
        width: 876px;
        height: 1179px;
        margin: auto;

        .KE1741G-media {
            width: inherit;
            height: inherit;
        }
    }
}

/* section glass end */