.e8-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .e8-title,
    .section-dark .e8-subtitle,
    .section-dark .e8-description {
        color: #fff;
    }
}

.e8-title {
    margin: 0 0 20px;
    color: #404040;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.e8-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.e8-media-figure {
    opacity: 1 !important;
    margin: 0;

    .e8-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.e8-intro {
    height: 695px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f3f3;

    .e8-title,
    .e8-subtitle,
    .e8-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .e8-title {
        top: 230px;
        font-size: 70px;

        .text-large {
            font-size: 208%;
            font-weight: 700;
            line-height: 0.8;
        }
    }

    .e8-media-figure {
        position: absolute;
        top: 130px;
        left: auto;
        right: 15px;
        width: 685px;
        height: 510px;
        margin: auto;

        .e8-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section intro end */

/* section screen */
.e8-screen {
    overflow: hidden;
    height: 835px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f3f3;

    .e8-title,
    .e8-subtitle,
    .e8-description {
        position: absolute;
        z-index: 9;
        left: 30px;
        right: 30px;
        color: inherit;
    }

    .e8-title {
        top: 150px;
        font-size: 70px;

        .text-large {
            font-size: 188%;
            font-weight: 900;
            line-height: 1;
        }
    }

    .e8-description {
        top: 380px;
        max-width: 390px;
    }

    .e8-media-figure {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -15px;
        right: -15px;
        width: 926px;
        height: 1213px;
        margin: auto;

        .e8-media {
            position: absolute;
            max-width: none;
            max-height: none;
            &.layer-1 {
                width: 489px;
                height: 698px;
                margin: 32.7% 0 0 48%;
            }

            &.layer-2 {
                width: 602px;
                height: 1213px;
            }
        }
    }
}
/* section screen end */

/* section design */
.e8-design {
    position: relative;
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f3f3;
    background-size: auto auto !important;
    background-position: calc(50% - 100px) calc(100% - 80px) !important;

    .e8-title,
    .e8-subtitle,
    .e8-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .e8-title {
        top: 240px;
        font-size: 85px;
    }

    .e8-media-figure {
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 15px;
        right: 15px;
        width: 355px;
        height: 805px;
        margin: auto;

        .e8-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section design end */

/* section camera */
.e8-camera {
    overflow: hidden;
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f3f3;

    .e8-title,
    .e8-subtitle,
    .e8-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .e8-title {
        top: 135px;
        font-size: 85px;
    }

    .e8-description {
        top: 240px;
        max-width: 330px;
        text-align: right;
    }

    .e8-media-figure {
        display: block;
        position: absolute;
        z-index: 1;
        top: 90px;
        left: 15px;
        right: 15px;
        width: 649px;
        height: 1102px;
        margin: auto;

        .e8-media {
            width: inherit;
            height: inherit;
        }

        .e8-media-figcaption {
            position: absolute;
            z-index: -1;
            top: 0;
            font-size: 144px;
            font-weight: 900;
            writing-mode: vertical-lr;
            transform: translate(45%, 15%) rotate(-180deg);
            transition: transform 800ms ease;
            transition-delay: 300ms;
        }

        &.aos-animate {
            .e8-media-figcaption {
                transform: translate(-45%, 15%) rotate(-180deg);
            }
        }
    }
}
/* section camera end */

/* section dock */
.e8-dock {
    overflow: hidden;
    height: 790px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f3f3f3;

    .e8-title,
    .e8-subtitle,
    .e8-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .e8-title {
        top: 305px;
        font-size: 85px;
    }

    .e8-media-figure {
        display: block;
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 15px;
        right: 15px;
        width: 450px;
        height: 775px;
        margin: auto;

        .e8-media {
            position: absolute;

            &.layer-1 {
                width: 451px;
                height: 395px;
                margin: 85% 0 0;
                transform: translate(200%, 0);
                transition: transform 800ms ease;
            }

            &.layer-2 {
                width: 246px;
                height: 344px;
                margin: 0 0 0 24%;
                transform: translate(0, -200%);
                transition: transform 1400ms ease;
                transition-delay: 600ms;
            }
        }

        &.aos-animate {
            .e8-media {
                &.layer-1 {
                    transform: translate(0, 0);
                }

                &.layer-2 {
                    transform: translate(0, 74%);
                }
            }
        }
    }
}
/* section dock end */

/* section features */
.e8-features {
    padding-top: 70px;
    padding-bottom: 70px;

    .e8-title {
        font-size: 35px;
        text-align: center;
    }
}

.e8-feature-card {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #434343;
}

.e8-feature-media {
    width: 110px;
    height: 110px;
    margin: 0 auto 15px;
}

.e8-feature-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.38;
    color: inherit;
}

.e8-features-grid {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px -10px -30px;

    &::before,
    &::after {
        display: none;
    }

    .e8-feature-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* section features end */
