.header-megamenu-toggle {
    cursor: pointer;
    flex: 0 0 60px;
    width: 60px;
    min-width: auto;
    height: 60px;
    margin: 0 15px 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}

.header-megamenu-toggle:hover,
.header-megamenu-toggle.active {
    background: rgba(0, 0, 0, 0.8);
}

.header-megamenu-toggle span {
    display: block;
    height: 4px;
    width: 32px;
    margin: 6px auto;
    background-color: #fff;
    transform-origin: center;
    transition: 300ms all;
}

.header-megamenu-toggle.active span:nth-child(1) {
    transform: translateY(6px) rotate(135deg);
}

.header-megamenu-toggle.active span:nth-child(2) {
    display: none;
}

.header-megamenu-toggle.active span:nth-child(3) {
    transform: translateY(-4px) rotate(-135deg);
}


.megamenu-wrapper {
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 15px;
    right: 15px;
    height: calc(100vh - 100px);
    transform: translateY(20px);
    transition: opacity 100ms ease, transform 100ms ease;
}

.megamenu-wrapper.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.megamenu-wrapper::-webkit-scrollbar {
    width: 14px;
}

.megamenu-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.megamenu-wrapper::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 1); 
    border-radius: 10px;
}

.megamenu-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

.megamenu-nav-list {
    min-height: 200px;
    /* flex: 0 0 300px; */
    /* width: 300px; */
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(10, 10, 10, 0.9);
}

.megamenu-nav-link {
    display: block;
    position: relative;
    min-height: 30px;
    padding: 15px 25px 20px 25px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.megamenu-nav-item:hover .megamenu-nav-link,
.megamenu-nav-item.active .megamenu-nav-link {
    background: rgba(50, 50, 50, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.megamenu-nav-item.has-children .megamenu-nav-link::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    font-size: 120%;
    content: "\f105";
}

/* megamenu subnav */
.megamenu-tab-content {
    padding-left: 0;
    padding-right: 0;
    color: #fff;
}

.megamenu-tab-pane {
    display: none;
    padding: 15px 30px;
    background-color: #818181;
    color: #fff;
}

.megamenu-pane-header {
    margin-bottom: 30px;
}

.megamenu-pane-title {
    color: inherit;
}

.megamenu-pane-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.megamenu-pane-list .megamenu-pane-list {
    display: none;
    padding-left: 20px;
}

.megamenu-pane-link {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: currentColor;
}

.megamenu-pane-link:hover {
    color: rgba(255, 255, 255, .8);
}

.megamenu-pane-toggle {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
}

.megamenu-pane-toggle::after {
    display: block;
    width: 12px;
    height: 12px;
    margin: auto;
    background: #fff;
    clip-path: polygon(0 45%, 45% 45%, 45% 0, 55% 0, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0 55%);
    transition: clip-path 200ms;
    content: '';
}

.megamenu-pane-toggle.active::after {
    clip-path: polygon(0 45%, 45% 45%, 45% 45%, 55% 45%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 55%, 45% 55%, 45% 55%, 0 55%);
}

@media screen and (max-width: 1024px) {
    .header-megamenu-toggle,
    .megamenu-wrapper {
        display: none !important;
    }
}