@media (max-width: 1680px) {
    .KE1721S-description {
        font-size: 38px;
    } 

    /* section design */
    .KE1721S-design {
        height: 1050px;

        .KE1721S-title {
            top: 310px;
            font-size: 72px;
        }

        .KE1721S-description {
            top: 525px;
        }

        .KE1721S-media-figure {
            top: 160px;
            width: 810px;
            height: 726px;

            &::before {
                left: 8.5%;
                right: 18.5%;
            }
        }
    }
    /* section design end */

    /* section ergonomics */
    .KE1721S-ergonomics  {
        height: 580px;

        .KE1721S-title {
            top: 140px;
            font-size: 72px;
        }

        .KE1721S-description {
            top: 395px;
        }

        .KE1721S-media-figure {
            top: -50px;
            width: 620px;
            height: 692px;
        }
    }
    /* section ergonomics end */

    /* section casing */
    .KE1721S-casing {
        height: 1020px;

        .KE1721S-title {
            top: 410px;
            font-size: 72px;
        }

        .KE1721S-description {
            top: 610px;
        }

        .KE1721S-media-figure {
            top: 220px;
            width: 860px;
            height: 670px;
        }
    }
    /* section casing end */

    /* section size */
    .KE1721S-size  {
        height: 685px;

        .KE1721S-title {
            top: 200px; 
            font-size: 106px;
        }

        .KE1721S-media-figure  {
            top: -200px;
            width: 550px;
            height: 910px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1721S-stand  {
        height: 830px;

        .KE1721S-title {
            top: 225px;
            font-size: 206px;
        }

        .KE1721S-subtitle {
            top: 470px;
            font-size: 60px;
        }

        .KE1721S-media-figure {
            top: 190px;
            width: 560px;
            height: 502px;

            &::after {
                width: 602px;
                height: 78px;
            }
        }
    }
    /* section stand end */
}

@media (max-width: 1366px) {
    .KE1721S-description {
        font-size: 32px;
    }

    /* section design */
    .KE1721S-design {
        height: 890px;

        .KE1721S-title {
            top: 265px;
            font-size: 60px;
        }

        .KE1721S-description {
            top: 445px;
        }

        .KE1721S-media-figure {
            top: 135px;
            width: 690px;
            height: 618px;
        }
    }
    /* section design end */

    /* section ergonomics */
    .KE1721S-ergonomics  {
        height: 495px;

        .KE1721S-title {
            top: 120px;
            font-size: 60px;
        }

        .KE1721S-description {
            top: 335px;
        }

        .KE1721S-media-figure {
            top: -40px;
            width: 530px;
            height: 590px;
        }
    }
    /* section ergonomics end */

    /* section casing */
    .KE1721S-casing {
        height: 870px;

        .KE1721S-title {
            top: 350px;
            font-size: 60px;
        }

        .KE1721S-description {
            top: 520px;
        }

        .KE1721S-media-figure {
            top: 190px;
            width: 730px;
            height: 570px;
        }
    }
    /* section casing end */

    /* section size */
    .KE1721S-size  {
        height: 580px;

        .KE1721S-title {
            top: 170px; 
            font-size: 90px;
        }

        .KE1721S-media-figure  {
            top: -170px;
            width: 468px;
            height: 772px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1721S-stand  {
        height: 705px;

        .KE1721S-title {
            top: 190px;
            font-size: 175px;
        }

        .KE1721S-subtitle {
            top: 400px;
            font-size: 50px;
        }

        .KE1721S-media-figure {
            top: 160px;
            width: 475px;
            height: 426px;

            &::after {
                width: 512px;
                height: 62px;
            }
        }
    }
    /* section stand end */
}

@media (max-width: 1199px) {
    .KE1721S-description {
        font-size: 26px;
    }

    /* section design */
    .KE1721S-design {
        height: 755px;

        .KE1721S-title {
            top: 225px;
            font-size: 50px;
        }

        .KE1721S-description {
            top: 360px;
        }

        .KE1721S-media-figure {
            top: 115px;
            width: 585px;
            height: 525px;
        }
    }
    /* section design end */

    /* section ergonomics */
    .KE1721S-ergonomics  {
        height: 420px;

        .KE1721S-title {
            top: 100px;
            font-size: 50px;
        }

        .KE1721S-description {
            top: 285px;
        }

        .KE1721S-media-figure {
            top: -35px;
            width: 450px;
            height: 502px;
        }
    }
    /* section ergonomics end */

    /* section casing */
    .KE1721S-casing {
        height: 740px;

        .KE1721S-title {
            top: 300px;
            font-size: 50px;
        }

        .KE1721S-description {
            top: 440px;
        }

        .KE1721S-media-figure {
            top: 160px;
            width: 620px;
            height: 484px;
        }
    }
    /* section casing end */

    /* section size */
    .KE1721S-size  {
        height: 495px;

        .KE1721S-title {
            top: 145px; 
            font-size: 76px;
        }

        .KE1721S-media-figure  {
            top: -145px;
            width: 400px;
            height: 660px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1721S-stand  {
        height: 600px;

        .KE1721S-title {
            top: 160px;
            font-size: 148px;
        }

        .KE1721S-subtitle {
            top: 340px;
            font-size: 42px;
        }

        .KE1721S-media-figure {
            top: 135px;
            width: 405px;
            height: 364px;

            &::after {
                width: 435px;
                height: 55px;
            }
        }
    }
    /* section stand end */
}

@media (max-width: 991px) {
    .KE1721S-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .KE1721S-description {
        font-size: 22px;
    }
    
    /* section design */
    .KE1721S-design {
        height: 640px;

        .KE1721S-title {
            top: 190px;
            font-size: 42px;
        }

        .KE1721S-description {
            top: 305px;
        }

        .KE1721S-media-figure {
            top: 100px;
            width: 498px;
            height: 446px;
        }
    }
    /* section design end */

    /* section ergonomics */
    .KE1721S-ergonomics  {
        height: 360px;

        .KE1721S-title {
            top: 85px;
            font-size: 42px;
        }

        .KE1721S-description {
            top: 245px;
        }

        .KE1721S-media-figure {
            top: -30px;
            width: 380px;
            height: 424px;
        }
    }
    /* section ergonomics end */

    /* section casing */
    .KE1721S-casing {
        height: 630px;

        .KE1721S-title {
            top: 255px;
            font-size: 42px;
        }

        .KE1721S-description {
            top: 375px;
        }

        .KE1721S-media-figure {
            top: 135px;
            width: 530px;
            height: 414px;
        }
    }
    /* section casing end */

    /* section size */
    .KE1721S-size  {
        height: 420px;

        .KE1721S-title {
            top: 125px; 
            font-size: 64px;
        }

        .KE1721S-media-figure  {
            top: -120px;
            width: 340px;
            height: 562px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1721S-stand  {
        height: 510px;

        .KE1721S-title {
            top: 135px;
            font-size: 125px;
        }

        .KE1721S-subtitle {
            top: 290px;
            font-size: 36px;
        }

        .KE1721S-media-figure {
            top: 115px;
            width: 345px;
            height: 310px;

            &::after {
                width: 370px;
                height: 50px;
            }
        }
    }
    /* section stand end */
}

@media (max-width: 767px) {
    .KE1721S-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .KE1721S-title,
    .KE1721S-subtitle,
    .KE1721S-description {
        max-width: 280px;
    }

    .KE1721S-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .KE1721S-subtitle {
        font-size: 24px !important;
    }

    .KE1721S-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .KE1721S-title[data-aos],
    .KE1721S-subtitle[data-aos],
    .KE1721S-description[data-aos],
    .KE1721S-media-figure[data-aos] {
        transform: translate(0, 50px) !important;
    }

    .KE1721S-title[data-aos].aos-animate,
    .KE1721S-subtitle[data-aos].aos-animate,
    .KE1721S-description[data-aos].aos-animate,
    .KE1721S-media-figure[data-aos].aos-animate {
        transform: translate(0) !important;
    }

    /* section design */
    .KE1721S-design {
        height: 650px;

        .KE1721S-title {
            top: 40px;
        }

        .KE1721S-description {
            top: 120px;
        }

        .KE1721S-media-figure {
            top: 260px;
            width: 420px;
            height: 376px;
        }
    }
    /* section design end */

    /* section ergonomics */
    .KE1721S-ergonomics  {
        height: 560px;

        .KE1721S-title {
            top: 40px;
        }

        .KE1721S-description {
            top: 155px;
        }

        .KE1721S-media-figure {
            top: 235px;
            left: 15px;
            right: 15px;
            width: 320px;
            height: 356px;
        }
    }
    /* section ergonomics end */

    /* section casing */
    .KE1721S-casing {
        height: 610px;

        .KE1721S-title {
            top: 60px;
        }

        .KE1721S-description {
            top: 140px;
        }

        .KE1721S-media-figure {
            top: 235px;
            left: 15px;
            right: 15px;
            width: 424px;
            height: 330px;
        }
    }
    /* section casing end */

    /* section size */
    .KE1721S-size  {
        height: 640px;

        .KE1721S-title,
        .KE1721S-subtitle,
        .KE1721S-description {
            text-align: left;
        }

        .KE1721S-title {
            top: 60px;
            width: 160px;
            text-align: right;

            .text-lead {
                padding: 0;
                letter-spacing: -0.115em;
                line-height: 0.525;
            }
        }

        .KE1721S-media-figure  {
            top: 220px;
            left: 15px;
            right: 15px;
            width: 290px;
            height: 478px;
        }
    }
    /* section size end */

    /* section stand */
    .KE1721S-stand  {
        height: 540px;

        .KE1721S-title {
            top: 60px;
            font-size: 40px !important;
        }

        .KE1721S-subtitle {
            top: 120px;
        }

        .KE1721S-media-figure {
            top: 225px;
            left: 50px;
            right: 50px;
            width: 310px;
            height: 278px;

            &::after {
                width: 335px;
                height: 45px;
            }
        }
    }
    /* section stand end */
}
