@media (max-width: 1199px) {
    /* section intro */
    .HE211-intro {
        height: 640px;

        .HE211-title {
            top: 85px;
            font-size: 52px;
        }

        .HE211-media-figure {
            top: 355px;
            width: 832px;
            height: 265px;
        }
    }
    /* section intro end */

    /* section power */
    .HE211-power {
        height: 640px;
        background-size: 640px auto !important;

        .HE211-title {
            font-size: 64px;
        }

        .HE211-description {
            top: 540px;
            font-size: 30px;
        }

        .HE211-media-figure {
            top: 60px;
            width: 280px;
            height: 520px;
        }
    }
    /* section power end */

    /* section design */
    .HE211-design {
        height: 690px;

        .HE211-title {
            top: 60px;
            font-size: 85px;
        }

        .HE211-media-figure {
            top: -85px;
            width: 500px;
            height: 883px;
        }
    }
    /* section design end */

    /* section indicator */
    .HE211-indicator {
        height: 620px;

        .HE211-title {
            top: 200px;
            font-size: 76px;
        }

        .HE211-media-figure {
            top: 350px;
            width: 950px;
            height: 266px;
        }
    }
    /* section indicator end */

    /* section mode */
    .HE211-mode {
        height: 660px;

        .HE211-title {
            font-size: 55px;
        }

        .HE211-media-figure {
            width: 890px;
            height: 503px;
        }
    }
    /* section mode end */
}

@media (max-width: 991px) {
    .HE211-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section intro */
    .HE211-intro {
        height: 540px;

        .HE211-title {
            top: 45px;
            font-size: 44px;
        }

        .HE211-media-figure {
            top: 285px;
            width: 655px;
            height: 208px;
        }
    }
    /* section intro end */

    /* section power */
    .HE211-power {
        height: 540px;
        background-size: 450px auto !important;

        .HE211-title {
            font-size: 54px;
        }

        .HE211-description {
            top: 440px;
            font-size: 25px;
        }

        .HE211-media-figure {
            top: 50px;
            width: 238px;
            height: 442px;
        }
    }
    /* section power end */

    /* section design */
    .HE211-design {
        height: 580px;

        .HE211-title {
            top: 50px;
            font-size: 72px;
        }

        .HE211-media-figure {
            top: -80px;
            width: 425px;
            height: 750px;
        }
    }
    /* section design end */

    /* section indicator */
    .HE211-indicator {
        height: 530px;

        .HE211-title {
            top: 170px;
            font-size: 64px;
        }

        .HE211-media-figure {
            top: 300px;
            left: -50px;
            right: -50px;
            width: 810px;
            height: 226px;
        }
    }
    /* section indicator end */

    /* section mode */
    .HE211-mode {
        height: 560px;

        .HE211-title {
            font-size: 46px;
        }

        .HE211-media-figure {
            left: -50px;
            right: -50px;
            width: 756px;
            height: 427px;
        }
    }
    /* section mode end */

    /* section  features */
    .HE211-features-grid {
        .HE211-feature-item {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    /* section  features end */
}

@media (max-width: 767px) {
    .HE211-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .HE211-title,
    .HE211-subtitle,
    .HE211-description {
        max-width: 280px;
    }

    .HE211-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .HE211-subtitle {
        font-size: 24px !important;
    }

    .HE211-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .HE211-title[data-aos],
    .HE211-subtitle[data-aos],
    .HE211-description[data-aos],
    .HE211-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .HE211-title[data-aos].aos-animate,
    .HE211-subtitle[data-aos].aos-animate,
    .HE211-description[data-aos].aos-animate,
    .HE211-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .HE211-intro {
        height: 480px;

        .HE211-title {
            top: 40px;
        }

        .HE211-media-figure {
            top: 250px;
            left: 0;
            right: 0;
            width: 524px;
            height: 167px;
        }
    }
    /* section intro end */

    /* section power */
    .HE211-power {
        height: 640px;
        background-size: 390px auto !important;

        .HE211-title,
        .HE211-subtitle,
        .HE211-description {
            text-align: left;
        }

        .HE211-title {
            top: 40px;
            line-height: inherit;
        }

        .HE211-description {
            top: 125px;
            font-size: 20px;
        }

        .HE211-media-figure {
            top: 215px;
            width: 200px;
            height: 372px;
        }
    }
    /* section power end */

    /* section design */
    .HE211-design {
        overflow: hidden;
        height: 480px;

        .HE211-title {
            top: 40px;
        }

        .HE211-media-figure {
            top: 200px;
            width: 255px;
            height: 450px;
        }
    }
    /* section design end */

    /* section indicator */
    .HE211-indicator {
        height: 480px;

        .HE211-title {
            top: 255px;
            max-width: none;
        }

        .HE211-media-figure {
            top: 325px;
            width: 425px;
            height: 119px;
        }
    }
    /* section indicator end */

    /* section mode */
    .HE211-mode {
        height: 480px;

        .HE211-title {
            top: 35%;
            line-height: inherit;
        }

        .HE211-media-figure {
            top: 145px;
            left: 15px;
            right: 15px;
            width: 560px;
            height: 316px;
        }
    }
    /* section mode end */

    /* section features */
    .HE211-features-grid {
        .HE211-feature-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /* section features end */
}

@media (max-width: 375px) {
    /* section  features */
    .HE211-features-grid {
        .HE211-feature-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* section  features end */
}
