:root {
    --c-default: #313131;
    --case-figure-height: 1219px;
}

.BS101-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    @keyframes slide-to-left {
        0% {
            transform: translate(0);
        }

        100% {
            transform: translate(-100%);
        }
    }

    @keyframes slide-to-right {
        0% {
            transform: translate(0);
        }

        100% {
            transform: translate(100%);
        }
    }

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 2160px;
        padding-left: 6.95%;
        padding-right: 6.95%;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .BS101-title,
    .section-dark .BS101-subtitle,
    .section-dark .BS101-description {
        color: #fff;
    }
}

.BS101-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.BS101-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.BS101-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .BS101-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.BS101-intro {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: #383838;

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    &-logo,
    &-model,
    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-logo {
        top: 60px;
        left: -160px;
        width: 94px;
        height: 547px;
    }

    &-model {
        top: 40px;
        color: #06d5c4;
        font-size: 170px;
        font-weight: 700;
        line-height: 1;
    }

    &-title {
        top: 230px;
        font-size: 110px;
        line-height: normal;
        white-space: nowrap;
    }

    &-subtitle {
        top: 385px;
        font-size: 70px;
        font-weight: 500;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 635px;
        left: 15px;
        right: 15px;
        width: 1159px;
        height: 777px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;

        &-display {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            .aos-animate & {
                animation: 1200ms fade-in-and-out infinite;
            }
        }
    }

    @keyframes fade-in-and-out {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }
}

/* section intro end */

/* section wireless */
.BS101-wireless {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #baf8ed;
    background-image: linear-gradient(to top, #ecf9f7, #baf8ed);
    color: #383838;
    text-align: center;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
        letter-spacing: -0.025em;
    }

    &-title {
        top: 170px;
        font-size: 110px;
        line-height: normal;

        &-icon {
            position: absolute;
            top: 50%;
            left: 0;
            width: 1.8363em;
            height: 2.7363em;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: translate(-80%, -50%);
        }
    }

    &-subtitle {
        top: 550px;
        font-size: 82px;
        font-weight: 500;
        line-height: normal;

        &::before {
            position: absolute;
            top: -0.85em;
            left: 50%;
            width: 8.25em;
            height: 6px;
            background-color: currentColor;
            transform: translate(-50%);
            content: '';
        }
    }

    &-figure {
        position: absolute;
        top: 70px;
        left: 12.5%;
        right: 12.5%;
        width: 595px;
        height: 1188px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-phone {
        position: absolute;
        top: 425px;
        left: -15.5%;
        right: 15px;
        width: 834px;
        height: 887px;
        margin: auto;

        &::before {
            position: absolute;
            top: -9.5%;
            left: 2.5%;
            width: 23.5%;
            height: 23.5%;
            background: url('../images/section-wireless/BS101-wireless-icon-wifi.svg') no-repeat center/contain;
            transform: rotate(-35deg);
            content: '';
        }

        &-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .aos-animate & {
                animation: fade-in 6.5s infinite;

                &:nth-child(1) {
                    animation-delay: 5.2s;
                }

                &:nth-child(2) {
                    animation-delay: 3.9s;
                }

                &:nth-child(3) {
                    animation-delay: 2.6s;
                }

                &:nth-child(4) {
                    animation-delay: 1.3s;
                }

                &:nth-child(5) {
                    animation-delay: 0;
                }
            }

        }
    }

    // doc: https://www.devtwins.com/blog/css-cross-fading-images
    @keyframes fade-in {
        0% {
            opacity: 1;
        }

        12.3% {
            opacity: 1;
        }

        20% {
            opacity: 0;
        }

        92.3% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

/* section wireless end */

/* section biometric */
.BS101-biometric {
    $this: &;

    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f4f4f4;
    color: #383838;

    &-title {
        position: absolute;
        top: 880px;
        left: 15px;
        right: 15px;
        font-size: 133px;
        font-weight: 500;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
    }

    &-slider {
        overflow: hidden;
        display: flex;

        &+& {
            margin-top: 70px;
            flex-direction: row-reverse;
        }
    }

    &-slide {
        display: flex;
        flex-shrink: 0;
        animation: 10s slide-to-left infinite linear;

        #{$this}-slider:nth-of-type(2) & {
            animation: 10s slide-to-right infinite linear;
        }

        &-media {
            display: block;
            width: 300px;
            margin-left: 32px;
            margin-right: 32px;
        }
    }
}

/* section biometric end */

/* section screen */
.BS101-screen {
    overflow: hidden;
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #45433f;
    color: #fff;
    text-align: right;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 70px;
        color: #b9f8ed;
        font-size: 133px;
        font-weight: 500;
        line-height: normal;
    }

    &-subtitle {
        top: 260px;
        font-size: 70px;
        font-weight: 500;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        top: 455px;
        left: 15px;
        right: 15px;
        width: 1800px;
        height: 1185px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section screen end */