.sw-01-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .sw-01-title,
    .section-dark .sw-01-subtitle,
    .section-dark .sw-01-description {
        color: #fff;
    }
}

.sw-01-title {
    margin: 0 0 20px;
    color: #404040;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.sw-01-description {
    margin: 0 0 45px;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.sw-01-media-figure {
    opacity: 1 !important;
    margin: 0;

    .sw-01-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.sw-01-intro {
    position: relative;
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #131312;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        content: "";
    }

    .sw-01-title,
    .sw-01-subtitle,
    .sw-01-description,
    .sw-01-model {
        position: absolute;
        z-index: 9;
        left: 75px;
        right: 75px;
        color: inherit;
        text-align: right;
    }

    .sw-01-title {
        top: 240px;
        font-size: 48px;
        font-weight: 400;
    }

    .sw-01-model {
        top: 95px;
        font-size: 125px;
        font-weight: 700;
    }

    .sw-01-media-figure {
        position: absolute;
        z-index: 1;
        top: -65px;
        left: 15px;
        right: 15px;
        width: 523px;
        height: 920px;
        margin: auto;

        .sw-01-media {
            width: inherit;
            height: inherit;
        }
    }

    .sw-01-intro-background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* section intro end */

/* section functions */
.sw-01-functions {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 765px;
    padding-top: 0;
    padding-bottom: 0;
    background: #e17a5d;

    .sw-01-title,
    .sw-01-subtitle,
    .sw-01-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: inherit;
        text-align: right;
    }

    .sw-01-title {
        top: 85px;
        font-size: 65px;
    }
}

.sw-01-functions-list {
    position: absolute;
    top: 425px;
    left: -5vw;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.sw-01-function-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px 10px 8px 6.5vw;
    border-radius: 30px;
    border: solid 0 #010101;
    background-color: rgba(0, 0, 0, 0.5);
}

.sw-01-function-media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.sw-01-function-icon {
    max-width: none !important;
}
/* section functions end */

/* section sync */
.sw-01-sync {
    overflow: hidden;
    height: 770px;
    padding-top: 0;
    padding-bottom: 0;
    background: #eeeeee;

    .sw-01-title,
    .sw-01-subtitle,
    .sw-01-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: inherit;
        text-align: center;
    }

    .sw-01-title {
        top: 270px;
        font-size: 52px;
    }

    .sw-01-media-figure {
        position: absolute;
        left: 15px;
        right: 15px;
        margin: auto;

        .sw-01-media {
            width: inherit;
            height: inherit;
        }
    }

    .sw-01-media-watch-figure {
        top: 0;
        width: 179px;
        height: 791px;
    }

    .sw-01-media-phone-figure {
        top: 40px;
        width: 336px;
        height: 681px;
    }
}

.sw-01-sync-list {
    position: absolute;
    top: 490px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 650px;
    margin: auto;
    padding: 0;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.sw-01-sync-media {
    height: 100px;
    margin-bottom: 15px;
}

.sw-01-sync-icon {
    width: auto;
    max-width: none;
    max-height: 100%;
}
/* section sync end */

/* section sleep */
.sw-01-sleep {
    overflow: hidden;
    height: 800px;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;

    .sw-01-title,
    .sw-01-subtitle,
    .sw-01-description {
        position: absolute;
        left: 15px;
        right: 15px;
        color: #7091b5;
        text-align: right;
    }

    .sw-01-title {
        top: 450px;
        font-size: 55px;
    }

    .sw-01-description {
        top: 605px;
        font-size: 25px;
    }
}
/* section sleep end */

/* section features */
.sw-01-features {
    padding-top: 70px;
    padding-bottom: 70px;

    .sw-01-title {
        font-size: 35px;
        text-align: center;
    }
}

.sw-01-feature-card {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #434343;
}

.sw-01-feature-media {
    width: 110px;
    height: 110px;
    margin: 0 auto 15px;
}

.sw-01-feature-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.38;
    color: inherit;
}

.sw-01-features-grid {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px -10px -30px;

    &::before,
    &::after {
        display: none;
    }

    .sw-01-feature-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* section features end */
