@media (max-width: 1199px) {

    /* section intro */
    .PR03-intro {
        &-title {
            font-size: 32px;
        }

        &-subtitle {
            font-size: 26px;
        }

        &-model {
            font-size: 42px;
        }

        &-logo {
            width: 118px;
            height: 20px;
        }

        &-figure {
            width: 520px;
            height: 658px;
        }
    }

    /* section intro end */

    /* section controls */
    .PR03-controls {
        .PR03-title {
            font-size: 32px;
        }

        &-figure {
            width: 900px;
            height: 428px;
        }
    }

    /* section controls end */
}

@media (max-width: 991px) {
    .PR03-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section intro */
    .PR03-intro {
        &-title {
            font-size: 28px;
        }

        &-subtitle {
            font-size: 22px;
        }

        &-model {
            font-size: 36px;
        }

        &-logo {
            width: 100px;
            height: 17px;
        }

        &-figure {
            width: 440px;
            height: 556px;
        }

        &-fm {
            left: 40px;
        }
    }

    /* section intro end */

    /* section controls */
    .PR03-controls {
        .PR03-title {
            font-size: 28px;
        }

        &-figure {
            width: 765px;
            height: 364px;
        }

        &-block {
            top: 25vh;
        }
    }

    /* section controls end */
}

@media (max-width: 767px) {
    .PR03-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .PR03-title,
    .PR03-subtitle,
    .PR03-description {
        max-width: 280px;
    }

    .PR03-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .PR03-subtitle {
        font-size: 24px !important;
    }

    .PR03-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .PR03-title[data-aos],
    .PR03-subtitle[data-aos],
    .PR03-description[data-aos],
    .PR03-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .PR03-title[data-aos].aos-animate,
    .PR03-subtitle[data-aos].aos-animate,
    .PR03-description[data-aos].aos-animate,
    .PR03-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .PR03-intro {
        &-figure {
            top: 320px;
            width: 352px;
            height: 445px;
        }

        &-fm {
            top: 100px;
            left: 0;
            right: 0;
        }

        &-antenna {
            top: 100px;
        }
    }

    /* section intro end */

    /* section controls */
    .PR03-controls {
        &-figure {
            top: 340px;
            width: 650px;
            height: 310px;
        }

        &-block {
            top: 100px;
        }
    }

    /* section controls end */
}