.pr-02-landing {
    overflow: hidden;
    position: relative;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1220px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .pr-02-title,
    .section-dark .pr-02-subtitle,
    .section-dark .pr-02-description {
        color: #fff;
    }
}

.pr-02-title {
    margin: 0 0 20px;
    color: #404040;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.pr-02-description {
    margin: 0 0 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.pr-02-media-figure {
    opacity: 1 !important;
    margin: 0;

    .pr-02-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* shape */
.pr-02-shape {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 1177px;
    height: 654px;
    border-radius: 50%;
    background-image: linear-gradient(-208deg, #c1392d 0%, #8d44ad 100%);
    background-size: 400% 400%;
    animation: baseShapeAnimation 6s ease infinite;
    transform: translateX(-18%);
}

@keyframes baseShapeAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* shape end */

/* section intro */
.pr-02-intro {
    position: relative;
    z-index: 1;
    height: 730px;
    padding-top: 0;
    padding-bottom: 0;

    &.aos-animate {
        ~ .pr-02-shape {
            transition: all 800ms ease;
        }
    }

    .pr-02-title,
    .pr-02-subtitle,
    .pr-02-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .pr-02-title {
        top: 240px;
        font-size: 37px;
        font-weight: 900;
    }

    .pr-02-subtitle {
        top: 135px;
        font-size: 50px;
        font-weight: 900;
    }

    .pr-02-logo {
        display: block;
        width: 133px;
        height: 22px;
    }

    .pr-02-media-figure {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 15px;
        right: 15px;
        width: 691px;
        height: 657px;
        margin: auto;

        .pr-02-media {
            width: inherit;
            height: inherit;
        }
    }
}
/* section intro end */

/* section presentation */
.pr-02-presentation {
    position: relative;
    z-index: 1;
    height: 915px;
    padding-top: 0;
    padding-bottom: 0;

    &.aos-animate {
        ~ .pr-02-shape {
            top: 920px;
            transform: translateX(-50.5%) rotate(21deg);
            transition: all 800ms ease;
            background-image: linear-gradient(
                -208deg,
                #21ded1 0%,
                #2d25d3 100%
            );
        }
    }

    .pr-02-title,
    .pr-02-subtitle,
    .pr-02-description {
        position: relative;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .pr-02-title {
        font-size: 25px;
        font-weight: 900;
    }

    .pr-02-description {
        font-size: 20px;
    }

    .pr-02-media-figure {
        position: absolute;
        z-index: 1;
        top: 145px;
        left: 15px;
        right: 15px;
        width: 531px;
        height: 618px;
        margin: auto;

        .pr-02-media {
            width: inherit;
            height: inherit;
        }
    }

    .pr-02-presentaiton-block {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        &::before,
        &::after {
            position: absolute;
            transition: width 800ms ease, height 800ms ease;
            transition-delay: 800ms;
            content: '';
        }

        .pr-02-title,
        .pr-02-description {
            margin: 0;
        }
    }

    .pr-02-presentaiton-antenna-block {
        top: 65px;

        &::before {
            top: 85px;
            right: -295px;
            width: 0;
            border-bottom: 1px solid currentColor;
        }

        &.aos-animate {
            &::before {
                width: 285px;
            }
        }
    }

    .pr-02-presentaiton-connection-block {
        top: 295px;

        &::before {
            position: absolute;
            top: 98px;
            left: -140px;
            width: 0;
            border-bottom: 1px solid currentColor;
            content: '';
        }

        &::after {
            position: absolute;
            top: 105%;
            left: 0;
            width: 0;
            height: 0;
            border-right: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            content: '';
        }

        &.aos-animate {
            &::before {
                width: 140px;
            }

            &::after {
                width: 125px;
                height: 280px;
            }
        }
    }

    .pr-02-presentaiton-controls-block {
        top: 525px;

        &::before {
            position: absolute;
            top: 15px;
            right: -280px;
            width: 0;
            border-bottom: 1px solid currentColor;
            content: '';
        }

        &.aos-animate {
            &::before {
                width: 235px;
            }
        }
    }
}
/* section presentation end */

/* section mood */
.pr-02-mood {
    position: relative;
    z-index: 1;
    height: 950px;
    padding-top: 0;
    padding-bottom: 0;

    &.aos-animate {
        ~ .pr-02-shape {
            top: 1840px;
            transform: scale(1.23) translateX(-36.5%) rotate(-12.5deg);
            transition: all 800ms ease;
            background-image: linear-gradient(
                40deg,
                rgba(247, 218, 29, 1) 0%,
                rgba(68, 160, 246, 1) 100%
            );
        }
    }

    .pr-02-title,
    .pr-02-subtitle,
    .pr-02-description {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
        color: inherit;
    }

    .pr-02-title {
        top: 500px;
        font-size: 40px;
        font-weight: 900;

        span {
            position: relative;
            background: linear-gradient(to left, #0c00ff 0%, #c900cb 100%);
            background-size: 400px auto;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: inherit;
            &::before {
                position: absolute;
                z-index: -1;
                left: -0.12em;
                right: -0.12em;
                height: 100%;
                background-color: #fff;
                content: '';
            }
        }
    }

    .pr-02-media-figure {
        position: absolute;
        z-index: 1;
        top: 190px;
        left: 15px;
        right: 15px;
        width: 734px;
        height: 570px;
        margin: auto;

        .pr-02-media {
            width: inherit;
            height: inherit;
        }
    }

    .pr-02-mood-background {
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        z-index: 0;
        top: 120px;
        left: 50%;
        width: 1450px;
        height: 805px;
        border-radius: 50%;
        transform: translateX(-46%) rotate(-12.5deg);
    }

    .pr-02-mood-video {
        position: absolute;
        top: -5%;
        left: 0;
        width: 100%;
        height: 110%;
        border-radius: 0 0 0 0;
        object-fit: cover;
        transform: rotate(12.5deg);

        &.pr-02-mood-video-mobile {
            display: none;
        }
    }
}
/* section mood end */

/* section features */
.pr-02-features {
    padding-top: 70px;
    padding-bottom: 70px;

    .pr-02-title {
        font-size: 35px;
        text-align: center;
    }
}

.pr-02-feature-card {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #434343;
}

.pr-02-feature-media {
    width: 110px;
    height: 110px;
    margin: 0 auto 15px;
}

.pr-02-feature-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.38;
    color: inherit;
}

.pr-02-features-grid {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px -10px -30px;

    &::before,
    &::after {
        display: none;
    }

    .pr-02-feature-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* section features end */

/* animations */
[data-aos='show-in'] {
    opacity: 0;
    transition-property: opacity;
    &.aos-animate {
        opacity: 1;
    }
}
/* animations end */
