:root {
    --c-default: #313131;
}

.X10i-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 2160px;
        // padding-left: 200px;
        // padding-right: 110px;
        padding-left: 9.25%;
        padding-right: 5.10%;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .X10i-title,
    .section-dark .X10i-subtitle,
    .section-dark .X10i-description {
        color: #fff;
    }
}

.X10i-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.X10i-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.X10i-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .X10i-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section design */
.X10i-design {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    font-weight: 300;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }

    &-title,
    &-subtitle {
        position: absolute;
        left: 160px;
        right: 15px;
    }

    &-title {
        top: 510px;
        font-size: 264px;
        line-height: normal;
    }

    &-subtitle {
        top: 835px;
        font-size: 84px;
        line-height: normal;
    }

    &-logo {
        position: absolute;
        top: 565px;
        left: 15px;
        width: 76px;
        height: 446px
    }

    &-figure {
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        width: 1002px;
        height: 1084px;
        margin: auto;

        &[data-aos^=fade] {
            opacity: 1;
        }
    }

    &-media {
        position: absolute;
        transition: transform 800ms ease;
        transition-delay: 100ms;

        &.layer-1 {
            top: 1.5%;
            left: 0;
            width: 391px;
            height: 1071px;
            transform: translate(40%);

            .aos-animate & {
                transform: translate(0%);
            }
        }

        &.layer-2 {
            top: 3.5%;
            left: 48%;
            width: 97px;
            height: 1041px;
        }

        &.layer-3 {
            top: 0;
            left: 68%;
            width: 296px;
            height: 1084px;
            transform: translate(-40%);

            .aos-animate & {
                transform: translate(0%);
            }
        }
    }
}

/* section design end */

/* section screen */
.X10i-screen {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    font-weight: 300;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 220px;
        font-size: 100px;
        line-height: normal;

        .text-lead {
            font-size: 214%;
        }
    }

    &-subtitle {
        top: 715px;
        font-size: 54px;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 85px;
        left: 0;
        right: 0;
        width: 460px;
        height: 1261px;
        margin: auto;

        &::before,
        &::after {
            opacity: 0;
            position: absolute;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            content: '';
        }

        &::before {
            top: -2%;
            left: 65%;
            width: 35%;
            height: 12.38%;
            background-image: url('../images/section-screen/X10i-screen-shine-top.png');
        }

        &::after {
            top: 12.5%;
            left: 89%;
            width: 5%;
            height: 8.57%;
            background-image: url('../images/section-screen/X10i-screen-shine-side.png');
        }

        &.aos-animate {
            &::before {
                animation: fade-in-and-out 5s infinite;
            }

            &::after {
                animation: slide-down 5s 2.5s infinite;
            }
        }

        @keyframes fade-in-and-out {
            0% {
                opacity: 0;
            }

            25% {
                opacity: 1;
            }

            50%,
            100% {
                opacity: 0;
            }
        }

        @keyframes slide-down {
            0% {
                opacity: 0;
            }

            5% {
                opacity: 1;
            }

            50%,
            100% {
                opacity: 0;
                top: 50%;
            }
        }
    }

    &-phone {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &-display {
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 8.75%;
        left: 6%;
        right: 15.5%;
        height: 47%;
        background-color: #000;
    }

    &-media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &-layers {
        position: absolute;
        top: 9.5%;
        left: 8%;
        right: 15.5%;
        height: 46%;
    }

    &-layer {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(0);
        transition: opacity 300ms ease, transform 800ms ease;

        .aos-animate & {
            opacity: 1;
        }

        &:nth-of-type(1) {
            .aos-animate & {
                transform: translate(-12%, 3.5%);
            }
        }

        &:nth-of-type(2) {
            .aos-animate & {
                transform: translate(-19.5%, 8.5%);
            }
        }
    }
}

/* section screen end */

/* section case */
.X10i-case {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    font-weight: 300;

    &-title,
    &-block {
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 15px;
        right: 15px;
        transition-property: opacity, transform;
        transition-duration: 0.5s;

        &.aos-animate {
            opacity: 1;
            transform: translate(0);
        }
    }

    &-title {
        top: 150px;
        transform: translate(-100px);
        font-size: 66px;
        font-weight: 400;
        line-height: normal;
    }

    &-block {
        position: absolute;
        top: 315px;
        left: 15px;
        right: 15px;
        transform: translate(100px);
        text-align: right;

        &-title {
            position: relative;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            font-size: 66px;
            font-weight: 300;
            line-height: normal;

            &+& {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 9.25em;
                    border-top: 0.0605em solid currentColor;
                    content: '';
                }
            }
        }
    }
}

/* section case end */

/* section battery */
.X10i-battery {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    font-weight: 300;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 120px;
        font-size: 110px;
        line-height: normal;

        .text-small {
            font-size: 94.5%;
        }

        .text-lead {
            font-size: 110%;
            font-weight: normal;
        }
    }

    &-subtitle {
        top: 830px;
        font-size: 66px;
        line-height: normal;
        text-align: right;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 330px;
        left: 15px;
        right: 15px;
        width: 1510px;
        height: 582px;
        margin: auto;

        &-oas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-shadow {
            position: absolute;
            z-index: -1;
            top: 15%;
            left: 5%;
            right: 5%;
            bottom: 15%;
            transform: rotate(-15deg);
            content: '';

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #fff;
                filter: blur(200px);
                transform: translate3d(0, 0, 0);
                content: '';
            }
        }
    }


    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section battery end */

/* section connector */
.X10i-connector {
    overflow: hidden;
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    font-weight: 300;

    &-title {
        position: absolute;
        top: 815px;
        left: 15px;
        right: 15px;
        font-size: 110px;
        line-height: normal;

        &::before {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            width: 250%;
            height: 290%;
            background: #5ccbf7;
            transform: rotate(-20deg) translate3d(-50%, -25%, 0);
            transform-origin: top left;
            filter: blur(164px);
            content: '';
        }

        .text-lead {
            font-size: 110%;
            font-weight: normal;
        }
    }
}

/* section connector end */