@media (max-width: 1980px) {

    .X10i-landing {
        .container {
            padding-left: 7.85%;
            padding-right: 4.35%;
        }
    }

    /* section design */
    .X10i-design {
        height: 1150px;

        &-title,
        &-subtitle {
            left: 135px;
        }

        &-title {
            top: 435px;
            font-size: 224px;
        }

        &-subtitle {
            top: 710px;
            font-size: 70px;
        }

        &-logo {
            top: 485px;
            width: 64px;
            height: 376px;
        }

        &-figure {
            top: 135px;
            width: 852px;
            height: 926px;
        }

        &-media {
            &.layer-1 {
                width: 332px;
                height: 910px;
            }

            &.layer-2 {
                width: 82px;
                height: 882px;
            }

            &.layer-3 {
                width: 252px;
                height: 926px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 1150px;

        &-title {
            top: 185px;
            font-size: 85px;
        }

        &-subtitle {
            top: 605px;
            font-size: 44px;
        }

        &-figure {
            top: 70px;
            width: 390px;
            height: 1070px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 1150px;

        &-title {
            top: 135px;
            font-size: 54px;
        }

        &-block {
            top: 275px;

            &-title {
                font-size: 54px;
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 1150px;

        &-title {
            top: 100px;
            font-size: 94px;
        }

        &-subtitle {
            top: 705px;
            font-size: 54px;
        }

        &-figure {
            top: 280px;
            width: 1284px;
            height: 495px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 1150px;

        &-title {
            top: 690px;
            font-size: 94px;
        }
    }

    /* section connector end */
}

@media (max-width: 1680px) {

    /* section design */
    .X10i-design {
        height: 980px;

        &-title,
        &-subtitle {
            left: 115px;
        }

        &-title {
            top: 370px;
            font-size: 190px;
        }

        &-subtitle {
            top: 600px;
            font-size: 60px;
        }

        &-logo {
            top: 410px;
            width: 54px;
            height: 317px;
        }

        &-figure {
            top: 135px;
            width: 724px;
            height: 786px;
        }

        &-media {
            &.layer-1 {
                width: 282px;
                height: 774px;
            }

            &.layer-2 {
                width: 70px;
                height: 753px;
            }

            &.layer-3 {
                width: 214px;
                height: 786px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 980px;

        &-title {
            top: 155px;
            font-size: 72px;
        }

        &-subtitle {
            top: 515px;
            font-size: 36px;
        }

        &-figure {
            top: 60px;
            width: 330px;
            height: 905px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 980px;

        &-title {
            top: 125px;
            font-size: 46px;
        }

        &-block {
            top: 240px;

            &-title {
                font-size: 46px;
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 980px;

        &-title {
            top: 85px;
            font-size: 80px;
        }

        &-subtitle {
            top: 600px;
            font-size: 46px;
        }

        &-figure {
            top: 240px;
            width: 1090px;
            height: 420px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 980px;

        &-title {
            top: 585px;
            font-size: 80px;
        }
    }

    /* section connector end */
}

@media (max-width: 1440px) {

    /* section design */
    .X10i-design {
        height: 835px;

        &-title,
        &-subtitle {
            left: 95px;
        }

        &-title {
            top: 315px;
            font-size: 160px;
        }

        &-subtitle {
            top: 510px;
            font-size: 50px;
        }

        &-logo {
            top: 350px;
            width: 45px;
            height: 264px;
        }

        &-figure {
            top: 115px;
            width: 615px;
            height: 662px;
        }

        &-media {
            &.layer-1 {
                width: 240px;
                height: 658px;
            }

            &.layer-2 {
                width: 60px;
                height: 645px;
            }

            &.layer-3 {
                width: 180px;
                height: 662px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 835px;

        &-title {
            top: 130px;
            font-size: 60px;
        }

        &-subtitle {
            top: 435px;
            font-size: 30px;
        }

        &-figure {
            top: 50px;
            width: 280px;
            height: 768px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 835px;

        &-title {
            top: 115px;
            font-size: 38px;
        }

        &-block {
            top: 210px;

            &-title {
                font-size: 38px;
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 835px;

        &-title {
            top: 70px;
            font-size: 68px;
        }

        &-subtitle {
            top: 510px;
            font-size: 38px;
        }

        &-figure {
            top: 205px;
            width: 926px;
            height: 357px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 835px;

        &-title {
            top: 495px;
            font-size: 68px;
        }
    }

    /* section connector end */
}

@media (max-width: 1199px) {
    .X10i-landing {
        .container {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    /* section design */
    .X10i-design {
        height: 710px;

        &-title,
        &-subtitle {
            left: 80px;
        }

        &-title {
            top: 265px;
            font-size: 134px;
        }

        &-subtitle {
            top: 435px;
            font-size: 42px;
        }

        &-logo {
            top: 295px;
            width: 39px;
            height: 230px;
        }

        &-figure {
            top: 100px;
            width: 522px;
            height: 558px;
        }

        &-media {
            &.layer-1 {
                width: 204px;
                height: 560px;
            }

            &.layer-2 {
                width: 50px;
                height: 538px;
            }

            &.layer-3 {
                width: 152px;
                height: 558px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 710px;

        &-title {
            top: 110px;
            font-size: 50px;
        }

        &-subtitle {
            top: 370px;
            font-size: 24px;
        }

        &-figure {
            top: 40px;
            width: 238px;
            height: 652px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 710px;

        &-title {
            top: 105px;
            font-size: 32px;
        }

        &-block {
            top: 190px;

            &-title {
                font-size: 32px;
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 710px;

        &-title {
            top: 60px;
            font-size: 56px;
        }

        &-subtitle {
            top: 430px;
            font-size: 32px;
        }

        &-figure {
            top: 175px;
            width: 787px;
            height: 303px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 710px;

        &-title {
            top: 420px;
            font-size: 56px;
        }
    }

    /* section connector end */
}

@media (max-width: 991px) {

    .X10i-landing {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    /* section design */
    .X10i-design {
        height: 600px;

        &-title,
        &-subtitle {
            left: 70px;
        }

        &-title {
            top: 225px;
            font-size: 112px;
        }

        &-subtitle {
            top: 370px;
            font-size: 34px;
        }

        &-logo {
            top: 250px;
            width: 33px;
            height: 194px;
        }

        &-figure {
            top: 85px;
            width: 442px;
            height: 478px;
        }

        &-media {
            &.layer-1 {
                width: 174px;
                height: 477px;
            }

            &.layer-2 {
                width: 42px;
                height: 452px;
            }

            &.layer-3 {
                width: 130px;
                height: 478px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 600px;

        &-title {
            top: 95px;
            font-size: 42px;
        }

        &-subtitle {
            top: 315px;
            font-size: 20px;
        }

        &-figure {
            top: 35px;
            width: 202px;
            height: 554px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 600px;

        &-title {
            top: 100px;
            font-size: 26px;
        }

        &-block {
            top: 170px;

            &-title {
                font-size: 26px;
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 600px;

        &-title {
            top: 50px;
            font-size: 46px;
        }

        &-subtitle {
            top: 365px;
            font-size: 26px;
        }

        &-figure {
            top: 150px;
            width: 668px;
            height: 258px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 600px;

        &-title {
            top: 355px;
            font-size: 46px;
        }
    }

    /* section connector end */
}

@media (max-width: 767px) {
    .X10i-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .X10i-title,
    .X10i-subtitle,
    .X10i-description,
    .X10i-design-title,
    .X10i-design-subtitle,
    .X10i-screen-title,
    .X10i-screen-subtitle,
    .X10i-case-title,
    .X10i-case-block,
    .X10i-battery-title,
    .X10i-battery-subtitle,
    .X10i-connector-title {
        max-width: 280px;
    }

    .X10i-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .X10i-subtitle {
        font-size: 24px !important;
    }

    .X10i-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .X10i-title[data-aos],
    .X10i-subtitle[data-aos],
    .X10i-description[data-aos],
    .X10i-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .X10i-title[data-aos].aos-animate,
    .X10i-subtitle[data-aos].aos-animate,
    .X10i-description[data-aos].aos-animate,
    .X10i-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section design */
    .X10i-design {
        height: 635px;

        &-title,
        &-subtitle {
            left: 50px;
        }

        &-title {
            top: 30px;
            font-size: 60px;
        }

        &-subtitle {
            top: 105px;
            font-size: 24px;
        }

        &-logo {
            top: 40px;
            width: 20px;
            height: 118px;
        }

        &-figure {
            top: 195px;
            width: 335px;
            height: 404px;
        }

        &-media {
            &.layer-1 {
                width: 146px;
                height: 400px;
            }

            &.layer-2 {
                width: 36px;
                height: 387px;
            }

            &.layer-3 {
                width: 110px;
                height: 404px;
            }
        }
    }

    /* section design end */

    /* section screen */
    .X10i-screen {
        height: 425px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 155px;
            font-size: 20px;
        }

        &-figure {
            top: 265px;
            width: 202px;
            height: 554px;
        }
    }

    /* section screen end */

    /* section case */
    .X10i-case {
        height: 940px;

        &-title {
            top: 80px;
            font-size: 28px;
        }

        &-block {
            top: 150px;
            text-align: left;

            &-title {
                padding-top: 1em;
                padding-bottom: 1em;
                font-size: 20px;

                &+& {
                    &::before {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }

    /* section case end */

    /* section battery */
    .X10i-battery {
        height: 420px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 115px;
            font-size: 20px;
            text-align: left;
        }

        &-figure {
            top: 130px;
            width: 568px;
            height: 218px;
        }
    }

    /* section battery end */

    /* section connector */
    .X10i-connector {
        height: 420px;

        &-title {
            top: 280px;
            font-size: 28px;
        }
    }

    /* section connector end */
}