@media (max-width: 1980px) {

    /* section intro */
    .E5-intro {
        height: 1150px;

        .container {
            padding-left: 3.95%;
            padding-right: 3.95%;
        }

        &-logo {
            top: 145px;
            width: 418px;
            height: 72px;
        }

        &-model {
            top: 305px;
            font-size: 170px;
        }

        &-title {
            top: 645px;
            font-size: 88px;
        }

        &-figure {
            top: 145px;
            width: 714px;
            height: 1099px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 1150px;

        &-title {
            top: 265px;
            font-size: 114px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 1150px;

        &-title {
            top: 170px;
            font-size: 108px;
        }

        &-subtitle {
            top: 365px;
            font-size: 50px;
        }

        &-sketch {
            top: 570px;
            width: 450px;
            height: 450px;
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 1215px;

        &-title {
            top: 465px;
            font-size: 108px;
        }

        &-subtitle {
            top: 655px;
            font-size: 48px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 1060px;

        &-title {
            top: 265px;
            font-size: 108px;
        }

        &-subtitle {
            top: 585px;
            font-size: 48px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 1060px;

        &-title {
            top: 185px;
            font-size: 108px;
        }

        &-subtitle {
            top: 640px;
            font-size: 48px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 1060px;

        &-title {
            top: 605px;
            font-size: 82px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 1090px;

        &-title {
            top: 185px;
            font-size: 108px;
        }

        &-subtitle {
            top: 570px;
            font-size: 52px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 1150px;

        .container {
            padding-left: 4.375%;
            padding-right: 4.375%;
        }

        &-title {
            top: 470px;
            font-size: 114px;
        }

        &-figure {
            top: -160px;
            width: 796px;
            height: 1188px;
        }

        &-sketch {
            top: 805px;
            width: 655px;
            height: 229px;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 1260px;

        .container {
            padding-left: 4.375%;
            padding-right: 4.375%;
        }

        &-title {
            top: 440px;
            font-size: 76px;
        }

        &-subtitle {
            top: 690px;
            font-size: 46px;
        }

        &-figure {
            top: 170px;
            width: 594px;
            height: 785px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 1040px;

        .container {
            padding-left: 4.375%;
            padding-right: 4.375%;
        }

        &-title {
            top: 40px;
            font-size: 158px;
        }

        &-subtitle {
            top: 205px;
            font-size: 114px;
        }

        &-figure {
            top: 150px;
            left: 4.25%;
            right: 4.25%;
            width: 994px;
            height: 694px;
        }
    }

    /* section slots end */
}

@media (max-width: 1680px) {

    /* section intro */
    .E5-intro {
        height: 980px;

        &-logo {
            top: 125px;
            width: 354px;
            height: 60px;
        }

        &-model {
            top: 260px;
            font-size: 144px;
        }

        &-title {
            top: 550px;
            font-size: 74px;
        }

        &-figure {
            top: 125px;
            width: 604px;
            height: 930px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 980px;

        &-title {
            top: 225px;
            font-size: 96px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 980px;

        &-title {
            top: 145px;
            font-size: 90px;
        }

        &-subtitle {
            top: 310px;
            font-size: 42px;
        }

        &-sketch {
            top: 485px;
            width: 382px;
            height: 382px;
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 1030px;

        &-title {
            top: 395px;
            font-size: 90px;
        }

        &-subtitle {
            top: 555px;
            font-size: 40px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 900px;

        &-title {
            top: 225px;
            font-size: 90px;
        }

        &-subtitle {
            top: 500px;
            font-size: 40px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 900px;

        &-title {
            top: 160px;
            font-size: 90px;
        }

        &-subtitle {
            top: 545px;
            font-size: 40px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 900px;

        &-title {
            top: 515px;
            font-size: 70px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 925px;

        &-title {
            top: 160px;
            font-size: 90px;
        }

        &-subtitle {
            top: 485px;
            font-size: 44px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 980px;

        &-title {
            top: 400px;
            font-size: 96px;
        }

        &-figure {
            top: -135px;
            width: 676px;
            height: 1008px;
        }

        &-sketch {
            top: 685px;
            width: 554px;
            height: 194px;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 1070px;

        &-title {
            top: 375px;
            font-size: 64px;
        }

        &-subtitle {
            top: 585px;
            font-size: 38px;
        }

        &-figure {
            top: 145px;
            width: 504px;
            height: 666px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 885px;

        &-title {
            font-size: 134px;
        }

        &-subtitle {
            top: 175px;
            font-size: 96px;
        }

        &-figure {
            top: 130px;
            width: 844px;
            height: 590px;
        }
    }

    /* section slots end */
}

@media (max-width: 1440px) {

    /* section intro */
    .E5-intro {
        height: 835px;

        &-logo {
            top: 105px;
            width: 300px;
            height: 51px;
        }

        &-model {
            top: 220px;
            font-size: 122px;
        }

        &-title {
            top: 465px;
            font-size: 62px;
        }

        &-figure {
            top: 105px;
            width: 514px;
            height: 792px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 830px;

        &-title {
            top: 190px;
            font-size: 80px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 830px;

        &-title {
            top: 125px;
            font-size: 74px;
        }

        &-subtitle {
            top: 265px;
            font-size: 36px;
        }

        &-sketch {
            top: 410px;
            width: 324px;
            height: 324px;
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 875px;

        &-title {
            top: 335px;
            font-size: 74px;
        }

        &-subtitle {
            top: 470px;
            font-size: 34px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 765px;

        &-title {
            top: 190px;
            font-size: 74px;
        }

        &-subtitle {
            top: 425px;
            font-size: 34px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 765px;

        &-title {
            top: 135px;
            font-size: 74px;
        }

        &-subtitle {
            top: 460px;
            font-size: 34px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 765px;

        &-title {
            top: 440px;
            font-size: 60px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 785px;

        &-title {
            top: 135px;
            font-size: 74px;
        }

        &-subtitle {
            top: 410px;
            font-size: 36px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 830px;

        &-title {
            top: 340px;
            font-size: 80px;
        }

        &-figure {
            top: -115px;
            width: 574px;
            height: 856px;
        }

        &-sketch {
            top: 580px;
            width: 470px;
            height: 164px;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 910px;

        &-title {
            top: 320px;
            font-size: 54px;
        }

        &-subtitle {
            top: 500px;
            font-size: 32px;
        }

        &-figure {
            top: 125px;
            width: 428px;
            height: 565px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 750px;

        &-title {
            font-size: 112px;
        }

        &-subtitle {
            top: 150px;
            font-size: 80px;
        }

        &-figure {
            top: 110px;
            width: 716px;
            height: 500px;
        }

        &-parallax {
            top: -15%;
        }
    }

    /* section slots end */
}

@media (max-width: 1199px) {
    :root {
        --container-padding-x: 50px;
    }

    .E5-landing {
        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }
    }

    /* section intro */
    .E5-intro {
        height: 710px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-logo {
            top: 90px;
            width: 255px;
            height: 44px;
        }

        &-model {
            top: 185px;
            font-size: 102px;
        }

        &-title {
            top: 395px;
            font-size: 52px;
        }

        &-figure {
            top: 90px;
            width: 436px;
            height: 671px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 705px;

        &-title {
            top: 160px;
            font-size: 68px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 705px;

        &-title {
            top: 105px;
            font-size: 62px;
        }

        &-subtitle {
            top: 225px;
            font-size: 30px;
        }

        &-sketch {
            top: 350px;
            width: 274px;
            height: 274px;
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 740px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 285px;
            font-size: 62px;
        }

        &-subtitle {
            top: 400px;
            font-size: 28px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 650px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 160px;
            font-size: 62px;
        }

        &-subtitle {
            top: 360px;
            font-size: 28px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 650px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 115px;
            font-size: 62px;
        }

        &-subtitle {
            top: 390px;
            font-size: 28px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 650px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 375px;
            font-size: 50px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 665px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 115px;
            font-size: 62px;
        }

        &-subtitle {
            top: 350px;
            font-size: 30px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 705px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 290px;
            font-size: 68px;
        }

        &-figure {
            top: -95px;
            width: 460px;
            height: 686px;
        }

        &-sketch {
            top: 490px;
            width: 400px;
            height: 140px;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 775px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            top: 270px;
            font-size: 44px;
        }

        &-subtitle {
            top: 425px;
            font-size: 26px;
        }

        &-figure {
            top: 105px;
            width: 364px;
            height: 480px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 640px;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }

        &-title {
            font-size: 94px;
        }

        &-subtitle {
            top: 125px;
            font-size: 68px;
        }

        &-figure {
            top: 95px;
            width: 608px;
            height: 425px;
        }
    }

    /* section slots end */

}

@media (max-width: 991px) {
    :root {
        --container-padding-x: 30px;
    }

    /* section intro */
    .E5-intro {
        height: 605px;

        &-logo {
            top: 75px;
            width: 214px;
            height: 36px;
        }

        &-model {
            top: 155px;
            font-size: 86px;
        }

        &-title {
            top: 335px;
            font-size: 44px;
        }

        &-figure {
            top: 75px;
            width: 370px;
            height: 570px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 600px;

        &-title {
            top: 135px;
            font-size: 56px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 600px;

        &-title {
            top: 90px;
            font-size: 52px;
        }

        &-subtitle {
            top: 190px;
            font-size: 26px;
        }

        &-sketch {
            top: 295px;
            width: 232px;
            height: 232px;
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 630px;

        &-title {
            top: 240px;
            font-size: 52px;
        }

        &-subtitle {
            top: 340px;
            font-size: 24px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 550px;

        &-title {
            top: 135px;
            font-size: 52px;
        }

        &-subtitle {
            top: 305px;
            font-size: 24px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 550px;

        &-title {
            top: 100px;
            font-size: 52px;
        }

        &-subtitle {
            top: 330px;
            font-size: 24px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 550px;

        &-title {
            top: 320px;
            font-size: 42px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 565px;

        &-title {
            top: 100px;
            font-size: 52px;
        }

        &-subtitle {
            top: 300px;
            font-size: 26px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 600px;

        &-title {
            top: 245px;
            font-size: 56px;
        }

        &-figure {
            top: -80px;
            width: 390px;
            height: 582px;
        }

        &-sketch {
            top: 415px;
            width: 340px;
            height: 118px;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 660px;

        &-title {
            top: 230px;
            font-size: 38px;
        }

        &-subtitle {
            top: 360px;
            font-size: 22px;
        }

        &-figure {
            top: 90px;
            width: 310px;
            height: 410px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 545px;

        &-title {
            font-size: 80px;
        }

        &-subtitle {
            top: 120px;
            font-size: 56px;
        }

        &-figure {
            top: 80px;
            width: 484px;
            height: 338px;
        }

        &-parallax {
            top: -25%;
        }
    }

    /* section slots end */
}

@media (max-width: 767px) {
    .E5-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .E5-title,
    .E5-subtitle,
    .E5-description,
    .E5-intro-title,
    .E5-intro-subtitle,
    .E5-screen-title,
    .E5-dock-title,
    .E5-dock-subtitle,
    .E5-sos-title,
    .E5-sos-subtitle,
    .E5-fm-title,
    .E5-fm-subtitle,
    .E5-call-title,
    .E5-call-subtitle,
    .E5-indicator-title,
    .E5-material-title,
    .E5-material-subtitle,
    .E5-connector-title,
    .E5-case-title,
    .E5-case-subtitle,
    .E5-slots-title,
    .E5-slots-subtitle {
        max-width: 280px;
    }

    .E5-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .E5-subtitle {
        font-size: 24px !important;
    }

    .E5-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .E5-title[data-aos],
    .E5-subtitle[data-aos],
    .E5-description[data-aos],
    .E5-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .E5-title[data-aos].aos-animate,
    .E5-subtitle[data-aos].aos-animate,
    .E5-description[data-aos].aos-animate,
    .E5-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .E5-intro {
        height: 715px;

        &-logo {
            top: 40px;
            width: 154px;
            height: 26px;
        }

        &-model {
            top: 75px;
            font-size: 60px;
        }

        &-title {
            top: 150px;
            font-size: 28px;
        }

        &-figure {
            top: 255px;
            width: 314px;
            height: 484px;
        }
    }

    /* section intro end */

    /* section screen */
    .E5-screen {
        height: 600px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;
        }
    }

    /* section screen end */

    /* section dock */
    .E5-dock {
        height: 650px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;
        }

        &-subtitle {
            top: 120px;
            font-size: 20px;
        }

        &-sketch {
            top: 80px;
            width: 94px;
            height: 94px;
            margin-left: 220px;
            padding: 3px;

            &::after {
                display: none;
            }
        }
    }

    /* section dock end */

    /* section sos */
    .E5-sos {
        height: 650px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;
        }

        &-subtitle {
            top: 120px;
            font-size: 20px;
        }
    }

    /* section sos end */

    /* section fm */
    .E5-fm {
        height: 650px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;
        }

        &-subtitle {
            top: 155px;
            font-size: 20px;
        }
    }

    /* section fm end */

    /* section call */
    .E5-call {
        height: 650px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;

            &-br {
                display: none;
            }
        }

        &-subtitle {
            top: 155px;
            font-size: 20px;
        }
    }

    /* section call end */

    /* section indicator */
    .E5-indicator {
        height: 650px;
        text-align: left;

        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, black, transparent);
            content: '';
        }

        &-title {
            top: 75px;
            font-size: 24px;
        }
    }

    /* section indicator end */

    /* section material */
    .E5-material {
        height: 650px;
        text-align: left;

        &-title {
            top: 75px;
            font-size: 28px;
        }

        &-subtitle {
            top: 155px;
            font-size: 20px;
        }
    }

    /* section material end */

    /* section connector */
    .E5-connector {
        height: 660px;

        &-title {
            top: 40px;
            font-size: 28px;
            color: #383838;
        }

        &-figure {
            top: 225px;
            width: 330px;
            height: 492px;
        }

        &-sketch {
            top: 120px;
            width: 180px;
            height: 62px;
            margin: 0;
        }
    }

    /* section connector end */

    /* section case */
    .E5-case {
        height: 750px;

        &-title {
            top: 110px;
            font-size: 28px;
        }

        &-subtitle {
            top: 190px;
            font-size: 20px;
        }

        &-figure {
            top: 280px;
            width: 310px;
            height: 410px;
        }
    }

    /* section case end */

    /* section slots */
    .E5-slots {
        height: 485px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 70px;
            font-size: 24px;
        }

        &-figure {
            top: 195px;
            width: 340px;
            height: 238px;
        }
    }

    /* section slots end */
}