@media (max-width: 1980px) {

    .E10ds-landing {
        background-size: 1980px auto;
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 1150px;

        &-block {
            top: 380px;
            max-width: 650px;
            height: 555px;
        }

        &-logo {
            top: 500px;
            width: 58px;
            height: 340px;
        }

        &-model {
            top: 110px;
            font-size: 154px;
        }

        &-description {
            top: 300px;
            font-size: 64px;
        }

        &-figure {
            top: 130px;
            max-width: 1678px;
            height: 1390px;
        }

        &-layer {
            &.layer-1 {
                width: 670px;
                height: 1390px;

                #{$this}-media {
                    width: 408px;
                    height: 1350px;
                }
            }

            &.layer-2 {
                top: 50px;
                width: 596px;
                height: 865px;

                #{$this}-media {
                    width: 596px;
                    height: 865px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 1150px;

        &-title {
            top: 300px;
            font-size: 94px;
        }

        &-figure {
            width: 1398px;
            height: 1242px;
        }

        &-layer {
            &.layer-1 {
                top: 180px;
                width: 884px;
                height: 1062px;

                #{$this}-media {
                    width: 340px;
                    height: 1058px;
                }
            }

            &.layer-2 {
                width: 798px;
                height: 1075px;

                #{$this}-media {
                    width: 332px;
                    height: 1075px;
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 1150px;

        &-bg {
            top: 400px;
            height: 630px;
        }

        &-title,
        &-subtitle {
            font-size: 94px;
        }

        &-title {
            top: 175px;
        }

        &-subtitle {
            top: 415px;
        }

        &-figure {
            top: -70px;
            width: 1164px;
            height: 1230px;
        }

        &-media {
            width: 400px;
            height: 1295px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 1150px;

        &-title {
            top: 195px;
            font-size: 94px;
        }

        &-subtitle {
            top: 320px;
            font-size: 70px;
        }

        &-figure {
            top: -100px;
            width: 810px;
            height: 1214px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 1150px;

        &-title {
            top: 680px;
            font-size: 94px;
        }

        &-figure {
            top: -320px;
            width: 1598px;
            height: 1470px;
        }

        &-layer {
            &.layer-1 {
                width: 472px;
                height: 1470px;

                #{$this}-media {
                    width: 472px;
                    height: 866px;
                }

                #{$this}-cable {
                    top: 905px;
                    left: 120px;
                    width: 85px;
                    height: 565px;
                }
            }

            &.layer-2 {
                top: 245px;
                width: 1090px;
                height: 1225px;

                #{$this}-media {
                    width: 754px;
                    height: 1040px;
                }

                #{$this}-cable {
                    top: 1025px;
                    width: 474px;
                    height: 200px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 1150px;

        &-block {
            top: 420px;
            max-width: 640px;
            height: 735px;
        }

        &-title {
            top: 95px;
            font-size: 104px;
        }

        &-subtitle {
            top: 220px;
            font-size: 90px;
        }

        &-figure {
            top: 85px;
            width: 484px;
            height: 888px;
        }
    }

    /* section slots end */
}

@media (max-width: 1680px) {

    .E10ds-landing {
        background-size: 1680px auto;
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 980px;

        &-block {
            top: 320px;
            max-width: 550px;
            height: 470px;
        }

        &-logo {
            top: 425px;
            width: 50px;
            height: 294px;
        }

        &-model {
            top: 95px;
            font-size: 130px;
        }

        &-description {
            top: 255px;
            font-size: 54px;
        }

        &-figure {
            top: 110px;
            max-width: 1342px;
            height: 1172px;
        }

        &-layer {
            &.layer-1 {
                width: 480px;
                height: 1172px;

                #{$this}-media {
                    width: 344px;
                    height: 1138px;
                }
            }

            &.layer-2 {
                top: 40px;
                width: 504px;
                height: 732px;

                #{$this}-media {
                    width: 504px;
                    height: 732px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 980px;

        &-title {
            top: 255px;
            font-size: 80px;
        }

        &-figure {
            width: 1188px;
            height: 1050px;
        }

        &-layer {
            &.layer-1 {
                top: 150px;
                width: 750px;
                height: 900px;

                #{$this}-media {
                    width: 288px;
                    height: 896px;
                }
            }

            &.layer-2 {
                width: 678px;
                height: 938px;

                #{$this}-media {
                    width: 282px;
                    height: 912px;
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 980px;

        &-bg {
            top: 340px;
            height: 535px;
        }

        &-title,
        &-subtitle {
            font-size: 80px;
        }

        &-title {
            top: 150px;
        }

        &-subtitle {
            top: 350px;
        }

        &-figure {
            top: -60px;
            width: 990px;
            height: 1045px;
        }

        &-media {
            width: 340px;
            height: 1100px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 980px;

        &-title {
            top: 165px;
            font-size: 80px;
        }

        &-subtitle {
            top: 270px;
            font-size: 58px;
        }

        &-figure {
            top: -85px;
            width: 688px;
            height: 1030px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 980px;

        &-title {
            top: 580px;
            font-size: 80px;
        }

        &-figure {
            top: -270px;
            width: 1358px;
            height: 1250px;
        }

        &-layer {
            &.layer-1 {
                width: 400px;
                height: 1250px;

                #{$this}-media {
                    width: 400px;
                    height: 734px;
                }

                #{$this}-cable {
                    top: 775px;
                    left: 100px;
                    width: 72px;
                    height: 478px;
                }
            }

            &.layer-2 {
                top: 210px;
                width: 926px;
                height: 1040px;

                #{$this}-media {
                    width: 640px;
                    height: 882px;
                }

                #{$this}-cable {
                    top: 870px;
                    width: 402px;
                    height: 170px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 980px;

        &-block {
            top: 360px;
            max-width: 545px;
            height: 625px;
        }

        &-title {
            top: 80px;
            font-size: 88px;
        }

        &-subtitle {
            top: 190px;
            font-size: 76px;
        }

        &-figure {
            top: 70px;
            width: 412px;
            height: 756px;
        }
    }

    /* section slots end */
}

@media (max-width: 1440px) {

    .E10ds-landing {
        background-size: 1440px auto;
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 835px;

        &-block {
            top: 270px;
            max-width: 470px;
            height: 400px;
        }

        &-logo {
            top: 360px;
            left: 15px;
            width: 42px;
            height: 246px;
        }

        &-model {
            top: 80px;
            font-size: 110px;
        }

        &-description {
            top: 215px;
            font-size: 44px;
        }

        &-figure {
            top: 90px;
            max-width: 1140px;
            height: 994px;
        }

        &-layer {
            &.layer-1 {
                width: 408px;
                height: 994px;

                #{$this}-media {
                    width: 292px;
                    height: 966px;
                }
            }

            &.layer-2 {
                top: 35px;
                width: 428px;
                height: 620px;

                #{$this}-media {
                    width: 428px;
                    height: 620px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 835px;

        &-title {
            top: 215px;
            font-size: 68px;
        }

        &-figure {
            width: 1010px;
            height: 890px;
        }

        &-layer {
            &.layer-1 {
                top: 130px;
                width: 634px;
                height: 760px;

                #{$this}-media {
                    width: 244px;
                    height: 758px;
                }
            }

            &.layer-2 {
                width: 572px;
                height: 792px;

                #{$this}-media {
                    width: 238px;
                    height: 770px;
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 835px;

        &-bg {
            top: 290px;
            height: 455px;
        }

        &-title,
        &-subtitle {
            font-size: 68px;
        }

        &-title {
            top: 125px;
        }

        &-subtitle {
            top: 300px;
        }

        &-figure {
            top: -50px;
            width: 838px;
            height: 886px;
        }

        &-media {
            width: 288px;
            height: 932px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 835px;

        &-title {
            top: 140px;
            font-size: 68px;
        }

        &-subtitle {
            top: 230px;
            font-size: 48px;
        }

        &-figure {
            top: -70px;
            width: 584px;
            height: 874px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 835px;

        &-title {
            top: 490px;
            font-size: 68px;
        }

        &-figure {
            top: -230px;
            width: 1154px;
            height: 1065px;
        }

        &-layer {
            &.layer-1 {
                width: 340px;
                height: 1065px;

                #{$this}-media {
                    width: 340px;
                    height: 624px;
                }

                #{$this}-cable {
                    top: 665px;
                    left: 85px;
                    width: 60px;
                    height: 400px;
                }
            }

            &.layer-2 {
                top: 180px;
                width: 786px;
                height: 885px;

                #{$this}-media {
                    width: 544px;
                    height: 750px;
                }

                #{$this}-cable {
                    top: 745px;
                    width: 340px;
                    height: 144px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 835px;

        &-block {
            top: 310px;
            max-width: 465px;
            height: 530px;
        }

        &-title {
            top: 70px;
            font-size: 74px;
        }

        &-subtitle {
            top: 160px;
            font-size: 64px;
        }

        &-figure {
            top: 60px;
            width: 350px;
            height: 642px;
        }
    }

    /* section slots end */
}

@media (max-width: 1199px) {
    :root {
        --container-padding-x: 50px;
    }

    .E10ds-landing {
        background-size: 1199px auto;

        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 710px;

        &-block {
            top: 230px;
            max-width: 440px;
            height: 340px;
        }

        &-logo {
            top: 305px;
            width: 34px;
            height: 200px;
        }

        &-model,
        &-description {
            left: 10%;
            right: 10%;
        }

        &-model {
            top: 65px;
            font-size: 92px;
        }

        &-description {
            top: 180px;
            font-size: 36px;
        }

        &-figure {
            top: 75px;
            max-width: 970px;
            height: 844px;
        }

        &-layer {
            &.layer-1 {
                width: 346px;
                height: 844px;

                #{$this}-media {
                    width: 248px;
                    height: 820px;
                }
            }

            &.layer-2 {
                top: 30px;
                width: 362px;
                height: 526px;

                #{$this}-media {
                    width: 362px;
                    height: 526px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 710px;

        &-title {
            top: 180px;
            font-size: 56px;
        }

        &-figure {
            width: 910px;
            height: 750px;
        }

        &-layer {
            &.layer-1 {
                top: 110px;
                width: 536px;
                height: 642px;

                #{$this}-media {
                    width: 206px;
                    height: 640px;
                }
            }

            &.layer-2 {
                width: 486px;
                height: 672px;

                #{$this}-media {
                    width: 202px;
                    height: 654px;
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 710px;

        &-bg {
            top: 245px;
            height: 385px;
        }

        &-title,
        &-subtitle {
            font-size: 56px;
        }

        &-title {
            top: 105px;
        }

        &-subtitle {
            top: 255px;
        }

        &-figure {
            top: -40px;
            width: 710px;
            height: 750px;
        }

        &-media {
            width: 244px;
            height: 790px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 710px;

        &-title {
            top: 120px;
            font-size: 56px;
        }

        &-subtitle {
            top: 195px;
            font-size: 40px;
        }

        &-figure {
            top: -60px;
            width: 496px;
            height: 742px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 710px;

        &-title {
            top: 415px;
            font-size: 56px;
        }

        &-figure {
            top: -195px;
            width: 980px;
            height: 908px;
        }

        &-layer {
            &.layer-1 {
                width: 290px;
                height: 905px;

                #{$this}-media {
                    width: 290px;
                    height: 532px;
                }

                #{$this}-cable {
                    top: 575px;
                    left: 70px;
                    width: 50px;
                    height: 332px;
                }
            }

            &.layer-2 {
                top: 150px;
                width: 668px;
                height: 775px;

                #{$this}-media {
                    width: 462px;
                    height: 638px;
                }

                #{$this}-cable {
                    top: 635px;
                    width: 290px;
                    height: 122px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 710px;

        &-block {
            top: 260px;
            max-width: 395px;
            height: 450px;
        }

        &-title {
            top: 60px;
            font-size: 62px;
        }

        &-subtitle {
            top: 135px;
            font-size: 54px;
        }

        &-figure {
            top: 50px;
            width: 296px;
            height: 544px;
        }
    }

    /* section slots end */
}

@media (max-width: 991px) {
    :root {
        --container-padding-x: 30px;
    }

    .E10ds-landing {
        background-size: 991px auto;
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 605px;

        &-block {
            top: 195px;
            max-width: 375px;
            height: 290px;
        }

        &-logo {
            top: 260px;
            width: 28px;
            height: 164px;
        }

        &-model {
            top: 55px;
            font-size: 78px;
        }

        &-description {
            top: 150px;
            font-size: 30px;
        }

        &-figure {
            top: 65px;
            width: 96.5vw;
            max-width: 838px;
            height: 715px;
        }

        &-layer {
            &.layer-1 {
                width: 294px;
                height: 715px;

                #{$this}-media {
                    width: 210px;
                    height: 695px;
                }
            }

            &.layer-2 {
                top: 25px;
                width: 306px;
                height: 444px;

                #{$this}-media {
                    width: 306px;
                    height: 444px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 605px;

        &-title {
            top: 150px;
            font-size: 46px;
        }

        &-figure {
            width: 758px;
            height: 640px;
        }

        &-layer {
            &.layer-1 {
                top: 95px;
                width: 452px;
                height: 544px;

                #{$this}-media {
                    width: 174px;
                    height: 542px;
                }
            }

            &.layer-2 {
                width: 410px;
                height: 566px;

                #{$this}-media {
                    width: 170px;
                    height: 550px;
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 605px;

        &-bg {
            top: 210px;
            height: 330px;
        }

        &-title,
        &-subtitle {
            font-size: 46px;
        }

        &-title {
            top: 90px;
        }

        &-subtitle {
            top: 215px;
        }

        &-figure {
            top: -35px;
            width: 600px;
            height: 634px;
        }

        &-media {
            width: 206px;
            height: 666px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 605px;

        &-title {
            top: 100px;
            font-size: 46px;
        }

        &-subtitle {
            top: 165px;
            font-size: 34px;
        }

        &-figure {
            top: -50px;
            width: 420px;
            height: 630px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 605px;

        &-title {
            top: 350px;
            font-size: 46px;
        }

        &-figure {
            top: -165px;
            width: 768px;
            height: 770px;
        }

        &-layer {
            &.layer-1 {
                width: 244px;
                height: 770px;

                #{$this}-media {
                    width: 244px;
                    height: 448px;
                }

                #{$this}-cable {
                    top: 490px;
                    left: 60px;
                    width: 42px;
                    height: 280px;
                }
            }

            &.layer-2 {
                top: 130px;
                width: 568px;
                height: 640px;

                #{$this}-media {
                    width: 392px;
                    height: 540px;
                }

                #{$this}-cable {
                    top: 540px;
                    width: 246px;
                    height: 104px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 605px;

        &-block {
            top: 215px;
            max-width: 335px;
            height: 400px;
        }

        &-title {
            top: 50px;
            font-size: 52px;
        }

        &-subtitle {
            top: 115px;
            font-size: 44px;
        }

        &-figure {
            top: 40px;
            width: 250px;
            height: 460px;
        }
    }

    /* section slots end */
}

@media (max-width: 767px) {
    :root {
        --container-padding-x: 20px;
    }

    .E10ds-landing {
        background-size: 1010px auto;
        background-position: 45% top;

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .E10ds-title,
    .E10ds-subtitle,
    .E10ds-description,
    .E10ds-intro-model,
    .E10ds-intro-description,
    .E10ds-screen-title,
    .E10ds-battery-title,
    .E10ds-battery-subtitle,
    .E10ds-dock-title,
    .E10ds-dock-subtitle,
    .E10ds-connector-title,
    .E10ds-slots-title,
    .E10ds-slots-subtitle {
        max-width: 300px;
    }

    .E10ds-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .E10ds-subtitle {
        font-size: 24px !important;
    }

    .E10ds-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .E10ds-title[data-aos],
    .E10ds-subtitle[data-aos],
    .E10ds-description[data-aos],
    .E10ds-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .E10ds-title[data-aos].aos-animate,
    .E10ds-subtitle[data-aos].aos-animate,
    .E10ds-description[data-aos].aos-animate,
    .E10ds-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .E10ds-intro {
        $this: &;
        height: 680px;

        &-block {
            top: 40px;
            max-width: 250px;
            height: 190px;
        }

        &-logo {
            top: 70px;
            width: 24px;
            height: 142px;
        }

        &-model,
        &-description {
            left: 40px;
            right: 15px;
        }

        &-model {
            top: 20px;
            font-size: 58px;
        }

        &-description {
            top: 90px;
            font-size: 24px;
        }

        &-figure {
            top: 275px;
            width: 306px;
            height: 444px;
        }

        &-layer {
            &.layer-1 {
                display: none;
            }

            &.layer-2 {
                top: 0;
                width: 306px;
                height: 444px;

                #{$this}-media {
                    width: 306px;
                    height: 444px;
                }
            }
        }
    }

    /* section intro end */

    /* section screen */
    .E10ds-screen {
        $this: &;
        height: 620px;

        &-title {
            top: 90px;
            left: 15px;
            right: 15px;
            font-size: 28px;
        }

        &-figure {
            top: 90px;
            width: 375px;
            height: 588px;
        }

        &-layer {
            &.layer-1 {
                top: 80px;
                width: 254px;
                height: 508px;

                #{$this}-media {
                    width: 156px;
                    height: 486px;
                    transform: rotate(-12deg);
                }
            }

            &.layer-2 {
                width: 228px;
                height: 522px;

                #{$this}-media {
                    width: 156px;
                    height: 505px;
                    transform: rotate(8.4deg);
                }
            }
        }
    }

    /* section screen end */

    /* section battery */
    .E10ds-battery {
        height: 440px;

        &-bg {
            top: 145px;
            height: 248px;
        }

        &-title,
        &-subtitle {
            font-size: 28px;
        }

        &-title {
            top: 80px;
        }

        &-subtitle {
            top: 150px;
        }

        &-figure {
            top: -35px;
            left: -5%;
            right: -5%;
            width: 448px;
            height: 474px;
        }

        &-media {
            width: 154px;
            height: 498px;
        }
    }

    /* section battery end */

    /* section dock */
    .E10ds-dock {
        height: 420px;

        &-title {
            top: 100px;
            font-size: 28px;
        }

        &-subtitle {
            top: 140px;
            font-size: 20px;
        }

        &-figure {
            top: 10px;
            left: -15%;
            right: -15%;
            width: 270px;
            height: 404px;
        }
    }

    /* section dock end */

    /* section connector */
    .E10ds-connector {
        $this: &;
        height: 615px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-figure {
            top: 140px;
            width: 294px;
            height: 475px;
        }

        &-layer {
            &.layer-1 {
                display: none;
            }

            &.layer-2 {
                top: 0;
                width: 426px;

                #{$this}-media {
                    width: 294px;
                    height: 406px;
                }

                #{$this}-cable {
                    top: 400px;
                    width: 184px;
                    height: 78px;
                }
            }
        }
    }

    /* section connector end */

    /* section slots */
    .E10ds-slots {
        height: 745px;

        &-block {
            top: 40px;
            max-width: 125px;
            height: 155px;

            &::before {
                width: 100vw;
                background: url('../images/section-slots/E10ds-slots-block-bg-mobile.png') no-repeat right top/auto 100%;
            }
        }

        &-title,
        &-subtitle {
            left: 0;
            right: 0;
        }

        &-title {
            top: 20px;
            font-size: 28px;
        }

        &-subtitle {
            top: 50px;
            font-size: 24px;
        }

        &-figure {
            top: 245px;
            width: 250px;
            height: 460px;
        }
    }

    /* section slots end */
}