@media (max-width: 1980px) {

    /* section intro */
    .B201-intro {
        height: 1150px;

        &-logo {
            top: 195px;
            width: 544px;
            height: 92px;
        }

        &-model {
            top: 320px;
            font-size: 248px;
        }

        &-description {
            top: 670px;
            font-size: 62px;
        }

        &-figure {
            top: 40px;
            width: 986px;
            height: 938px;
        }

        &-layer {
            &.layer-1 {
                width: 438px;
                height: 938px;
            }

            &.layer-2 {
                width: 486px;
                height: 930px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -565px;
            height: 1550px;
            background-position: -410px top;
            background-size: 2650px auto;
        }

        &-figure {
            width: 550px;
            height: 1018px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 575px;

        .container {
            padding-left: 11.4%;
            padding-right: 11.4%;
        }

        &-block {
            top: 120px;
            row-gap: 30px;
        }

        &-title,
        &-description {
            font-size: 94px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 575px;

        .container {
            padding-left: 11.4%;
            padding-right: 11.4%;
        }

        &-block {
            top: 240px;
            row-gap: 30px;
        }

        &-title,
        &-description {
            font-size: 94px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 1150px;

        .container {
            padding-left: 11.4%;
            padding-right: 11.4%;
        }

        &-block {
            top: 240px;
            row-gap: 30px;
        }

        &-title,
        &-description {
            font-size: 94px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 1150px;

        .container {
            padding-left: 11.4%;
            padding-right: 11.4%;
        }

        &-squoosh {
            top: -110px;
            width: 1980px;
            height: 1435px;
        }

        &-title {
            top: 280px;
            font-size: 94px;
        }

        &-description {
            top: 545px;
            font-size: 94px;
        }

        &-figure {
            top: 145px;
            width: 650px;
            height: 1160px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 1150px;

        &-title {
            top: 190px;
            font-size: 94px;
        }

        &-subtitle {
            top: 950px;
            font-size: 94px;
        }

        &-figure {
            top: 450px;
            width: 1294px;
            height: 490px;
        }

        &-cards {
            top: 150px;
            width: 608px;
            height: 268px;

            &-SIM {
                width: 164px;
                height: 268px;
            }

            &-SD {
                width: 208px;
                height: 236px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 1150px;

        &-title {
            top: 260px;
            font-size: 94px;
        }

        &-description {
            top: 470px;
            font-size: 94px;
        }

        &-figure {
            top: 220px;
            width: 934px;
            height: 934px;
        }
    }

    /* section camera end */
}

@media (max-width: 1680px) {

    /* section intro */
    .B201-intro {
        height: 980px;

        &-logo {
            top: 165px;
            width: 460px;
            height: 78px;
        }

        &-model {
            top: 270px;
            font-size: 210px;
        }

        &-description {
            top: 570px;
            font-size: 52px;
        }

        &-figure {
            top: 35px;
            width: 838px;
            height: 796px;
        }

        &-layer {
            &.layer-1 {
                width: 372px;
                height: 796px;
            }

            &.layer-2 {
                width: 412px;
                height: 788px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -480px;
            height: 1300px;
            background-position: -370px top;
            background-size: 2200px auto;
        }

        &-figure {
            width: 468px;
            height: 866px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 490px;

        .container {
            padding-left: 9.7%;
            padding-right: 9.7%;
        }

        &-block {
            top: 100px;
            row-gap: 24px;
        }

        &-title,
        &-description {
            font-size: 78px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 490px;

        .container {
            padding-left: 9.7%;
            padding-right: 9.7%;
        }

        &-block {
            top: 205px;
            row-gap: 24px;
        }

        &-title,
        &-description {
            font-size: 78px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 980px;

        .container {
            padding-left: 9.7%;
            padding-right: 9.7%;
        }

        &-block {
            top: 205px;
            row-gap: 24px;
        }

        &-title,
        &-description {
            font-size: 78px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 980px;

        .container {
            padding-left: 9.7%;
            padding-right: 9.7%;
        }

        &-squoosh {
            top: -95px;
            width: 1680px;
            height: 1218px;
        }

        &-title {
            top: 240px;
            font-size: 78px;
        }

        &-description {
            top: 465px;
            font-size: 78px;
        }

        &-figure {
            top: 125px;
            width: 552px;
            height: 985px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 980px;

        &-title {
            top: 160px;
            font-size: 78px;
        }

        &-subtitle {
            top: 805px;
            font-size: 78px;
        }

        &-figure {
            top: 380px;
            width: 1098px;
            height: 416px;
        }

        &-cards {
            top: 125px;
            width: 514px;
            height: 226px;

            &-SIM {
                width: 138px;
                height: 226px;
            }

            &-SD {
                width: 176px;
                height: 200px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 980px;

        &-title {
            top: 220px;
            font-size: 78px;
        }

        &-description {
            top: 400px;
            font-size: 78px;
        }

        &-figure {
            top: 185px;
            width: 794px;
            height: 794px;
        }
    }

    /* section camera end */
}

@media (max-width: 1440px) {

    /* section intro */
    .B201-intro {
        height: 835px;

        &-logo {
            top: 140px;
            width: 390px;
            height: 68px;
        }

        &-model {
            top: 230px;
            font-size: 178px;
        }

        &-description {
            top: 485px;
            font-size: 44px;
        }

        &-figure {
            width: 712px;
            height: 676px;
        }

        &-layer {
            &.layer-1 {
                width: 316px;
                height: 676px;
            }

            &.layer-2 {
                width: 350px;
                height: 670px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -410px;
            height: 1100px;
            background-position: -350px top;
            background-size: 1900px auto;
        }

        &-figure {
            width: 396px;
            height: 734px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 415px;

        .container {
            padding-left: 8.564%;
            padding-right: 8.564%;
        }

        &-block {
            top: 85px;
            row-gap: 20px;
        }

        &-title,
        &-description {
            font-size: 64px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 415px;

        .container {
            padding-left: 8.564%;
            padding-right: 8.564%;
        }

        &-block {
            top: 175px;
            row-gap: 20px;
        }

        &-title,
        &-description {
            font-size: 64px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 835px;

        .container {
            padding-left: 8.564%;
            padding-right: 8.564%;
        }

        &-block {
            top: 175px;
            row-gap: 20px;
        }

        &-title,
        &-description {
            font-size: 64px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 835px;

        .container {
            padding-left: 8.564%;
            padding-right: 8.564%;
        }

        &-squoosh {
            top: -80px;
            width: 1440px;
            height: 1044px;
        }

        &-title {
            top: 205px;
            font-size: 64px;
        }

        &-description {
            top: 395px;
            font-size: 64px;
        }

        &-figure {
            top: 105px;
            width: 468px;
            height: 835px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 835px;

        &-title {
            top: 135px;
            font-size: 64px;
        }

        &-subtitle {
            top: 685px;
            font-size: 64px;
        }

        &-figure {
            top: 320px;
            width: 934px;
            height: 355px;
        }

        &-cards {
            top: 105px;
            width: 434px;
            height: 190px;

            &-SIM {
                width: 116px;
                height: 190px;
            }

            &-SD {
                width: 150px;
                height: 170px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 835px;

        &-title {
            top: 185px;
            font-size: 64px;
        }

        &-description {
            top: 340px;
            font-size: 64px;
        }

        &-figure {
            top: 160px;
            width: 674px;
            height: 674px;
        }
    }

    /* section camera end */
}


@media (max-width: 1199px) {
    :root {
        --container-padding-x: 50px;
    }

    .B201-landing {
        .container {
            padding-left: var(--container-padding-x);
            padding-right: var(--container-padding-x);
        }
    }

    /* section intro */
    .B201-intro {
        height: 710px;

        &-logo {
            top: 120px;
            width: 330px;
            height: 56px;
        }

        &-model {
            top: 195px;
            font-size: 150px;
        }

        &-description {
            top: 410px;
            font-size: 38px;
        }

        &-figure {
            width: 604px;
            height: 574px;
        }

        &-layer {
            &.layer-1 {
                width: 268px;
                height: 574px;
            }

            &.layer-2 {
                width: 296px;
                height: 566px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -350px;
            height: 950px;
            background-position: -265px top;
            background-size: 1600px auto;
        }

        &-figure {
            width: 334px;
            height: 618px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 350px;

        &-block {
            top: 70px;
            row-gap: 16px;
        }

        &-title,
        &-description {
            font-size: 54px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 350px;

        &-block {
            top: 150px;
            row-gap: 16px;
        }

        &-title,
        &-description {
            font-size: 54px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 710px;

        &-block {
            top: 150px;
            row-gap: 16px;
        }

        &-title,
        &-description {
            font-size: 54px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 710px;

        &-squoosh {
            top: -70px;
            width: 1200px;
            height: 870px;
        }

        &-title {
            top: 175px;
            font-size: 54px;
        }

        &-description {
            top: 335px;
            font-size: 54px;
        }

        &-figure {
            top: 90px;
            width: 396px;
            height: 706px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 710px;

        &-title {
            top: 115px;
            font-size: 54px;
        }

        &-subtitle {
            top: 580px;
            font-size: 54px;
        }

        &-figure {
            top: 270px;
            width: 794px;
            height: 302px;
        }

        &-cards {
            top: 90px;
            width: 368px;
            height: 160px;

            &-SIM {
                width: 98px;
                height: 160px;
            }

            &-SD {
                width: 126px;
                height: 142px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 710px;

        &-title {
            top: 160px;
            font-size: 54px;
        }

        &-description {
            top: 290px;
            font-size: 54px;
        }

        &-figure {
            top: 135px;
            width: 572px;
            height: 572px;
        }
    }

    /* section camera end */

}

@media (max-width: 991px) {
    :root {
        --container-padding-x: 30px;
    }

    /* section intro */
    .B201-intro {
        height: 605px;

        &-logo {
            top: 100px;
            width: 280px;
            height: 48px;
        }

        &-model {
            top: 165px;
            font-size: 124px;
        }

        &-description {
            top: 350px;
            font-size: 32px;
        }

        &-figure {
            width: 514px;
            height: 484px;
        }

        &-layer {
            &.layer-1 {
                width: 226px;
                height: 484px;
            }

            &.layer-2 {
                width: 250px;
                height: 478px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -300px;
            height: 790px;
            background-position: -245px top;
            background-size: 1350px auto;
        }

        &-figure {
            width: 282px;
            height: 522px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 300px;

        &-block {
            top: 60px;
            row-gap: 14px;
        }

        &-title,
        &-description {
            font-size: 44px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 300px;

        &-block {
            top: 125px;
            row-gap: 14px;
        }

        &-title,
        &-description {
            font-size: 44px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 605px;

        &-block {
            top: 125px;
            row-gap: 14px;
        }

        &-title,
        &-description {
            font-size: 44px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 605px;

        &-squoosh {
            top: -60px;
            width: 991px;
            height: 718px;
        }

        &-title {
            top: 150px;
            font-size: 44px;
        }

        &-description {
            top: 285px;
            font-size: 44px;
        }

        &-figure {
            top: 75px;
            left: 0;
            right: 0;
            width: 334px;
            height: 596px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 605px;

        &-title {
            top: 100px;
            font-size: 44px;
        }

        &-subtitle {
            top: 490px;
            font-size: 44px;
        }

        &-figure {
            top: 240px;
            left: 14%;
            right: 14%;
            width: 634px;
            height: 240px;
        }

        &-cards {
            top: 75px;
            width: 312px;
            height: 134px;

            &-SIM {
                width: 82px;
                height: 134px;
            }

            &-SD {
                width: 106px;
                height: 120px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 605px;

        &-title {
            top: 135px;
            font-size: 44px;
        }

        &-description {
            top: 245px;
            font-size: 44px;
        }

        &-figure {
            top: 120px;
            width: 484px;
            height: 484px;
        }
    }

    /* section camera end */
}

@media (max-width: 767px) {
    .B201-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .B201-title,
    .B201-subtitle,
    .B201-description,
    .B201-intro-model,
    .B201-intro-description,
    .B201-keyboard-title,
    .B201-keyboard-description,
    .B201-sos-title,
    .B201-sos-description,
    .B201-screen-title,
    .B201-screen-description,
    .B201-battery-title,
    .B201-battery-description,
    .B201-slots-title,
    .B201-slots-subtitle,
    .B201-camera-title,
    .B201-camera-description {
        max-width: 300px;
    }

    .B201-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .B201-subtitle {
        font-size: 24px !important;
    }

    .B201-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .B201-title[data-aos],
    .B201-subtitle[data-aos],
    .B201-description[data-aos],
    .B201-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .B201-title[data-aos].aos-animate,
    .B201-subtitle[data-aos].aos-animate,
    .B201-description[data-aos].aos-animate,
    .B201-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .B201-intro {
        height: 625px;

        &-logo,
        &-model {
            left: 15px;
            right: 15px;
        }

        &-logo {
            top: 40px;
            width: 130px;
            height: 22px;
            margin: 0;
        }

        &-model {
            top: 70px;
            font-size: 60px;
            text-align: left;
        }

        &-description {
            top: 140px;
            color: #fff;
            font-size: 24px;
            text-align: left;
        }

        &-figure {
            top: 245px;
            left: 0;
            right: 0;
            width: 350px;
            height: 356px;
        }

        &-layer {
            &.layer-1 {
                top: 10px;
                width: 186px;
                height: 356px;
            }

            &.layer-2 {
                width: 186px;
                height: 356px;
            }
        }
    }

    /* section intro end */

    /* section presentation */
    .B201-presentation {
        &-squoosh {
            top: -285px;
            height: 790px;
            background-position: -230px top;
            background-size: 1160px auto;
        }

        &-figure {
            top: 205px;
            width: 282px;
            height: 522px;
        }
    }

    /* section presentation end */

    /* section keyboard */
    .B201-keyboard {
        height: 275px;

        &-block {
            top: 20px;
            left: 45px;
            right: 45px;
            row-gap: 10px;
        }

        &-title,
        &-description {
            font-size: 28px;
        }
    }

    /* section keyboard end */

    /* section sos */
    .B201-sos {
        height: 275px;

        &-block {
            top: 20px;
            left: 45px;
            right: 45px;
            row-gap: 10px;
        }

        &-title,
        &-description {
            font-size: 28px;
        }
    }

    /* section sos end */

    /* section screen */
    .B201-screen {
        height: 725px;

        &-block {
            top: 20px;
            left: 45px;
            right: 45px;
            row-gap: 10px;
        }

        &-title,
        &-description {
            font-size: 28px;
        }
    }

    /* section screen end */

    /* section battery */
    .B201-battery {
        height: 935px;
        text-align: left;

        &-squoosh {
            top: 0;
            width: 768px;
            height: 556px;
        }

        &-title {
            top: 150px;
            left: 90px;
            font-size: 28px;

            &::before {
                right: calc(100% + 10px);
            }
        }

        &-description {
            top: 220px;
            left: 90px;
            font-size: 28px;
        }

        &-figure {
            top: 315px;
            width: 334px;
            height: 596px;
        }
    }

    /* section battery end */

    /* section slots */
    .B201-slots {
        height: 505px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 425px;
            margin-left: auto;
            margin-right: 0;
            font-size: 24px;
        }

        &-figure {
            top: 180px;
            left: 28%;
            right: 28%;
            width: 538px;
            height: 204px;
        }

        &-cards {
            top: 130px;
            left: 15px;
            right: 15px;
            width: 198px;
            height: 85px;

            &-SIM {
                width: 52px;
                height: 85px;
            }

            &-SD {
                width: 68px;
                height: 78px;
            }
        }
    }

    /* section slots end */

    /* section camera */
    .B201-camera {
        height: 655px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-description {
            top: 80px;
            font-size: 28px;
        }

        &-figure {
            top: 240px;
            left: 50px;
            right: 50px;
            width: 412px;
            height: 412px;
        }
    }

    /* section camera end */
}