@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .P18i-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .P18i-title,
    .P18i-subtitle,
    .P18i-description,
    .P18i-design-title,
    .P18i-design-model,
    .P18i-dock-title,
    .P18i-dock-subtitle,
    .P18i-dock-figcaption,
    .P18i-battery-title,
    .P18i-battery-subtitle,
    .P18i-speaker-title,
    .P18i-sos-title,
    .P18i-sos-subtitle,
    .P18i-camera-title,
    .P18i-camera-subtitle {
        max-width: 280px;
    }

    .P18i-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .P18i-subtitle {
        font-size: 24px !important;
    }

    .P18i-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .P18i-title[data-aos],
    .P18i-subtitle[data-aos],
    .P18i-description[data-aos],
    .P18i-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .P18i-title[data-aos].aos-animate,
    .P18i-subtitle[data-aos].aos-animate,
    .P18i-description[data-aos].aos-animate,
    .P18i-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section design */
    .P18i-design {
        height: 645px;

        &-model {
            top: 40px;
            font-size: 28px;
        }

        &-title {
            top: 80px;
            font-size: 24px;
        }

        &-block {
            $block: &;

            flex-direction: row;
            font-size: 18px;

            #{$block}-line {
                &::after {
                    left: 100%;
                    right: auto;
                }
            }

            &:nth-child(1) {
                top: 190px;

                #{$block}-line {
                    margin-left: 0;
                    margin-right: 40%;
                }
            }

            &:nth-child(2) {
                top: 305px;

                #{$block}-line {
                    margin-left: 0;
                    margin-right: 45%;
                }
            }

            &:nth-child(3) {
                top: 365px;

                #{$block}-line {
                    margin-left: 0;
                    margin-right: 55%;
                }
            }
        }

        &-figure {
            top: 170px;
            width: 346px;
            height: 468px;
        }
    }

    /* section design end */

    /* section dock */
    .P18i-dock {
        height: 1165px;

        &-title {
            top: 40px;
            font-size: 24px;
        }

        &-subtitle {
            top: 80px;
            font-size: 20px;
        }

        &-figure {
            top: 880px;
            left: 15px;
            right: 15px;
            width: 434px;
            height: 170px;
        }

        &-figcaption {
            top: calc(100% + 1.25em);
            left: 15px;
            right: 15px;
            font-size: 18px;

            &-line {
                height: 2.25em;
            }
        }

        &-animation {
            top: 285px;
            width: 265px;
            height: 562px;
        }
    }

    /* section dock end */

    /* section battery */
    .P18i-battery {
        height: 580px;
        text-align: left;

        &-title {
            top: 40px;
            font-size: 24px;
        }

        &-subtitle {
            top: 80px;
            font-size: 20px;
        }

        &-figure {
            top: 145px;
            width: 296px;
            height: 495px;
        }
    }

    /* section battery end */

    /* section speaker */
    .P18i-speaker {
        height: 605px;

        &-title {
            top: 120px;
            font-size: 24px;

            &::before {
                top: 50%;
                left: 0;
                width: 210px;
                transform: translate(0, -50%);
                background-position: left center;
            }
        }

        &-figure {
            top: 215px;
            width: 374px;
            height: 415px;
        }
    }

    /* section speaker end */

    /* section sos */
    .P18i-sos {
        height: 780px;
        text-align: left;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(200px);
            content: '';
        }

        &-title {
            top: 40px;
            font-size: 24px;

            &::after {
                display: none;
            }
        }

        &-subtitle {
            top: 120px;
            font-size: 20px;
        }

        &-figure {
            top: 230px;
            width: 256px;
            height: 527px;
        }
    }

    /* section sos end */

    /* section camera */
    .P18i-camera {
        height: 635px;

        &-title {
            top: 40px;
            font-size: 24px;
        }

        &-subtitle {
            top: 80px;
            font-size: 20px;
        }

        &-figure {
            top: 160px;
            width: 414px;
            height: 568px;
        }
    }

    /* section camera end */

}