:root {
    --c-default: #313131;
}

.P18i-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 2160px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .P18i-title,
    .section-dark .P18i-subtitle,
    .section-dark .P18i-description {
        color: #fff;
    }
}

.P18i-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.P18i-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.P18i-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .P18i-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section screen */
.P18i-screen {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 270px;
        font-size: 132px;
        font-weight: 500;
        line-height: normal;
    }

    &-subtitle {
        top: 805px;
        font-size: 60px;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        top: 80px;
        left: 15px;
        right: 15px;
        width: 592px;
        height: 1542px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section screen end */

/* section case */
.P18i-case {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 345px;
        font-size: 132px;
        font-weight: 500;
        line-height: normal;
    }

    &-subtitle {
        top: 920px;
        font-size: 60px;
        line-height: normal;
    }
}

/* section case end */

/* section sim */
.P18i-sim {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: #535766;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 285px;
        color: #505050;
        font-size: 132px;
        font-weight: 500;
        line-height: normal;
    }

    &-subtitle {
        top: 285px;
        font-size: 46px;
        line-height: normal;
        text-align: center;
    }

    &-figure {
        position: absolute;
        top: 240px;
        left: 15px;
        right: 15px;
        width: 577px;
        height: 1378px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-layer-sim {
        width: 256px;
        height: 157px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

/* section sim end */

/* section battery */
.P18i-battery {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: #035883;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 200px;
        font-size: 120px;
        font-weight: 500;
        line-height: normal;

        .text-lead {
            color: #313131;
            font-size: 125%;
        }
    }

    &-subtitle {
        top: 900px;
        font-size: 120px;
        font-weight: 500;
        line-height: normal;
    }

    &-figure {
        top: 180px;
        left: 15px;
        right: 15px;
        width: 1191px;
        height: 644px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section battery end */

/* section flashlight */
.P18i-flashlight {
    height: 1350px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 855px;
        font-size: 132px;
        font-weight: 500;
        line-height: normal;
    }

    &-subtitle {
        top: 955px;
        font-size: 62px;
        line-height: normal;
    }

    &-figure {
        position: absolute;
        top: 130px;
        left: 15px;
        right: 15px;
        width: 1012px;
        height: 1047px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section flashlight end */