@media (max-width: 1199px) {

    /* section screen */
    .T101-screen {
        height: 625px;

        .T101-title {
            top: 145px;
            font-size: 50px;
        }

        .T101-subtitle {
            top: 320px;
            font-size: 36px;
        }

        .T101-media-figure {
            width: 415px;
            height: 1028px;

            .T101-media-video {
                top: 105px;
                width: 280px;
                height: 367px;
            }
        }
    }

    /* section screen end */

    /* section powerbank */
    .T101-powerbank {
        height: 625px;

        .T101-title {
            top: 315px;
            font-size: 36px;
        }
    }

    /* section powerbank end */

    /* section battery */
    .T101-battery {
        height: 640px;

        .T101-title {
            top: 255px;
            font-size: 46px;
        }

        .T101-media-figure {
            top: 225px;
            left: 60px;
            right: 60px;
            width: 420px;
            height: 248px;
        }
    }

    /* section battery end */

    /* section sim */
    .T101-sim {
        height: 635px;

        .T101-title {
            top: 260px;
            font-size: 50px;
        }

        .T101-subtitle {
            top: 320px;
            font-size: 36px;
        }

        .T101-media-figure {
            top: 110px;
            width: 1120px;
            height: 414px;
        }
    }

    /* section sim end */
}

@media (max-width: 991px) {
    .T101-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section screen */
    .T101-screen {
        height: 530px;

        .T101-title {
            top: 125px;
            font-size: 42px;
        }

        .T101-subtitle {
            top: 275px;
            font-size: 30px;
        }

        .T101-media-figure {
            width: 350px;
            height: 868px;

            .T101-media-video {
                top: 85px;
                width: 240px;
                height: 315px;
            }
        }
    }

    /* section screen end */

    /* section powerbank */
    .T101-powerbank {
        height: 530px;

        .T101-title {
            top: 265px;
            font-size: 30px;
        }
    }

    /* section powerbank end */

    /* section battery */
    .T101-battery {
        height: 545px;

        .T101-title {
            top: 215px;
            font-size: 38px;
        }

        .T101-media-figure {
            top: 190px;
            left: 50px;
            right: 50px;
            width: 355px;
            height: 210px;
        }
    }

    /* section battery end */

    /* section sim */
    .T101-sim {
        height: 540px;

        .T101-title {
            top: 220px;
            font-size: 42px;
        }

        .T101-subtitle {
            top: 270px;
            font-size: 30px;
        }

        .T101-media-figure {
            top: 90px;
            width: 950px;
            height: 350px;
        }
    }

    /* section sim end */
}

@media (max-width: 767px) {
    .T101-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .T101-title,
    .T101-subtitle,
    .T101-description {
        max-width: 280px;
    }

    .T101-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .T101-subtitle {
        font-size: 24px !important;
    }

    .T101-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .T101-title[data-aos],
    .T101-subtitle[data-aos],
    .T101-description[data-aos],
    .T101-media-figure[data-aos] {
        transform: translate(0, 50px) !important;
    }

    .T101-title[data-aos].aos-animate,
    .T101-subtitle[data-aos].aos-animate,
    .T101-description[data-aos].aos-animate,
    .T101-media-figure[data-aos].aos-animate {
        transform: translate(0) !important;
    }

    /* section screen */
    .T101-screen {
        height: 605px;

        .T101-title {
            top: 40px;
        }

        .T101-subtitle {
            top: 155px;
        }

        .T101-media-figure {
            top: 285px;
            width: 300px;
            height: 744px;

            .T101-media-video {
                top: 75px;
                width: 205px;
                height: 268px;
            }
        }
    }

    /* section screen end */

    /* section powerbank */
    .T101-powerbank {
        height: 650px;

        .T101-title,
        .T101-subtitle,
        .T101-description {
            text-align: left;
        }

        .T101-title {
            top: 455px;
        }
    }

    /* section powerbank end */

    /* section battery */
    .T101-battery {
        height: 400px;

        .T101-title,
        .T101-subtitle,
        .T101-description {
            max-width: none;
        }

        .T101-title {
            top: 165px;
        }

        .T101-media-figure {
            top: 135px;
            left: 15px;
            right: 15px;
            width: 300px;
            height: 178px;
        }
    }

    /* section battery end */

    /* section sim */
    .T101-sim {
        height: 540px;

        &::before {
            height: 36.5%;
        }

        .T101-title {
            top: 40px;
        }

        .T101-subtitle {
            top: 85px;
        }

        .T101-media-figure {
            top: 190px;
            left: 15px;
            right: 15px;
            width: 800px;
            height: 295px;
        }
    }

    /* section sim end */
}