@media (max-width: 1199px) {

    /* section intro */
    .T20-intro {
        height: 610px;

        &-title,
        &-subtitle,
        &-features {
            left: 10%;
            right: 10%;
        }

        &-title {
            top: 160px;
            font-size: 85px;
        }

        &-subtitle {
            top: 255px;
            font-size: 26px;
        }

        &-features {
            top: 400px;

            &-list {
                gap: 16px
            }

            &-icon {
                width: 50px;
                height: 50px;
            }

            &-hint {
                font-size: 16px;
            }
        }

        &-figure {
            top: 70px;
            width: 204px;
        }
    }

    /* section intro end */

    /* section screen */
    .T20-screen {
        height: 530px;

        &-title {
            top: 195px;
            font-size: 60px;
        }

        &-figure {
            top: 25px;
            width: 218px;
        }

        &-size {
            font-size: 60px;
        }
    }

    /* section screen end */

    /* section battery */
    .T20-battery {
        height: 670px;

        &-title {
            top: 35px;
            font-size: 60px;
        }

        &-subtitle {
            top: 160px;
            font-size: 26px;
        }

        &-figure {
            top: 220px;
            width: 824px;
        }
    }

    /* section battery end */

    /* section case */
    .T20-case {
        height: 595px;

        &-title {
            top: 130px;
            font-size: 60px;
        }

        &-subtitle {
            top: 320px;
            font-size: 26px;
        }

        &-figure {
            width: 268px;
        }
    }

    /* section case end */
}

@media (max-width: 991px) {
    .T20-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section intro */
    .T20-intro {
        height: 520px;

        &-title,
        &-subtitle,
        &-features {
            left: 12.5%;
            right: 12.5%;
        }

        &-title {
            top: 135px;
            font-size: 72px;
        }

        &-subtitle {
            top: 215px;
            font-size: 22px;
        }

        &-features {
            top: 340px;

            &-list {
                gap: 14px;
            }

            &-icon {
                width: 40px;
                height: 40px;
            }

            &-hint {
                font-size: 14px;
            }
        }

        &-figure {
            top: 60px;
            width: 174px;
        }
    }

    /* section intro end */

    /* section screen */
    .T20-screen {
        height: 450px;

        &-title {
            top: 165px;
            font-size: 50px;
        }

        &-figure {
            top: 20px;
            width: 186px;
        }

        &-size {
            font-size: 50px;
        }
    }

    /* section screen end */

    /* section battery */
    .T20-battery {
        height: 580px;

        &-title {
            font-size: 50px;
        }

        &-subtitle {
            top: 140px;
            font-size: 22px;
        }

        &-figure {
            top: 195px;
            width: 700px;
        }
    }

    /* section battery end */

    /* section case */
    .T20-case {
        height: 520px;

        &-title {
            top: 110px;
            font-size: 50px;
        }

        &-subtitle {
            top: 270px;
            font-size: 22px;
        }

        &-figure {
            width: 228px;
        }
    }

    /* section case end */
}

@media (max-width: 767px) {
    .T20-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .T20-title,
    .T20-subtitle,
    .T20-description,
    .T20-design-title,
    .T20-intro-title,
    .T20-intro-subtitle,
    .T20-intro-features,
    .T20-screen-title,
    .T20-battery-title,
    .T20-battery-subtitle,
    .T20-case-title,
    .T20-case-subtitle {
        max-width: 280px;
    }

    .T20-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .T20-subtitle {
        font-size: 24px !important;
    }

    .T20-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .T20-title[data-aos],
    .T20-subtitle[data-aos],
    .T20-description[data-aos],
    .T20-media-figure[data-aos] {
        transform: translate(0, 50px);
    }

    .T20-title[data-aos].aos-animate,
    .T20-subtitle[data-aos].aos-animate,
    .T20-description[data-aos].aos-animate,
    .T20-media-figure[data-aos].aos-animate {
        transform: translate(0);
    }

    /* section intro */
    .T20-intro {
        height: 710px;

        &-title,
        &-subtitle,
        &-features {
            left: 15px;
            right: 15px;
        }

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 75px;
            font-size: 18px;
        }

        &-features {
            top: 130px;

            &-list {
                gap: 14px;
            }

            &-icon {
                width: 40px;
                height: 40px;
            }

            &-hint {
                margin-top: 8px;
            }
        }

        &-figure {
            top: 260px;
            width: 174px;
        }
    }

    /* section intro end */

    /* section screen */
    .T20-screen {
        height: 570px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-figure {
            top: 150px;
            width: 186px;
        }
    }

    /* section screen end */

    /* section battery */
    .T20-battery {
        height: 420px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 135px;
            font-size: 18px;
        }

        &-figure {
            top: 210px;
            left: 0;
            right: 0;
            width: 355px;
        }
    }

    /* section battery end */

    /* section case */
    .T20-case {
        height: 440px;

        &-title {
            top: 40px;
            font-size: 28px;
        }

        &-subtitle {
            top: 140px;
            font-size: 18px;
        }

        &-figure {
            left: 0;
            right: 0;
            width: 194px;
        }
    }

    /* section case end */
}