@media (max-width: 1199px) {

    /* section size */
    .KE2041G-size {
        height: 685px;

        .KE2041G-title {
            top: 320px;
            font-size: 64px;
        }

        .KE2041G-model {
            top: 185px;
            font-size: 72px;
        }

        .KE2041G-media-figure {
            top: 20px;
            width: 1576px;
            height: 1010px;
        }
    }

    /* section size end */

    /* section design */
    .KE2041G-design {
        height: 650px;

        .KE2041G-title {
            top: 220px;
            font-size: 56px;
        }

        .KE2041G-media-figure {
            top: -70px;
            width: 535px;
            height: 800px;
        }
    }

    /* section design end */

    /* section led */
    .KE2041G-led {
        height: 700px;

        .KE2041G-title {
            top: 345px;
            font-size: 46px;
        }

        .KE2041G-media-figure {
            top: -145px;
            width: 1020px;
            height: 1045px;
        }
    }

    /* section led end */
}

@media (max-width: 991px) {
    .KE2041G-landing {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    /* section size */
    .KE2041G-size {
        height: 580px;

        .KE2041G-title {
            top: 270px;
            font-size: 54px;
            line-height: 1;
        }

        .KE2041G-model {
            top: 155px;
            font-size: 60px;
        }

        .KE2041G-media-figure {
            top: 15px;
            width: 1340px;
            height: 858px;
        }
    }

    /* section size end */

    /* section design */
    .KE2041G-design {
        height: 550px;

        .KE2041G-title {
            top: 185px;
            font-size: 46px;
        }

        .KE2041G-media-figure {
            top: -60px;
            width: 455px;
            height: 680px;
        }
    }

    /* section design end */

    /* section led */
    .KE2041G-led {
        height: 595px;

        .KE2041G-title {
            top: 290px;
            font-size: 38px;
        }

        .KE2041G-media-figure {
            top: -120px;
            width: 865px;
            height: 886px;
        }
    }

    /* section led end */
}

@media (max-width: 767px) {
    .KE2041G-landing {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-inner {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .KE2041G-title,
    .KE2041G-subtitle,
    .KE2041G-description {
        max-width: 280px;
    }

    .KE2041G-title {
        margin: 0 0 15px;
        font-size: 28px !important;
        line-height: 1.25;
    }

    .KE2041G-subtitle {
        font-size: 24px !important;
    }

    .KE2041G-description {
        margin: 0 0 20px;
        font-size: 20px !important;
        line-height: 1.3;
    }

    .KE2041G-title[data-aos],
    .KE2041G-subtitle[data-aos],
    .KE2041G-description[data-aos],
    .KE2041G-media-figure[data-aos] {
        transform: translate(0, 50px) !important;
    }

    .KE2041G-title[data-aos].aos-animate,
    .KE2041G-subtitle[data-aos].aos-animate,
    .KE2041G-description[data-aos].aos-animate,
    .KE2041G-media-figure[data-aos].aos-animate {
        transform: translate(0) !important;
    }

    /* section size */
    .KE2041G-size {
        height: 580px;
        background-image: linear-gradient(3deg, rgba(109, 109, 109, 1) 0%, rgba(255, 255, 255, 1) 100%);

        .KE2041G-title {
            top: 150px;
            line-height: 1.2;
        }

        .KE2041G-model {
            top: 40px;
            font-size: 40px;
        }

        .KE2041G-media-figure {
            top: 155px;
            left: -110px;
            right: -110px;
            width: 1000px;
            height: 640px;
        }
    }

    /* section size end */

    //* section design */
    .KE2041G-design {
        height: 625px;

        .KE2041G-title {
            top: 40px;
        }

        .KE2041G-media-figure {
            top: 170px;
            left: 50px;
            right: 50px;
            width: 360px;
            height: 538px;
        }
    }

    /* section design end */

    /* section led */
    .KE2041G-led {
        height: 595px;

        .KE2041G-title {
            top: 40px;
        }

        .KE2041G-media-figure {
            top: 15px;
            left: -150px;
            right: -150px;
            width: 692px;
            height: 710px;
        }
    }

    /* section led end */
}