:root {
    --c-default: #313131;
    --case-figure-height: 1219px;
}

.E11-landing {
    overflow: hidden;
    max-width: 2160px;
    margin: auto;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--c-default);
    line-height: 1.25;

    section {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    img {
        max-width: 100%;
        pointer-events: none;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 2160px;
        padding-left: 9%;
        padding-right: 4.385%;
    }

    .d-flex {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .d-flex.row:before,
    .d-flex.row:after {
        display: none;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .section-dark,
    .section-dark .E11-title,
    .section-dark .E11-subtitle,
    .section-dark .E11-description {
        color: #fff;
    }
}

.E11-title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
        font-weight: 300;
    }

    .text-lead {
        font-size: 180%;
        font-weight: 900;
        line-height: normal;
    }
}

.E11-description {
    margin: 0 0 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;

    p {
        margin: 0;
    }

    p+p {
        margin-top: 20px;
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;
    }
}

.E11-media-figure {
    position: relative;
    opacity: 1 !important;
    margin: 0;

    .E11-media {
        max-width: 100%;
        max-height: 100%;
    }
}

/* section intro */
.E11-intro {
    z-index: 1;
    height: 1265px;
    padding-top: 0;
    padding-bottom: 0;
    color: #535766;

    &-shadow,
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-shadow {
        filter: drop-shadow(0 0px 120px #011439) drop-shadow(0 0px 120px #011439);
    }

    &-bg {
        background-color: #eaeaea;
        clip-path: polygon(0 0, 100% 0, 100% 42%, 0% 100%);
    }

    &-logo {
        position: absolute;
        top: 360px;
        left: 25px;
        width: 76px;
        height: 446px;
    }

    &-title,
    &-subtitle {
        position: absolute;
        z-index: 1;
        left: 160px;
        right: 15px;
    }

    &-title {
        top: 335px;
        font-size: 232px;
        color: #1d4081;
        line-height: 1;
    }

    &-subtitle {
        top: 580px;
        font-size: 106px;
        line-height: normal;
        letter-spacing: -0.028em;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 45px;
        left: 0;
        right: 0;
        width: 777px;
        height: 1230px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-aos {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center top;

        &.layer-1 {
            top: 1%;
            left: 3%;
            width: 379px;
            height: 1220px;
        }

        &.layer-2 {
            top: 0;
            left: 54.5%;
            width: 377px;
            height: 1182px;
        }
    }
}

/* section intro end */

/* section screen */
.E11-screen {
    height: 2180px;
    margin-top: -740px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #002260;
    text-align: right;

    &-title {
        position: absolute;
        z-index: 1;
        top: 1490px;
        left: 15px;
        right: 13.5%;
        font-size: 158px;
        line-height: 1;

        .text-lead {
            display: block;
            margin-top: 0.45em;
            font-size: 133.5%;
            line-height: 0.7;
        }
    }
}

/* section screen end */

/* section case */
.E11-case {
    height: 1720px;
    margin-top: -330px;
    padding-top: 0;
    padding-bottom: 0;
    color: #404040;

    &-shadow,
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-shadow {
        filter: drop-shadow(0 0px 120px #011439) drop-shadow(0 0px 120px #011439);

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 25%;
            background: linear-gradient(to bottom, rgba(#eaeaea, 0) 0%, rgba(#eaeaea, 1) 75%);
            content: '';
        }
    }

    &-bg {
        background-color: #eaeaea;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        clip-path: polygon(0 0, 100% 19%, 100% 100%, 0 100%);
    }

    &-title {
        position: absolute;
        z-index: 1;
        top: 890px;
        left: 15px;
        right: 15px;
        font-size: 136px;
        line-height: normal;
        letter-spacing: -0.015em;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 425px;
        left: 15px;
        right: 15px;
        width: 490px;
        height: 1219px;
        margin: auto;
        transform-origin: center top;

        &-aos {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-media {
        width: inherit;
        height: inherit;
    }
}

/* section case end */

/* section material */
.E11-material {
    $this: &;

    height: 1315px;
    margin-top: -185px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #eaeaea;
    color: #404040;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 25%;
        content: '';
    }

    &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(#eaeaea, 1) 0%, rgba(#eaeaea, 0) 25%);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to bottom, rgba(#eaeaea, 0) 0%, rgba(#eaeaea, 1) 75%);
    }

    &-block {
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        transition-property: opacity, transform;
        transition-duration: 0.5s;

        &.aos-animate {
            opacity: 1;
            transform: translate(0);
        }

        &--left {
            top: 610px;
            transform: translate(-100px);

            #{$this}-line {
                position: absolute;
                left: 0.1em;
                bottom: 100%;
                width: calc(100% - (var(--case-figure-height) * 0.9 / 1.55));
                height: 3.35em;
                border-width: 0.0625em 0 0 0.0625em;

                &::after {
                    left: 100%;
                }
            }
        }

        &--right {
            top: 165px;
            transform: translate(100px);
            text-align: right;

            #{$this}-line {
                top: 0.55em;
                right: 8.75em;
                width: 13.5%;
                border-width: 0.0625em 0 0 0;

                &::after {
                    right: 100%;
                }
            }
        }
    }

    &-title {
        font-size: 96px;
        line-height: normal;
        letter-spacing: -0.05em;
    }

    &-subtitle {
        font-size: 72px;
        line-height: normal;
    }

    &-line {
        position: absolute;
        border-style: solid;
        border-color: #de8a06;

        &::after {
            position: absolute;
            top: 0;
            width: 0.5625em;
            height: 0.5625em;
            border: 0.0625em solid #de8a06;
            border-radius: 50%;
            outline: solid 0.125em #de8a06;
            outline-offset: -0.285em;
            transform: translateY(-50%);
            content: '';
        }
    }
}

/* section material end */

/* section camera */
.E11-camera {
    height: 1545px;
    margin-top: -125px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #eaeaea;
    color: #404040;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 25%;
        content: '';
    }

    &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(#eaeaea, 1) 0%, rgba(#eaeaea, 0) 25%);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to bottom, rgba(#eaeaea, 0) 0%, rgba(#eaeaea, 1) 75%);
    }

    &-title,
    &-subtitle {
        position: absolute;
        z-index: 1;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 370px;
        color: #fff;
        font-size: 158px;
        line-height: normal;
    }

    &-subtitle {
        top: 585px;
        font-size: 86px;
        font-weight: 500;
    }

    &-figure {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 15px;
        right: 15px;
        width: 526px;
        height: 1865px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-screen {
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 11%;
        left: 11.5%;
        right: 11.5%;
        height: 28.5%;
        background-color: #000;
    }

    &-video {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}

/* section camera end */

/* section connector */
.E11-connector {
    height: 1305px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #eaeaea;
    color: #404040;

    &-title {
        position: absolute;
        top: 185px;
        left: 15px;
        right: 15px;
        font-size: 136px;
        line-height: normal;

        .text-lead {
            font-weight: 500;
        }
    }

    &-figure {
        position: absolute;
        top: 560px;
        left: 15px;
        right: 15px;
        width: 1177px;
        height: 471px;
        margin: auto;
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-usb {
        position: absolute;
        top: 46.25%;
        left: 40.3%;
        width: 20.1359%;
        height: 25.05%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: fade-in-and-out 3.2s infinite;
    }

    @keyframes fade-in-and-out {

        0%,
        100% {
            opacity: 0;
        }

        33%,
        66% {
            opacity: 1;
        }
    }
}

/* section connector end */

/* section slots */
.E11-slots {
    height: 1500px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    background: linear-gradient(to bottom, rgba(#eaeaea, 1) 0%, rgba(#051739, 1) 50%);

    &-title,
    &-subtitle {
        position: absolute;
        left: 15px;
        right: 15px;
    }

    &-title {
        top: 125px;
        font-size: 136px;
        line-height: normal;

        .text-light {
            font-weight: 300;
        }
    }

    &-subtitle {
        top: 605px;
        color: #e0b700;
        font-size: 136px;
        font-weight: 700;
    }

    &-figure {
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 15px;
        right: 15px;
        width: 703px;
        height: 1328px;
        margin: auto;

        &::before {
            position: absolute;
            z-index: -1;
            left: -7.5%;
            right: -7.5%;
            bottom: -2.5%;
            height: 20%;
            border-radius: 50%;
            background: #fff;
            filter: blur(140px);
            transform: translate3d(0, 0, 0);
            content: '';
        }
    }

    &-media {
        width: inherit;
        height: inherit;
    }

    &-layers {
        position: absolute;
        z-index: -1;
        top: 60.5%;
        right: 112%;
        width: 674px;
        height: 338px;
    }

    &-SIM,
    &-SD {
        position: absolute;
    }

    &-SIM {
        top: 0;
        left: 0;
        width: 260px;
        height: 159px;

        &:nth-of-type(2) {
            top: 52.5%;
        }
    }

    &-SD {
        top: 1.5%;
        right: 0;
        width: 281px;
        height: 318px;
    }
}

/* section slots end */